.nav-tab-wrapper ul li.General a.nav-tab:before {
    content: "\f111";
}

.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible {
    display: none !important;
}

.wbcom-support-info-wrap .wbcom-support-info-widgets {
    max-width: 100%;
}

/* Quotes background images/background color */

.wbcom-flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-column-gap: 30px;
    column-gap: 30px;
}

.wbcom-settings-section-wrap.bpquotes-section {
    padding: 20px !important;
}

.wbcom-settings-section-wrap#bpquotes_user_role {
    overflow: visible;
}

.wbcom-settings-section-wrap#bpquotes_user_role .selectize-dropdown-content {
    max-height: 135px;
}

.wbcom-settings-section-wrap#bpquotes_user_role .bpquotes-multi-selectize .selectize-input,
.wbcom-settings-section-wrap#bpquotes_user_role .bpquotes-multi-selectize input[type="text"] {
    height: auto;
    min-height: 40px;
}

.bpquotes-background-colors {
    padding-top: 30px;
    border-top: 1px solid #e3e2ec;
    margin-top: 30px;
    gap: 15px;
}

.bpquotes-heading h4 {
    margin: 0 0 5px;
}

.wbcom-tab-content .bpquotes-heading p.description {
    padding-top: 0;
}

.bpquotes-section+.bpquotes-section {
    margin: 20px 0 0;
    padding: 20px 0 0;
    clear: both;
}

.bpquotes-background-images,
.bpquotes-background-colors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.bpquotes-single-img-section,
.bpquotes-single-color-section {
    margin: 0 0 10px;
}

.bpquotes-single-color-section {
    width: 11.3%;
}

.bpquotes-single-color {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 120px !important;
    margin: 0;
    max-height: 120px !important;
}

.bpquotes-single-color-section .wp-picker-holder {
    position: absolute;
    z-index: 9999;
}

.bpquotes-single-color-section span.wp-picker-input-wrap.hidden {
    width: 100%;
}

.bpquotes-single-color-section .wp-picker-open+.wp-picker-input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
}

.bpquotes-single-color-section input.button.button-small.wp-picker-clear {
    line-height: 1 !important;
    height: 22px;
    display: block;
}

.bpquotes-bg-image-text-color,
.bpquotes-edit-color-section {
    display: block;
    margin: 0 15px;
    clear: both;
}

.bpquotes-bg-image-text-color label,
.bpquotes-edit-color-section label {
    display: block;
    font-size: 13px;
    margin: 0 0 5px;
}

input.regular-text.bpquotes-hidden-input.bpquotes-color-field {
    max-width: 100px;
}

.bpquotes-single-img,
.bpquotes-single-color {
    position: relative;
    cursor: pointer;
    min-width: 160px;
    max-width: 160px;
    min-height: 160px;
    max-height: 160px;
    overflow: hidden;
    margin: 5px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
}

.bpquotes-img-upload-div {
    position: relative;
    border: 2px transparent solid;
    cursor: pointer;
    width: 100%;
    max-width: 160px;
    overflow: hidden;
    float: right;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
}

.bpquotes-img-upload-div {
    border: 2px dashed #b4b9be;
    background: #f3f3f3;
}

.bpquotes-img-upload-div:after,
.bpquotes-single-img:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.bpquotes-single-img img {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    max-height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quotes-bg-images a#bpquotes-img-upload-btn {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bpquotes-single-img img,
.bpquotes-single-color {
    cursor: grab;
}

a#bpquotes-img-upload-btn {
    font-size: 20px;
    position: relative;
    text-align: center;
    outline: none;
    opacity: 0;
}

.bpquotes-single-img:hover a.bpquotes-remove-img,
.bpquotes-single-color:hover a.bpquotes-remove-color {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0px;
    background: rgb(255 255 255 / 50%);
    height: 32px;
    width: 32px;
    color: #000000;
    border-radius: 0 0 8px 0;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    font-weight: 400;
    text-decoration: none;
    outline: none;
    opacity: 1;
}

.bpquotes-single-img:hover>img {
    opacity: .8;
    -webkit-animation: lightBlur .5s forwards;
    animation: lightBlur .5s forwards;
}

a.bpquotes-remove-color,
a.bpquotes-remove-img {
    opacity: 0;
}

@-webkit-keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes lightBlur {
    0% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        filter: blur(4px);
    }
}


/* Quotes background color */

/* .bpquotes-color-section {
    position: relative;
    border: 2px dashed #b4b9be;
    cursor: pointer;
    min-width: 220px;
    overflow: hidden;
    float: left;
    margin: 10px;
    padding: 15px;
    background: #f3f3f3;
    border-radius: 5px;
} */

.bpquotes-color-section .bpquotes-colorpicker {
    margin: 0 0 10px;
}

span.bpquotes-colorpicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

span.bpquotes-colorpicker .wp-picker-container {
    display: inline-block;
    padding-top: 6px;
}

.bpquotes-colorpicker>span {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

a.bpquotes-add-bgcolor {
    background: #2a32ef;
    color: #fff;
    margin-top: 5px;
    padding: 12px 30px;
    font-size: 15px;
    text-shadow: none;
    line-height: 1;
    font-weight: 600;
    vertical-align: top;
    border: 0;
    box-shadow: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}

@media only screen and (max-width: 1200px) {

    .bpquotes-img-upload-div,
    .bpquotes-color-section {
        float: none;
    }
}

.wb-plugins_page_wbcom-license-page .update-nag,
.wb-plugins_page_wbcom-license-page .updated,
.wb-plugins_page_wbcom-license-page .error,
.wb-plugins_page_wbcom-license-page .notice-error,
.wb-plugins_page_wbcom-license-page .is-dismissible {
    display: none !important;
}

.wb-plugins_page_buddypress-quotes .update-nag,
.wb-plugins_page_buddypress-quotes .updated,
.wb-plugins_page_buddypress-quotes .error,
.wb-plugins_page_buddypress-quotes .notice-error,
.wb-plugins_page_buddypress-quotes .is-dismissible {
    display: none !important;
}

.toplevel_page_wbcomplugins .update-nag,
.toplevel_page_wbcomplugins .updated,
.toplevel_page_wbcomplugins .error,
.toplevel_page_wbcomplugins .notice-error,
.toplevel_page_wbcomplugins .is-dismissible {
    display: none !important;
}

.wb-plugins_page_wbcom-support-page .update-nag,
.wb-plugins_page_wbcom-support-page .updated,
.wb-plugins_page_wbcom-support-page .error,
.wb-plugins_page_wbcom-support-page .notice-error,
.wb-plugins_page_wbcom-support-page .is-dismissible,
.wb-plugins_page_wbcom-plugins-page .update-nag,
.wb-plugins_page_wbcom-plugins-page .updated,
.wb-plugins_page_wbcom-plugins-page .error,
.wb-plugins_page_wbcom-plugins-page .notice-error,
.wb-plugins_page_wbcom-plugins-page .is-dismissible {
    display: none !important;
}

@media only screen and (max-width: 1650px) {
    .bpquotes-single-color-section {
        width: auto;
    }
}

div#setting-error-bpquotes_message {
    position: absolute;
    left: 50px;
    z-index: 99;
    border-radius: 10px;
    line-height: normal;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #10AB00;
    display: inline-block !important;
}

@media screen and (max-width: 1189px) {
    div#setting-error-bpquotes_message {
        margin: 0;
        position: relative;
        left: auto;
        right: auto;
    }
}

div#setting-error-bpquotes_message button.notice-dismiss:before {
    color: red !important;
}
/*# sourceMappingURL=buddypress-quotes-admin.css.map */