<h1>Confidentiality Disclosures </h1>
<br>
<p>Nothing you submit by posting a comment on an article on [siteUrl] or sending an e-mail to [emailAddress] is confidential or will be considered confidential by the [siteName] or its owner.  The same applies to your comments on any of the social media properties of [siteName].</p>
<br>
<p>Everything you disclose in a comment on this site or on social media properties of [siteName] is PUBLIC.</p>
<br>
<p>Please do not disclose confidential information in your comments on a post or social media status update or posting, or in any e-mail that you send to [emailAddress].</p>
<br>
<h3>[siteName] Expectation of Privacy</h3>
<br>
<p>The information you submit in a comment on a post or social media status update or in an e-mail to [emailAddress] is NOT protected under the work product doctrine.</p>
<br>
<p>Have any questions? E-mail us at [emailAddress]. You can also read our full Privacy Policy on [ENTER YOUR PRIVACY POLICY PAGE LINK HERE]</p>
<br>
<h3> CONTACT US </h3>
<br/>
</br>[siteName]
<br/>Mailing address: [mailingAddress]
<br/>Phone: [phoneNumber]
<br/>[streetName]
<br/>[cityName], [stateName], [zipCode]
<br/>[countryName]
<br/>Contact Email: [emailAddress].</br>
<div>[facebookUrl]&nbsp;[googlePlusUrl]&nbsp;[linkedInUrl]&nbsp;[twitterUrl]</div>
</br>