<h2>FB Policy</h2><p>[siteName] ("we," "us," "our") takes its users ("user", "you," "your") privacy seriously.  This Privacy Policy is designed to let you know what information we collect through our Facebook App and/or Fan Page.   </p>
<p>We collect information in accordance with this Privacy Policy, and this Privacy Policy only applies to our information collection practices on Facebook.  We intend to comply with the requirements outlined by Facebook as it pertains to Developers as outlined here <a href="https://developers.facebook.com/policy/" target="_blank">https://developers.facebook.com/policy/</a> .   </p>
<p>As required by Facebook\'s Privacy Policy we have to let you know that we do not sell your data, however if we are acquired or are merged we may transfer this data.  In addition, you may request the removal of your data at any time by contacting us via email but we ask that you give us a reasonable amount of time to fulfill this request once it is made. </p> 
<p>By using our Application and/or Page you agree that you are granting us the right to use, copy, display, distribute, deliver, render, and publicy perform any content that you provide to us.  The use of our Application and/or Page is also prohibited in certain countries, specifically ones that have blocked the use of Facebook or where your use or our content would be prohibited. </p> 
<h3>Type of Information We Automatically Collect from Users:</h3>
<p>The information we collect depends on the information you allow others to view on your Facebook profile.  However we will collect at least the following information about you:</p>
<ul style="list-style-type:disc;">
<li>Name</li>
<li>Email</li>
<li>Gender</li>
<li>Birthday</li>
<li>Current City</li>
<li>Your profile picture</li>
<li>IP Address</li>
<li>Browser Type</li>
<li>Interactions with our App or Facebook Page</li>
</ul>
<h3>Type of Information We Might Collect if you have Authorized us to collect is:</h3>
<p>As we said before, we may collect more information depending on whether you have allowed us to collect it based on your user settings.  This includes:</p>
<ul style="list-style-type:disc;">
<li>Networks</li>
<li>Friends List</li>
<li>Pages</li>
<li>Interests</li>
<li>Information about how you interact with yoru friends</li>
<li>Profile information</li>
<li>Posts you have "liked"</li>
<li>Contact information</li>
<li>Status Updates</li>
<li>Calendar of Events</li>
<li>Whether or not you are online</li>
<li>"check ins" and friends that have checked you in</li>
<li>posts or pictures you are tagged in</li>
</ul>
<h3>How we use your information :</h3>
<ul style="list-style-type:disc;">
<li>We use data that we receive through Facebooks API to improve your experience with us</li>
<li>Analyze and develop new products</li>
<li>We may use your facebook ID with certain services that utilize our application, but only to the extent necessary to run our application</li>
<li>To enable you to use our applications features</li>
<li>To post on your wall regarding your use of our Application</li>
<li>To allow you to interact with others that use our Application or Page</li>
<li>To promote our Application, however any specific information about you will be in an aggregated, anonymized form, and any identifying information about you will be removed</li>
<li>To communicate with you about new features</li> 
<li>To update you about changes in our price or site</li>
<li>Verify your identity</li>
</ul>

<h3>Who do we share your information with?</h3>
<p><i>Application Partners and Third Party Service Providers:</i>  We may share your information with third parties we have partnered with specifically for our Application and/or Fan Page.  In addition, we may hire outside companies or third parties to help us manage, create, or maintain our Application and/or Fan Page.  These parties are contractually obligated to keep your information confidential, and they will only have access to information that is needed to perform their job.  </p>
<p><i>Other Users:</i>  If you have given us permission, and if one of the functions of our Application and/or Fan Page is to allow you to interact with others, you are going to be giving us the ability to share certain information with other users.  However, we only share this information if you have allowed us to and if it is allowed by Facebook. We may also analyze how you interact with other users and then aggregate this information, in an anonymized form, to allow us to see how you use our Application and/or Page.</p>  
<p><i>Legal Uses:</i>  We may disclose your information if required by a subpoena, through any legal process, to comply with any law or regulation, or by request of any law enforcement agency.  We may also disclose your information if we reasonably believe it is necessary to prevent harm or injury or loss, in any way, to us or any third party. </p> 
<p><i>Business Acquisition or Merger: </i> If we are acquired or sell our business we may transfer your information.  You may contact us in the event this happens if you have any concerns with the transfer of your data. </p> 
<h3>Controlling your Data</h3>
<p>You may request that we delete any data about you at ay time.  Unless you do so, however, we may retain your data until you ask us to delete it, even if we discontinue the Application and/or Page.  You may also stop us from collecting information about you if you uninstall our App or remove yourself from our Page or if your account is deleted.  We may provide you with the ability to review, correct, or delete your information.  </p>
<h3>Other Disclosures and Assurances</h3>
<p>We DO NOT sell/transfer/give information about your use of Facebook to third parties unless authorized in this Agreement.  </p>
<p>We use reasonable safeguards and protections to protect your data.  We may have servers located in different jurisdictions so you are consenting to the transfer of this information from your residence to our servers.  </p>
<p>We do not allow users under 13 to use our Application or Fan Page and will delete anyone we suspect is under age. </p>
<p>We may update this Privacy Policy as needed.  If we do, we will post a notice on here of the changes and when this Policy was last updated.  </p>