.activity-list {
    .wcfm_product_review,
    .wcfm_product_create,
    .wcfm_order_create {
        blockquote.wp-embedded-content {
            display: none;
        }

        .activity-inner iframe.wp-embedded-content {
            min-height: 307px;
        }
    }
}

.activity-inner .rwcfm-slider-wrapper {

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 25px;
    }

    .slick-prev:after,
    .slick-next:after {
        line-height: 1;
    }

    .slick-prev:hover:after,
    .slick-next:hover:after {
        color: var(--reign-color-black);
    }

    .slick-prev,
    .slick-next {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0;
        height: 50px;
        width: 30px;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
        top: 50%;
        border-radius: 4px;

        &:focus {
            background: rgba(0, 0, 0, 0.4);
            color: #fff;
        }

        i {
            font-size: 20px;
        }
    }
}