/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
# LD Dashboard
--------------------------------------------------------------*/
.dark-mode,
.dark-scheme {
  --ld-white-bg: var(--reign-site-sections-bg-color);
  --ld-heading-color: var(--reign-site-headings-color);
  --ld-border-color: var(--reign-site-border-color);
  --ld-border-color2: var(--reign-colors-theme);
  --ld-primary-color: var(--reign-colors-theme);
  --ld-hover_color: var(--reign-accent-hover-color);
  --ld-text_color: var(--reign-site-body-text-color);
  --ld-background: var(--reign-site-secondary-bg-color);
  --ld-background2: #FAF9F4;
  --ld-grey-color: var(--reign-site-alternate-text-color);
  --ld-box-shadow: var(--reign-more-options-box-shadow);
}

.ld-dashboard-add-edit-form .site-content {
  padding-top: 0;
}

.ld-dashboard-add-edit-form .content-wrapper {
  padding-bottom: 0;
}

button.ld-dashboard-share-post-add:hover {
  border: 0;
}

.dark-mode .ld-dashboard-share-post-single,
.dark-mode .acf-box,
.dark-mode .ld-dashboard-add-withdraw-method-form .ld-dashboard-withdraw-messages,
.dark-mode .ld-dashboard-wrapper .ld-dashboard-datatable-header,
.dark-mode .ld-dashboard-wrapper #ld-dashboard-report td.dataTables_empty,
.dark-mode .ld-dashboard-wrapper #ld-dashboard-report thead,
.dark-mode .ld-dashboard-wrapper #ld-dashboard-report .ld-dashboard-table.ld-dashboard-datatable,
.dark-mode .ld-quiz-progress-content-container p,
.dark-mode .ld-dashboard-withdrawal-history-content-table th,
.dark-mode .ld-dashboard-withdrawal-pending-msg,
.dark-mode .ld-dashboard-student-submitted-essays-container thead th,
.dark-mode .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-mode .ld-dashboard-student-submitted-essays-container tbody tr:nth-child(2n+2),
.dark-mode table#ld-dashboard-course-report-table,
.dark-mode #ld-dashboard-course-report-table thead,
.dark-mode .ld-dashboard-report-pager-info button.ld-dashboard-button,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table tr.odd,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table thead,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites thead,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites tr:nth-child(2n+2),
.dark-scheme .ld-dashboard-share-post-single,
.dark-scheme .acf-box,
.dark-scheme .ld-dashboard-add-withdraw-method-form .ld-dashboard-withdraw-messages,
.dark-scheme .ld-dashboard-wrapper .ld-dashboard-datatable-header,
.dark-scheme .ld-dashboard-wrapper #ld-dashboard-report td.dataTables_empty,
.dark-scheme .ld-dashboard-wrapper #ld-dashboard-report thead,
.dark-scheme .ld-dashboard-wrapper #ld-dashboard-report .ld-dashboard-table.ld-dashboard-datatable,
.dark-scheme .ld-quiz-progress-content-container p,
.dark-scheme .ld-dashboard-withdrawal-history-content-table th,
.dark-scheme .ld-dashboard-withdrawal-pending-msg,
.dark-scheme .ld-dashboard-student-submitted-essays-container thead th,
.dark-scheme .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-scheme .ld-dashboard-student-submitted-essays-container tbody tr:nth-child(2n+2),
.dark-scheme table#ld-dashboard-course-report-table,
.dark-scheme #ld-dashboard-course-report-table thead,
.dark-scheme .ld-dashboard-report-pager-info button.ld-dashboard-button,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table tr.odd,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table thead,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites thead,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites tr:nth-child(2n+2) {
  background: var(--reign-site-sections-bg-color);
}
.dark-mode .ld-dashboard-announcement-single,
.dark-scheme .ld-dashboard-announcement-single {
  background-color: var(--reign-site-sections-bg-color);
}
.dark-mode .ld-dashboard-content-wrapper,
.dark-mode .ld-dashbord-student-progress-item,
.dark-mode .ld-dashboard-add-edit-form .ld-dashboard-content-wrapper,
.dark-mode .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson,
.dark-mode .ld-dashboard-share-course-toggle-wrapper,
.dark-mode .ld-dashboard-share-toggle-content,
.dark-mode .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson:hover,
.dark-mode .ld-dashboard-course-builder-content.ui-sortable.ui-sortable-disabled div.ld-dashboard-course-builder-lesson,
.dark-mode .ld-dashboard-course-lesson-builder-topic-single,
.dark-mode .ld-dashboard-course-lesson-builder-quiz-single,
.dark-mode .ld-dashboard-quiz-builder-list-wrapper li,
.dark-mode .ld-dashboard-quizzes-builder-wrapper .ld-dashboard-quizzes-builder-content .ld-dashboard-quizz-builder-section-wrap,
.dark-mode .ld-dashboard-crate-lesson button.ld_dashboard_builder_new_section_heading:hover,
.dark-mode .ld-dashboard-content .select2-container .select2-selection--multiple .select2-selection__choice,
.dark-mode ol#ld-dashboard-invite-students-steps ul.select2-selection__rendered li.select2-selection__choice,
.dark-mode .ld-dashborad-add-edit-course .acf-field.custom-learndash-course-sub-form,
.dark-mode .ld-dashboard-withdrawal-form-content,
.dark-mode .ld-dashboard-withdrawal-history-content-table table,
.dark-mode .wbcom-ld-dashboard div#swal2-html-container ul li:nth-child(2n+2),
.dark-mode .ld-dashboard-announcement-content-header h4,
.dark-scheme .ld-dashboard-content-wrapper,
.dark-scheme .ld-dashbord-student-progress-item,
.dark-scheme .ld-dashboard-add-edit-form .ld-dashboard-content-wrapper,
.dark-scheme .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson,
.dark-scheme .ld-dashboard-share-course-toggle-wrapper,
.dark-scheme .ld-dashboard-share-toggle-content,
.dark-scheme .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson:hover,
.dark-scheme .ld-dashboard-course-builder-content.ui-sortable.ui-sortable-disabled div.ld-dashboard-course-builder-lesson,
.dark-scheme .ld-dashboard-course-lesson-builder-topic-single,
.dark-scheme .ld-dashboard-course-lesson-builder-quiz-single,
.dark-scheme .ld-dashboard-quiz-builder-list-wrapper li,
.dark-scheme .ld-dashboard-quizzes-builder-wrapper .ld-dashboard-quizzes-builder-content .ld-dashboard-quizz-builder-section-wrap,
.dark-scheme .ld-dashboard-crate-lesson button.ld_dashboard_builder_new_section_heading:hover,
.dark-scheme .ld-dashboard-content .select2-container .select2-selection--multiple .select2-selection__choice,
.dark-scheme ol#ld-dashboard-invite-students-steps ul.select2-selection__rendered li.select2-selection__choice,
.dark-scheme .ld-dashborad-add-edit-course .acf-field.custom-learndash-course-sub-form,
.dark-scheme .ld-dashboard-withdrawal-form-content,
.dark-scheme .ld-dashboard-withdrawal-history-content-table table,
.dark-scheme .wbcom-ld-dashboard div#swal2-html-container ul li:nth-child(2n+2),
.dark-scheme .ld-dashboard-announcement-content-header h4 {
  background: var(--reign-site-secondary-bg-color);
}
.dark-mode .ld-dashboard-location li.ld-dashboard-menu-tab.ld-dashboard-active a.ld-focus-menu-link,
.dark-scheme .ld-dashboard-location li.ld-dashboard-menu-tab.ld-dashboard-active a.ld-focus-menu-link {
  color: var(--reign-colors-theme);
}
.dark-mode .ld-dashboard-location li.ld-dashboard-menu-tab.ld-dashboard-active a.ld-focus-menu-link,
.dark-mode .ld-dashboard-location ul li a:hover,
.dark-scheme .ld-dashboard-location li.ld-dashboard-menu-tab.ld-dashboard-active a.ld-focus-menu-link,
.dark-scheme .ld-dashboard-location ul li a:hover {
  background: rgba(var(--reign-colors-theme-rgb), 0.04);
}
.dark-mode .ld-dashboard-location .ld-dashboard-left-panel .ld-dashboard-menu-divider-label,
.dark-mode .statistics-inner strong.learndash-statistics,
.dark-mode .statistics-inner strong.statistics,
.dark-mode h2.ld-dashboard-share-course-title,
.dark-mode .ld-dashboard-share-status span.ld-dashboard-item-label,
.dark-mode .ld-dashboard-share-course-toggle-wrapper H6,
.dark-mode .ld-mycourse-content h3 a,
.dark-mode .ld-dashborad-add-edit-course .acf-form .acf-label label,
.dark-mode .current-balance span,
.dark-mode .ld-dashboard-no-withdrawal-history-message,
.dark-mode .ld-quiz-progress-content-container p strong a,
.dark-mode .ld-dashboard-announcement-single,
.dark-mode .ld-dashboard-withdraw-method-single span.ld-dashboard-withdraw-method-title,
.dark-mode .ld-dashboard-withdrawal-history-content-table th,
.dark-mode .ld-dashboard-withdrawal-pending-msg,
.dark-mode .ld-dashboard-request-balance strong,
.dark-mode .ld-dashboard-student-submitted-essays-container thead th,
.dark-mode #ld-dashboard-course-report-table thead th,
.dark-mode .ld-dashboard-form-group-row .ld-dashboard-meeting-row-group input[type=checkbox]::before,
.dark-mode .ld-dashboard-report-pager-info button.ld-dashboard-button,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table thead th,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites thead th,
.dark-scheme .ld-dashboard-location .ld-dashboard-left-panel .ld-dashboard-menu-divider-label,
.dark-scheme .statistics-inner strong.learndash-statistics,
.dark-scheme .statistics-inner strong.statistics,
.dark-scheme h2.ld-dashboard-share-course-title,
.dark-scheme .ld-dashboard-share-status span.ld-dashboard-item-label,
.dark-scheme .ld-dashboard-share-course-toggle-wrapper H6,
.dark-scheme .ld-mycourse-content h3 a,
.dark-scheme .ld-dashborad-add-edit-course .acf-form .acf-label label,
.dark-scheme .current-balance span,
.dark-scheme .ld-dashboard-no-withdrawal-history-message,
.dark-scheme .ld-quiz-progress-content-container p strong a,
.dark-scheme .ld-dashboard-announcement-single,
.dark-scheme .ld-dashboard-withdraw-method-single span.ld-dashboard-withdraw-method-title,
.dark-scheme .ld-dashboard-withdrawal-history-content-table th,
.dark-scheme .ld-dashboard-withdrawal-pending-msg,
.dark-scheme .ld-dashboard-request-balance strong,
.dark-scheme .ld-dashboard-student-submitted-essays-container thead th,
.dark-scheme #ld-dashboard-course-report-table thead th,
.dark-scheme .ld-dashboard-form-group-row .ld-dashboard-meeting-row-group input[type=checkbox]::before,
.dark-scheme .ld-dashboard-report-pager-info button.ld-dashboard-button,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table thead th,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites thead th {
  color: var(--reign-site-headings-color);
}
.dark-mode h2.statistics-label,
.dark-mode .ld-dashboard-statistics-container .ld-dashboard-icons span.ld-icons,
.dark-scheme h2.statistics-label,
.dark-scheme .ld-dashboard-statistics-container .ld-dashboard-icons span.ld-icons {
  color: var(--reign-site-body-text-color) !important;
}
.dark-mode .ld-dashboard-groups-content-wrapper .ld-dashboard-group-edit-heading h3,
.dark-mode .ld-mycourse-content .ld-meta.ld-course-metadata ul li span,
.dark-mode .ld-dashboard-location ul li a,
.dark-mode .ld-dashboard-profile-form-field-list label,
.dark-mode .ld-dashboard-student-courses li a,
.dark-mode .ld-dashboard-info-table td a,
.dark-mode .table_content_ld span,
.dark-mode .table_content_ld tr td,
.dark-mode .ld-dashboard-location ul li a,
.dark-mode .ld-dashboard-profile-form-field-list label,
.dark-mode .ld-dashboard-student-courses li a,
.dark-mode .ld-dashboard-info-table td a,
.dark-mode .table_content_ld tr td,
.dark-mode .ld-dashboard-course-progress ul li strong span,
.dark-mode .ld-dashboard-student-courses li strong span,
.dark-mode .ld-dashborad-add-edit-course .acf-form .acf-radio-list li label,
.dark-mode .ld-dashborad-add-edit-course .acf-form .acf-true-false label .message,
.dark-mode .ld-mycourse-content .ld-meta.ld-course-metadata ul li,
.dark-mode .acf-field p.description,
.dark-mode .current-balance p,
.dark-mode .ld-dashboard-withdraw-method-single .ld-dashboard-withdraw-method-content,
.dark-mode .ld-dashboard-withdraw-method-fields small,
.dark-scheme .ld-dashboard-groups-content-wrapper .ld-dashboard-group-edit-heading h3,
.dark-scheme .ld-mycourse-content .ld-meta.ld-course-metadata ul li span,
.dark-scheme .ld-dashboard-location ul li a,
.dark-scheme .ld-dashboard-profile-form-field-list label,
.dark-scheme .ld-dashboard-student-courses li a,
.dark-scheme .ld-dashboard-info-table td a,
.dark-scheme .table_content_ld span,
.dark-scheme .table_content_ld tr td,
.dark-scheme .ld-dashboard-location ul li a,
.dark-scheme .ld-dashboard-profile-form-field-list label,
.dark-scheme .ld-dashboard-student-courses li a,
.dark-scheme .ld-dashboard-info-table td a,
.dark-scheme .table_content_ld tr td,
.dark-scheme .ld-dashboard-course-progress ul li strong span,
.dark-scheme .ld-dashboard-student-courses li strong span,
.dark-scheme .ld-dashborad-add-edit-course .acf-form .acf-radio-list li label,
.dark-scheme .ld-dashborad-add-edit-course .acf-form .acf-true-false label .message,
.dark-scheme .ld-mycourse-content .ld-meta.ld-course-metadata ul li,
.dark-scheme .acf-field p.description,
.dark-scheme .current-balance p,
.dark-scheme .ld-dashboard-withdraw-method-single .ld-dashboard-withdraw-method-content,
.dark-scheme .ld-dashboard-withdraw-method-fields small {
  color: var(--reign-site-body-text-color);
}
.dark-mode .ld-dashboard-content-wrapper,
.dark-mode .ld-dashboard-share-lesson-wrapper,
.dark-mode .ld-dashboard-share-topic-wrapper,
.dark-mode .ld-dashboard-share-quiz-wrapper,
.dark-mode .ld-dashboard-share-post-single,
.dark-mode .ld-dashboard-lesson-builder-wrapper,
.dark-mode .ld-dashboard-withdrawal-content,
.dark-mode .ld-dashboard-content,
.dark-mode .ld-dashboard-inline-links ul,
.dark-mode .ld-dashboard-seperator span:after,
.dark-mode .ld-quiz-progress-content-container p,
.dark-mode .ld-dashboard-withdrawal-history-content-table,
.dark-mode .ld-dashboard-single-group-wrapper,
.dark-mode .ld-dashboard-student-submitted-essays-container thead th,
.dark-mode .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-mode .ld-dashboard-video-playlist-select-wrap-section,
.dark-mode .ld-dashboard-student-submitted-essays-container,
.dark-mode .ld-dashboard-student-submitted-essays-container thead th,
.dark-mode .ld-dashboard-student-submitted-essays-container tbody tr:nth-child(2n+2),
.dark-mode .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-mode .ld-dashboard-load-more-wrapper button.ld-dashboard-builder-load-more,
.dark-scheme .ld-dashboard-content-wrapper,
.dark-scheme .ld-dashboard-share-lesson-wrapper,
.dark-scheme .ld-dashboard-share-topic-wrapper,
.dark-scheme .ld-dashboard-share-quiz-wrapper,
.dark-scheme .ld-dashboard-share-post-single,
.dark-scheme .ld-dashboard-lesson-builder-wrapper,
.dark-scheme .ld-dashboard-withdrawal-content,
.dark-scheme .ld-dashboard-content,
.dark-scheme .ld-dashboard-inline-links ul,
.dark-scheme .ld-dashboard-seperator span:after,
.dark-scheme .ld-quiz-progress-content-container p,
.dark-scheme .ld-dashboard-withdrawal-history-content-table,
.dark-scheme .ld-dashboard-single-group-wrapper,
.dark-scheme .ld-dashboard-student-submitted-essays-container thead th,
.dark-scheme .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-scheme .ld-dashboard-video-playlist-select-wrap-section,
.dark-scheme .ld-dashboard-student-submitted-essays-container,
.dark-scheme .ld-dashboard-student-submitted-essays-container thead th,
.dark-scheme .ld-dashboard-student-submitted-essays-container tbody tr:nth-child(2n+2),
.dark-scheme .ld-dashboard-student-submitted-essays-container tfoot th,
.dark-scheme .ld-dashboard-load-more-wrapper button.ld-dashboard-builder-load-more {
  border-color: var(--reign-site-border-color);
}
.dark-mode #ld-dashboard-report table.dataTable.no-footer,
.dark-mode #ld-dashboard-report table.dataTable thead th,
.dark-mode #ld-dashboard-report table.dataTable thead td,
.dark-mode #ld-dashboard-report .dataTables_wrapper .dataTables_filter input,
.dark-mode div#ld-dashboard-report-table_paginate .paginate_button,
.dark-mode #ld-dashboard-report table.dataTable tbody tr,
.dark-mode #ld-dashboard-report table.ld-dashboard-table.ld-dashboard-datatable.dataTable.display tbody td,
.dark-mode .ld-dashbord-course-particulars,
.dark-mode .ld-dashboard-time-spent-on-a-course-summary .revenue-particulars-wrapper,
.dark-mode table#ld-dashboard-course-report-table,
.dark-mode #ld-dashboard-course-report-table.ld-dashboard-table.ld-dashboard-datatable.dataTable.display tbody td,
.dark-mode #ld-dashboard-course-report-table thead th,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table,
.dark-mode #ld-dashboard-course-report-table_length select,
.dark-mode #ld-dashboard-course-report table.dataTable thead th,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites td,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites th,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites,
.dark-mode .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites td,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs tbody td,
.dark-scheme #ld-dashboard-report table.dataTable.no-footer,
.dark-scheme #ld-dashboard-report table.dataTable thead th,
.dark-scheme #ld-dashboard-report table.dataTable thead td,
.dark-scheme #ld-dashboard-report .dataTables_wrapper .dataTables_filter input,
.dark-scheme div#ld-dashboard-report-table_paginate .paginate_button,
.dark-scheme #ld-dashboard-report table.dataTable tbody tr,
.dark-scheme #ld-dashboard-report table.ld-dashboard-table.ld-dashboard-datatable.dataTable.display tbody td,
.dark-scheme .ld-dashbord-course-particulars,
.dark-scheme .ld-dashboard-time-spent-on-a-course-summary .revenue-particulars-wrapper,
.dark-scheme table#ld-dashboard-course-report-table,
.dark-scheme #ld-dashboard-course-report-table.ld-dashboard-table.ld-dashboard-datatable.dataTable.display tbody td,
.dark-scheme #ld-dashboard-course-report-table thead th,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs table,
.dark-scheme #ld-dashboard-course-report-table_length select,
.dark-scheme #ld-dashboard-course-report table.dataTable thead th,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites td,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites th,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites,
.dark-scheme .ld-dashboard-sent-invites-details table.invite-anyone-sent-invites td,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs tbody td {
  border-color: var(--reign-site-border-color) !important;
}
.dark-mode .custom-learndash-pagination li a,
.dark-mode .custom-learndash-pagination-nav button.ld-dashboard-pagination-btn,
.dark-scheme .custom-learndash-pagination li a,
.dark-scheme .custom-learndash-pagination-nav button.ld-dashboard-pagination-btn {
  background-color: var(--reign-site-sections-bg-color);
  color: var(--reign-site-body-text-color);
}
.dark-mode .ld-dashboard-tab-buttons-filter a,
.dark-mode .ld-dashboard-inline-links ul li a,
.dark-scheme .ld-dashboard-tab-buttons-filter a,
.dark-scheme .ld-dashboard-inline-links ul li a {
  color: var(--reign-site-link-color);
}
.dark-mode .ld-mycourse-content .ld-mycourses-stats span.ld-icons,
.dark-mode .ld-dashboard-wbgrid .mycourse-footer,
.dark-scheme .ld-mycourse-content .ld-mycourses-stats span.ld-icons,
.dark-scheme .ld-dashboard-wbgrid .mycourse-footer {
  background: rgba(217, 223, 236, 0.05);
}
.dark-mode .ld-dashboard-course-builder-lesson .ld-dashboard-sortable-input,
.dark-mode .ld-dashboard-quizzes-builder-wrapper .ld-dashboard-quizzes-builder-content span.ld-dashboard-sortable-input,
.dark-mode .ld-dashboard-course-builder-lesson .ld-dashboard-course-lesson-builder-topic-single .ld-dashboard-sortable-input,
.dark-mode .ld-dashboard-course-builder-lesson .ld-dashboard-course-lesson-builder-quiz-single .ld-dashboard-sortable-input,
.dark-mode .ld-dashboard-quiz-builder-wrapper .ld-dashboard-quiz-builder-list-wrapper .ld-dashboard-sortable-input,
.dark-mode .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson .ld-dashboard-sortable-input-section,
.dark-mode .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson-dropdown .ld-dashboard-accordian-icon:before,
.dark-mode div#ld-dashboard-report-table_paginate .paginate_button,
.dark-mode .ld-dashboard-meeting-option-tooltip img,
.dark-scheme .ld-dashboard-course-builder-lesson .ld-dashboard-sortable-input,
.dark-scheme .ld-dashboard-quizzes-builder-wrapper .ld-dashboard-quizzes-builder-content span.ld-dashboard-sortable-input,
.dark-scheme .ld-dashboard-course-builder-lesson .ld-dashboard-course-lesson-builder-topic-single .ld-dashboard-sortable-input,
.dark-scheme .ld-dashboard-course-builder-lesson .ld-dashboard-course-lesson-builder-quiz-single .ld-dashboard-sortable-input,
.dark-scheme .ld-dashboard-quiz-builder-wrapper .ld-dashboard-quiz-builder-list-wrapper .ld-dashboard-sortable-input,
.dark-scheme .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson .ld-dashboard-sortable-input-section,
.dark-scheme .ld-dashboard-course-builder-wrapper .ld-dashboard-course-builder-lesson-dropdown .ld-dashboard-accordian-icon:before,
.dark-scheme div#ld-dashboard-report-table_paginate .paginate_button,
.dark-scheme .ld-dashboard-meeting-option-tooltip img {
  filter: invert(1);
}
.dark-mode #acf-popup .acf-popup-box,
.dark-mode .ld-dashboard-single-group-wrapper:hover,
.dark-scheme #acf-popup .acf-popup-box,
.dark-scheme .ld-dashboard-single-group-wrapper:hover {
  box-shadow: var(--reign-more-options-box-shadow);
}
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=text],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=password],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=date],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=datetime],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=datetime-local],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=email],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=month],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=number],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=search],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=tel],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=time],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=url],
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=week],
.dark-mode .ld-dashboard-content form#acf-form .acf-field textarea,
.dark-mode .ld-dashboard-content form#acf-form .acf-field select,
.dark-mode .ld-dashboard-content select,
.dark-mode .ld-dashboard-content #ld-dashboard-report .dataTables_wrapper .dataTables_filter input,
.dark-mode .ld-dashboard-content #ld-dashboard-report div#ld-dashboard-report-table_length select[name=ld-dashboard-report-table_length],
.dark-mode #ld-dashboard-course-report-table_length select, .dark-mode .ld-dashboard-student-course-report-tabs .ld-groups-datatable-footer div.dataTables_length select,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs .ld-dashboard-datatable-header input[type=search],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=text],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=password],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=date],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=datetime],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=datetime-local],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=email],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=month],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=number],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=search],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=tel],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=time],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=url],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=week],
.dark-scheme .ld-dashboard-content form#acf-form .acf-field textarea,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field select,
.dark-scheme .ld-dashboard-content select,
.dark-scheme .ld-dashboard-content #ld-dashboard-report .dataTables_wrapper .dataTables_filter input,
.dark-scheme .ld-dashboard-content #ld-dashboard-report div#ld-dashboard-report-table_length select[name=ld-dashboard-report-table_length],
.dark-scheme #ld-dashboard-course-report-table_length select,
.dark-scheme .ld-dashboard-student-course-report-tabs .ld-groups-datatable-footer div.dataTables_length select,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs .ld-dashboard-datatable-header input[type=search] {
  background: var(--reign-form-background-color);
  color: var(--reign-form-text-color);
  border-color: var(--reign-form-border-color) !important;
}
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=text]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=password]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=date]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=datetime]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=datetime-local]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=email]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=month]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=number]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=search]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=tel]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=time]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=url]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field input[type=week]:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field textarea:focus,
.dark-mode .ld-dashboard-content form#acf-form .acf-field select:focus,
.dark-mode .ld-dashboard-content select:focus,
.dark-mode .ld-dashboard-content #ld-dashboard-report .dataTables_wrapper .dataTables_filter input:focus,
.dark-mode .ld-dashboard-content #ld-dashboard-report div#ld-dashboard-report-table_length select[name=ld-dashboard-report-table_length]:focus,
.dark-mode #ld-dashboard-course-report-table_length select:focus, .dark-mode .ld-dashboard-student-course-report-tabs .ld-groups-datatable-footer div.dataTables_length select:focus,
.dark-mode .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs .ld-dashboard-datatable-header input[type=search]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=text]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=password]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=date]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=datetime]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=datetime-local]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=email]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=month]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=number]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=search]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=tel]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=time]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=url]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field input[type=week]:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field textarea:focus,
.dark-scheme .ld-dashboard-content form#acf-form .acf-field select:focus,
.dark-scheme .ld-dashboard-content select:focus,
.dark-scheme .ld-dashboard-content #ld-dashboard-report .dataTables_wrapper .dataTables_filter input:focus,
.dark-scheme .ld-dashboard-content #ld-dashboard-report div#ld-dashboard-report-table_length select[name=ld-dashboard-report-table_length]:focus,
.dark-scheme #ld-dashboard-course-report-table_length select:focus,
.dark-scheme .ld-dashboard-student-course-report-tabs .ld-groups-datatable-footer div.dataTables_length select:focus,
.dark-scheme .ld-dashboard-student-course-report-table-wrapper .ld-dashboard-student-course-report-tabs .ld-dashboard-datatable-header input[type=search]:focus {
  background: var(--reign-form-focus-background-color);
  color: var(--reign-form-focus-text-color);
  border-color: var(--reign-form-focus-border-color) !important;
}
.dark-mode .select2-container.-acf .select2-selection--multiple .select2-selection__choice,
.dark-scheme .select2-container.-acf .select2-selection--multiple .select2-selection__choice {
  background: var(--reign-site-secondary-bg-color);
  border-color: var(--reign-site-border-color);
}
.dark-mode .ld-dashboard-content .select2-container .select2-selection--multiple .select2-selection__choice,
.dark-scheme .ld-dashboard-content .select2-container .select2-selection--multiple .select2-selection__choice {
  color: var(--reign-site-body-text-color);
}