/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Course List
# Single Course
# Course Content
# Course Details Sidebar
# Single Lesson
# Course Dashboard
# Course Quiz
# Color Scheme
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.llms-form-field [type=text],
.llms-form-field [type=password],
.llms-form-field [type=email],
.llms-form-field [type=url],
.llms-form-field [type=tel],
.llms-form-field [type=number],
.redeem-voucher .form-row input[type=text] {
  background: var(--reign-form-background-color);
  color: var(--reign-form-text-color);
  border: 1px solid var(--reign-form-border-color);
  border-radius: var(--reign-global-form-radius);
  outline: none;
}
.llms-form-field [type=text]:focus,
.llms-form-field [type=password]:focus,
.llms-form-field [type=email]:focus,
.llms-form-field [type=url]:focus,
.llms-form-field [type=tel]:focus,
.llms-form-field [type=number]:focus,
.redeem-voucher .form-row input[type=text]:focus {
  background: var(--reign-form-focus-background-color);
  color: var(--reign-form-focus-text-color);
  border: 1px solid var(--reign-form-focus-border-color);
}

.llms-progress .progress-bar-complete {
  background: var(--reign-colors-theme);
}

.llms-button-action,
.llms-button-primary,
.llms-button-secondary {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border: 1px solid var(--reign-site-button-bg-color);
  border-radius: var(--reign-global-button-radius);
}
.llms-button-action:hover,
.llms-button-primary:hover,
.llms-button-secondary:hover {
  background-color: var(--reign-site-button-bg-hover-color);
  color: var(--reign-site-button-text-hover-color);
  border: 1px solid var(--reign-site-button-bg-hover-color);
}

.llms-table th,
.llms-table td {
  padding: 10px !important;
}

.llms-notification .llms-notification-dismiss {
  opacity: 1;
}

.llms-membership-list {
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
# Dashboard Login
--------------------------------------------------------------*/
.llms-person-login-form-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 20px;
  border-radius: var(--reign-global-border-radius);
  background-color: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
}
.llms-person-login-form-wrapper .llms-form-field.llms-cols-6,
.llms-person-login-form-wrapper .llms-cols-3.llms-cols-last {
  width: 100%;
  padding-bottom: 10px;
  text-align: left;
}
.llms-person-login-form-wrapper button#llms_login_button {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border: 1px solid var(--reign-site-button-bg-color);
  border-radius: var(--reign-global-button-radius);
  width: 150px;
  text-align: center;
}
.llms-person-login-form-wrapper .llms-form-fields label {
  margin-bottom: 8px;
  display: block;
  font-size: 16px;
  font-weight: normal !important;
}
.llms-person-login-form-wrapper .llms-form-field.type-checkbox {
  display: flex;
  padding-bottom: 0 !important;
}

/*--------------------------------------------------------------
# Course List
--------------------------------------------------------------*/
.post-type-archive-course .llms-progress {
  display: none;
}

.llms-loop-item-content {
  border-radius: var(--reign-global-border-radius);
  border-color: var(--reign-site-border-color);
  background-color: var(--reign-site-sections-bg-color);
}
.llms-loop-item-content .llms-loop-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.llms-loop-item-content .llms-loop-title {
  font-size: 18px;
  margin: 15px 0;
  line-height: 1.2;
  color: var(--reign-site-headings-color);
}
.llms-loop-item-content .llms-loop-title:hover {
  color: var(--reign-site-link-hover-color);
}

footer.llms-loop-item-footer {
  margin-top: auto;
}
footer.llms-loop-item-footer .llms-author {
  margin-bottom: 8px;
}
footer.llms-loop-item-footer span.llms-author-info.name,
footer.llms-loop-item-footer .llms-meta.llms-lessons-count p {
  color: var(--reign-site-headings-color);
  opacity: 0.8;
}
footer.llms-loop-item-footer .llms-meta.llms-difficulty,
footer.llms-loop-item-footer .llms-meta.llms-course-length {
  display: none;
}

.llms-pagination ul.page-numbers {
  list-style-type: none;
  margin: 20px 0 50px;
  padding: 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
.llms-pagination ul.page-numbers li a,
.llms-pagination ul.page-numbers li span {
  display: block;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  text-decoration: underline;
  border-radius: 8px;
  padding: 0 14px;
  background: var(--reign-site-sections-bg-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  box-shadow: 0 0 10px var(--reign-site-border-color);
}
.llms-pagination ul.page-numbers li .current {
  background: var(--reign-colors-theme);
  color: #fff;
}

/*--------------------------------------------------------------
# Single Course
--------------------------------------------------------------*/
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.rlla-vw-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.single-course .rlla-llms-banner {
  padding: 0 20px;
}

.rlla-llms-banner {
  background-color: #607387;
  overflow: hidden;
  margin-top: -40px;
  padding: 0 44px;
}
.rlla-llms-banner:before {
  content: "";
  opacity: 0.4;
  background-color: var(--reign-site-headings-color);
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 4%, #000 100%);
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 4%, #000 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.rlla-llms-banner .banner-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  object-fit: cover;
}

.rlla-course-banner-info {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 2;
}

.single-course .rlla-course-banner-inner {
  max-width: calc(100% - 480px);
  width: calc(100% - 480px);
}

.rlla-course-banner-inner {
  color: #fff;
  padding-top: 70px;
}
.rlla-course-banner-inner h1.entry-title {
  color: inherit;
  line-height: 1.25;
  margin-bottom: 20px;
}

.single-course .rlla-course-points {
  margin-bottom: 35px;
}
.single-course .rlla-course-points a.anchor-course-points {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.single-course .rlla-course-points a.anchor-course-points i {
  margin-left: 10px;
}

.rlla-course-banner-inner .rlla-course-single-meta {
  margin-bottom: 40px;
}

.rlla-course-banner-inner .avatar {
  border-radius: 50%;
  margin-right: 12px;
  max-width: 38px;
}
.rlla-course-banner-inner .author-name {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.rlla-course-banner-inner span.meta-saperator {
  color: #fff;
  margin: 0 15px;
}
.rlla-course-banner-inner .course-date {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.single-course .rlla-llms-content-wrap {
  padding-top: 35px;
  max-width: calc(100% - 400px);
}

/* Course Content */
div#lifter-course-content {
  padding-top: 35px;
}
div#lifter-course-content .llms-meta-info {
  margin: 0px;
  background: var(--reign-site-sections-bg-color);
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}
div#lifter-course-content .llms-meta-info .llms-meta-title {
  margin: 0 0 10px;
  line-height: 1;
}
div#lifter-course-content .llms-meta-info .llms-meta {
  margin-bottom: 5px;
}
div#lifter-course-content .llms-access-plan .llms-access-plan-content {
  border: 0px;
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-bottom: 0;
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
}
div#lifter-course-content .llms-access-plan .llms-access-plan-title {
  margin: 0;
  padding: 20px 10px 20px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  border-bottom: 1px solid var(--reign-site-border-color);
  background: none;
  color: var(--reign-site-headings-color);
}
div#lifter-course-content .llms-access-plan .llms-access-plan-pricing {
  padding: 30px 15px;
  background: var(--reign-colors-theme);
  margin: 0 -10px;
  color: #fff;
  position: relative;
}
div#lifter-course-content .llms-access-plan .llms-access-plan-footer {
  border: 0px;
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-top: 0;
  border-radius: 0 0 var(--reign-global-border-radius) var(--reign-global-border-radius);
  padding: 10px 20px 20px;
  margin: 0px;
  overflow: hidden;
}
div#lifter-course-content .llms-access-plan .llms-access-plan-footer .llms-button-action {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  font-weight: 700;
  padding: 18px;
  margin-top: 0px;
  text-align: center;
  border: none !important;
  width: 180px;
  text-transform: uppercase;
}
div#lifter-course-content .llms-instructor-info {
  margin-bottom: 20px;
}
div#lifter-course-content .llms-instructor-info .llms-cols [class*=llms-col-] {
  padding: 0 5px;
}
div#lifter-course-content .llms-instructor-info .llms-author {
  background: var(--reign-site-sections-bg-color);
  color: var(--reign-site-headings-color);
  border-color: var(--reign-site-border-color);
  border-top-color: var(--reign-colors-theme);
}
div#lifter-course-content .llms-instructor-info .llms-author .avatar {
  border-color: var(--reign-colors-theme);
}
div#lifter-course-content .llms-syllabus-wrapper .llms-section-title + .llms-lesson-preview {
  border-color: var(--reign-site-border-color);
}
div#lifter-course-content .llms-syllabus-wrapper .llms-lesson-preview {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  margin: 10px 0;
}
div#lifter-course-content .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-title {
  margin: 0 auto;
}
div#lifter-course-content .llms-syllabus-wrapper .llms-lesson-preview .llms-lesson-link {
  background-color: transparent;
  color: unset;
}
div#lifter-course-content .llms-syllabus-wrapper .llms-lesson-preview section {
  background: var(--reign-site-sections-bg-color);
  border-radius: var(--reign-global-border-radius);
}
div#lifter-course-content .llms-syllabus-wrapper .llms-lesson-preview section:hover {
  background: var(--reign-site-secondary-bg-color);
}
div#lifter-course-content .llms-favorite-wrapper button {
  color: inherit;
  outline: none;
}
div#lifter-course-content .llms-favorite-wrapper button:focus, div#lifter-course-content .llms-favorite-wrapper button:hover {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit;
  outline: none;
}
div#lifter-course-content .llms-lesson-preview .llms-icon-free {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
}
div#lifter-course-content #old_reviews h3 {
  margin-bottom: 0;
}
div#lifter-course-content #old_reviews .llms_review {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  padding: 20px;
  margin-top: 10px;
}
div#lifter-course-content #old_reviews .llms_review h6 {
  margin-bottom: 10px;
}
div#lifter-course-content #old_reviews .llms_review p {
  margin: 0;
}
div#lifter-course-content .review_box h3 {
  margin-bottom: 0;
}
div#lifter-course-content .review_box textarea {
  border-radius: var(--reign-global-form-radius) !important;
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Course Details Sidebar
--------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  .single-course .rlla-llms-content-wrap {
    max-width: 790px;
  }
  .rlla-single-course-sidebar.rlla-preview-wrap {
    margin-top: -260px;
  }
  .single-course .site-content .rlla-single-course-sidebar {
    max-width: 380px;
    flex: 0 0 42%;
    margin-left: auto;
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 991px) {
  .single-course .site-content .rlla-single-course-sidebar {
    max-width: 100%;
    flex: 0 0 100%;
    order: 1;
    margin: 30px 0 20px !important;
  }
  .single-course #lifter-course-content {
    order: 2;
    max-width: 100%;
  }
  .single-course .site-content .rlla-single-course-sidebar .widget-area-inner {
    margin: 0;
    padding: 0;
  }
  .single-course .site-content .rlla-single-course-sidebar .widget {
    width: 100%;
  }
  .single-course .rlla-course-banner-inner {
    width: 100%;
    max-width: 100%;
  }
}
.single-course .rlla-single-course-sidebar .widget.rlla-enroll-widget {
  box-shadow: 0 32px 54px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--reign-global-border-radius);
  border: 0;
  padding: 0 30px 10px;
  background-color: var(--reign-site-sections-bg-color);
  margin-bottom: 0;
}
.single-course .rlla-single-course-sidebar .widget.rlla-enroll-widget + ul.lifter-sidebar-widgets {
  margin-top: 30px;
  width: 100%;
}
.single-course .rlla-single-course-sidebar .widget.rlla-enroll-widget + ul.lifter-sidebar-widgets li:not(:last-child) {
  margin-bottom: 30px;
}
.single-course .rlla-single-course-sidebar .widget .rlla-course-preview-wrap {
  margin: 0 -30px;
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-course .rlla-single-course-sidebar .widget .rlla-course-preview-wrap.rlla-thumbnail-preview {
  display: block;
  height: 0;
  padding-bottom: 67.25%;
  position: relative;
  z-index: 1;
}
.single-course .rlla-preview-course-link-wrap {
  position: relative;
  padding: 68px 0;
  color: #fff;
}
.single-course .rlla-single-course-sidebar .widget .rlla-course-preview-wrap .rlla-preview-course-link-wrap {
  padding: 0;
}
.single-course .rlla-single-course-sidebar .widget .rlla-course-preview-wrap .rlla-preview-course-link-wrap .thumbnail-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  z-index: 1;
  background-color: #647385;
}
.single-course .rlla-single-course-sidebar .widget .rlla-course-preview-wrap.rlla-thumbnail-preview img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  object-fit: cover;
}
.single-course .lifter-sidebar-widgets {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lifterlms_pricing_button .link-to-llms-access-plans {
  width: 100%;
}

.lifterlms_pricing_button {
  text-align: center;
  margin: 20px 0;
}

.single-course.llms-pointer .lifterlms_course_information h3,
.rlla-tab-course-info h3 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}

.single-course.llms-pointer .lifterlms_course_information h3,
.single-course.llms-pointer .rlla-tab-course-info h3 {
  font-size: 16px;
}

.course .llms-meta-info {
  font-size: 14px;
  margin-top: 0;
}

.rlla-tab-course-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.rlla-tab-course-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rlla-tab-course-info ul li i {
  margin-right: 10px;
  min-width: 20px;
}
.rlla-tab-course-info ul li span.rlla-course-feature-value {
  margin-left: auto;
}
.rlla-tab-course-info ul li + li {
  border-top: 1px solid var(--reign-site-border-color);
  padding-top: 10px;
}

.single-course.llms-pointer .lifterlms_course_information div.llms-meta {
  margin-bottom: 10px;
  display: flex;
}

/*--------------------------------------------------------------
# Single Lesson
--------------------------------------------------------------*/
.single.single-lesson .rg-post-content .wp-block-group {
  background: var(--reign-site-sections-bg-color) !important;
  padding: 20px !important;
  border-color: var(--reign-site-border-color) !important;
  border-radius: var(--reign-global-border-radius);
}
.single.single-lesson .rg-post-content .wp-block-group > * {
  max-width: 100%;
}
.single.single-lesson .rg-post-content .wp-block-group .wp-block-list {
  margin-top: 5px;
  margin-left: 20px !important;
}
.single.single-lesson .rg-post-content .wp-block-group .wp-block-list > li {
  margin-bottom: 10px;
}
.single.single-lesson .llms-lesson-button-wrapper {
  padding-top: 20px;
}
.single.single-lesson .llms-lesson-button-wrapper .llms-button-action,
.single.single-lesson .llms-lesson-button-wrapper .llms-form-field.type-submit button.llms-button-primary {
  padding: 18px 40px;
  margin-top: 0;
  text-align: center;
}
.single.single-lesson nav.llms-course-navigation {
  margin-top: 20px;
}
.single.single-lesson nav.llms-course-navigation .llms-lesson-preview {
  background-color: transform;
  border: none;
}
.single.single-lesson nav.llms-course-navigation .llms-lesson-preview section {
  background: transparent;
}
.single.single-lesson nav.llms-course-navigation .llms-lesson-preview .llms-lesson-link {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  overflow: hidden;
  display: flex;
  flex: 1;
  color: var(--reign-site-headings-color);
}
.single.single-lesson nav.llms-course-navigation .llms-lesson-preview .llms-lesson-link .llms-lesson-preview-row {
  width: 100%;
}
.single.single-lesson nav.llms-course-navigation .llms-lesson-preview .llms-lesson-link:hover {
  color: var(--reign-colors-theme);
}

/*--------------------------------------------------------------
# Course Quiz
--------------------------------------------------------------*/
.single.single-llms_quiz aside#reign-sidebar-right {
  display: none;
}
.single.single-llms_quiz article.llms_quiz {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.single.single-llms_quiz article.llms_quiz .llms-return a {
  padding: 8px 20px;
  line-height: 1;
  display: inline-block;
  border-radius: 100px;
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  font-size: 14px;
  font-weight: 500;
}
.single.single-llms_quiz .llms-quiz-buttons button#llms_start_quiz {
  padding: 18px 40px;
  margin-top: 0;
  text-align: center;
}
.single.single-llms_quiz footer#llms-quiz-nav button#llms-prev-question,
.single.single-llms_quiz footer#llms-quiz-nav button.llms-button-action {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  padding: 15px 30px;
  margin-top: 0;
  text-align: center;
  border: none !important;
}
.single.single-llms_quiz #llms-quiz-wrapper .llms-quiz-attempt-results .llms-quiz-attempt-question .llms-status-icon-tip {
  position: absolute;
  right: -15px;
  top: 15px;
}
.single.single-llms_quiz #llms-quiz-wrapper .llms-quiz-attempt-results .llms-quiz-attempt-question .llms-status-icon {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

/*--------------------------------------------------------------
# Course Dashboard
--------------------------------------------------------------*/
.llms-student-dashboard .llms-sd-title {
  margin-top: 0;
}

.llms-student-dashboard .llms-sd-item .llms-sep {
  display: none;
}

.logged-in .llms-sd-layout-columns .llms-sd-nav .llms-sd-items .llms-sd-item a {
  position: relative;
  padding: 13px 15px;
  padding-left: 40px;
}

.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item {
  margin: 0 0 5px;
}
@media only screen and (max-width: 600px) {
  .lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item {
    margin: 0 5px;
  }
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item a {
  font-size: inherit;
  padding: 13px 15px;
  padding-left: 40px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  background: var(--reign-site-sections-bg-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item a:before {
  content: "\f15c";
  font-family: "Font Awesome 6 Pro";
  width: 20px;
  position: absolute;
  left: 13px;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item a:hover {
  color: #fff;
  background: var(--reign-colors-theme);
  border-color: var(--reign-colors-theme);
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.llms-sd-item.current a {
  color: #fff;
  background: var(--reign-colors-theme);
  border-color: var(--reign-colors-theme);
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.dashboard a:before {
  content: "\f0e4";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.view-memberships a:before {
  content: "\f234";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.view-achievements a:before {
  content: "\f091";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.view-certificates a:before {
  content: "\f19d";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.notifications a:before {
  content: "\f0f3";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.edit-account a:before {
  content: "\f044";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.redeem-voucher a:before {
  content: "\f02c";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.orders a:before {
  content: "\f1da";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.signout a:before {
  content: "\f011";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul li.view-favorites a:before {
  content: "\f004";
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  justify-content: center;
  color: #555;
  background: var(--reign-site-sections-bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-indent: -9999px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul .slick-arrow:before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid currentColor;
  border-left: 2px solid currentColor;
  -webkit-transform: translateX(2px) rotate(-45deg);
  -ms-transform: translateX(2px) rotate(-45deg);
  transform: translateX(2px) rotate(-45deg);
}
.lifterlms .llms-student-dashboard nav.llms-sd-nav ul .slick-arrow.slick-next:before {
  -webkit-transform: translateX(-2px) rotate(135deg);
  -ms-transform: translateX(-2px) rotate(135deg);
  transform: translateX(-2px) rotate(135deg);
}
.lifterlms .llms-student-dashboard.dashboard .llms-sd-section {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  padding: 15px;
  margin-bottom: 30px;
}
.lifterlms .llms-student-dashboard.edit-account .llms-person-form-wrapper {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  padding: 15px;
  margin-bottom: 30px;
}
.lifterlms .llms-student-dashboard .llms-sd-section.llms-my-orders .llms-button-primary {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
}
.lifterlms .llms-student-dashboard .llms-sd-section.llms-sd-grades .llms-table-sort select#llms-sd-table-sort {
  height: 40px !important;
}
.lifterlms .llms-student-dashboard .llms-sd-section.llms-sd-grades .llms-table-sort button.llms-button-secondary {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border: none;
  padding: 12px 25px;
}
.lifterlms .llms-student-dashboard .llms-sd-section.llms-my-favorites .llms-lesson-preview {
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  background: var(--reign-site-sections-bg-color);
  overflow: hidden;
}
.lifterlms .llms-student-dashboard .llms-sd-section.llms-my-favorites .llms-lesson-preview .llms-lesson-link {
  background: var(--reign-site-sections-bg-color);
  color: unset;
}
.lifterlms .llms-student-dashboard footer.llms-sd-section-footer a.llms-button-secondary {
  border-radius: var(--reign-global-button-radius);
  background: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
}
.lifterlms .llms-student-dashboard .llms-sd-grades .llms-table .llms-progress .progress__indicator {
  background: #fff;
  border-radius: 10px;
  padding: 0 5px;
  font-size: 12px !important;
  top: 5px !important;
  position: absolute;
}
.lifterlms .llms-student-dashboard .llms-sd-grades .llms-table .llms-progress .llms-progress-bar {
  border-radius: 100px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Color Scheme
--------------------------------------------------------------*/
.llms-loop-item-content .llms-meta,
.llms-loop-item-content .llms-author,
.llms-loop-item-content .llms-featured-pricing,
.llms-notification {
  color: var(--reign-site-body-text-color);
}

.llms-table thead tr,
.llms-table tfoot tr,
.llms-sd-notification-center,
.llms-notification,
.llms-lesson-preview section,
.llms-student-dashboard .orders-table {
  background: var(--reign-site-sections-bg-color);
}

.llms-table tbody tr:nth-child(odd) td,
.llms-table tbody tr:nth-child(odd) th,
.llms-notification:hover,
.llms-lesson-preview section:hover,
.llms-student-dashboard .orders-table tbody tr:nth-child(odd) td,
.llms-student-dashboard .orders-table tbody tr:nth-child(odd) th {
  background: var(--reign-site-secondary-bg-color);
}

.llms-notification .llms-notification-title {
  color: var(--reign-site-headings-color);
}

.llms-table,
.llms-table tfoot tr,
.llms-table th,
.llms-table td,
.llms-sd-notification-center,
.llms-sd-notification-center .llms-notification,
.llms-student-dashboard .orders-table,
.llms-student-dashboard .orders-table th,
.llms-student-dashboard .orders-table td {
  border-color: var(--reign-site-border-color);
}