/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Header Icons
# Activity Page
# Sidebar Widgets
# Header Social Icons
# PeepSo Tab Style
# PeepSo List Dots
# Edit Profile
# Classifieds
# PeepSo Multivendor Plugin
# PeepSo bbPress Plugin
# PS Tabs Slider
# PeepSo 3.0
# VIP
# BadgeOS
# myCred
# WooCommerce Integration
# bbPress Integration
# bbPress Integration
# LearnDash Integration
# Lifterlms Integration
# GamiPress
# PeepSo Monetization: LearnDash
# PeepSo Monetization: WooCommerce
# PeepSo Monetization: Paid Memberships Pro
# PeepSo Profile and Group Cover
# Better Messages
# WP Stories
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.wb-reign-theme {
  --DIVIDER: var(--reign-site-border-color);
  --DIVIDER--LIGHT: var(--reign-site-border-color);
  --DIVIDER--LIGHTEN: var(--reign-site-border-color);
  --DIVIDER--DARK: var(--reign-site-border-color);
  --DIVIDER--R: var(--reign-site-border-color);
  --DIVIDER--R--LIGHT: rgba(var(--reign-site-border-color-rgb), 0.5);
  --COLOR--PRIMARY: var(--reign-colors-theme);
  --COLOR--PRIMARY--SHADE: var(--reign-colors-theme);
  --COLOR--PRIMARY--LIGHT: rgba(var(--reign-colors-theme-rgb), 0.5);
  --COLOR--PRIMARY--ULTRALIGHT: rgba(var(--reign-colors-theme-rgb), 0.2);
  --COLOR--PRIMARY--DARK: var(--reign-colors-theme);
  --COLOR--GRADIENT--TEXT: var(--reign-site-link-color);
  --COLOR--GRADIENT--LINKS: var(--reign-site-link-color);
  --COLOR--GRADIENT--LINKS--HOVER: var(--reign-site-link-hover-color);
  --COLOR--APP: var(--reign-site-sections-bg-color);
  --COLOR--APP--LIGHTGRAY: var(--reign-site-secondary-bg-color);
  --COLOR--APP--GRAY: var(--reign-site-secondary-bg-color);
  --COLOR--APP--DARKGRAY: var(--reign-site-secondary-bg-color);
  --COLOR--APP--DARK: var(--reign-site-body-text-color);
  --COLOR--APP--DARKER: var(--reign-site-secondary-bg-color);
  --COLOR--HEADING: var(--reign-site-headings-color);
  --COLOR--TEXT: var(--reign-site-link-color);
  --COLOR--TEXT--LIGHT: var(--reign-site-body-text-color);
  --COLOR--TEXT--LIGHTEN: var(--reign-site-alternate-text-color);
  --COLOR--TEXT--INVERT: var(--reign-site-headings-color);
  --BORDER-RADIUS: var(--reign-global-border-radius);
  --BORDER-RADIUS--XL: var(--reign-global-border-radius);
  --c-ps-postbox-type-bg: var(--reign-site-sections-bg-color);
  --c-ps-checkbox-border: var(--reign-site-border-color);
  --BOX-SHADOW: var(--reign-more-options-box-shadow);
  --BOX-SHADOW--MD: var(--reign-more-options-box-shadow);
  --BOX-SHADOW--XL: var(--reign-more-options-box-shadow);
}

/* Form Elements */
.ps-comments__input,
.peepso .ps-input,
.plg-peepso .ps-input,
.ps-lightbox .ps-input,
.ps-landing .ps-input,
.ps-chat__wrapper .ps-input,
.ps-modal__wrapper .ps-input,
.psw-profile .ps-input,
.gc-widget .ps-input,
.widget .ps-input,
.ps-widget__wrapper--external .ps-input,
.peepso .ps-input.ps-input--select:read-only,
.plg-peepso .ps-input.ps-input--select:read-only,
.ps-lightbox .ps-input.ps-input--select:read-only,
.ps-landing .ps-input.ps-input--select:read-only,
.ps-chat__wrapper .ps-input.ps-input--select:read-only,
.ps-modal__wrapper .ps-input.ps-input--select:read-only,
.psw-profile .ps-input.ps-input--select:read-only,
.gc-widget .ps-input.ps-input--select:read-only,
.widget .ps-input.ps-input--select:read-only,
.ps-widget__wrapper--external .ps-input.ps-input--select:read-only,
.ps-message__recipients-select .selectize-input {
  background: var(--reign-form-background-color);
  color: var(--reign-form-text-color);
  border: 1px solid var(--reign-form-border-color);
  border-radius: var(--reign-global-form-radius) !important;
}
.ps-comments__input:hover, .ps-comments__input:focus,
.peepso .ps-input:hover,
.peepso .ps-input:focus,
.plg-peepso .ps-input:hover,
.plg-peepso .ps-input:focus,
.ps-lightbox .ps-input:hover,
.ps-lightbox .ps-input:focus,
.ps-landing .ps-input:hover,
.ps-landing .ps-input:focus,
.ps-chat__wrapper .ps-input:hover,
.ps-chat__wrapper .ps-input:focus,
.ps-modal__wrapper .ps-input:hover,
.ps-modal__wrapper .ps-input:focus,
.psw-profile .ps-input:hover,
.psw-profile .ps-input:focus,
.gc-widget .ps-input:hover,
.gc-widget .ps-input:focus,
.widget .ps-input:hover,
.widget .ps-input:focus,
.ps-widget__wrapper--external .ps-input:hover,
.ps-widget__wrapper--external .ps-input:focus,
.peepso .ps-input.ps-input--select:read-only:hover,
.peepso .ps-input.ps-input--select:read-only:focus,
.plg-peepso .ps-input.ps-input--select:read-only:hover,
.plg-peepso .ps-input.ps-input--select:read-only:focus,
.ps-lightbox .ps-input.ps-input--select:read-only:hover,
.ps-lightbox .ps-input.ps-input--select:read-only:focus,
.ps-landing .ps-input.ps-input--select:read-only:hover,
.ps-landing .ps-input.ps-input--select:read-only:focus,
.ps-chat__wrapper .ps-input.ps-input--select:read-only:hover,
.ps-chat__wrapper .ps-input.ps-input--select:read-only:focus,
.ps-modal__wrapper .ps-input.ps-input--select:read-only:hover,
.ps-modal__wrapper .ps-input.ps-input--select:read-only:focus,
.psw-profile .ps-input.ps-input--select:read-only:hover,
.psw-profile .ps-input.ps-input--select:read-only:focus,
.gc-widget .ps-input.ps-input--select:read-only:hover,
.gc-widget .ps-input.ps-input--select:read-only:focus,
.widget .ps-input.ps-input--select:read-only:hover,
.widget .ps-input.ps-input--select:read-only:focus,
.ps-widget__wrapper--external .ps-input.ps-input--select:read-only:hover,
.ps-widget__wrapper--external .ps-input.ps-input--select:read-only:focus,
.ps-message__recipients-select .selectize-input:hover,
.ps-message__recipients-select .selectize-input:focus {
  background: var(--reign-form-focus-background-color);
  color: var(--reign-form-focus-text-color);
  border: 1px solid var(--reign-form-focus-border-color);
}

/* Box Shadow */
.ps-dropdown__menu,
.ps-post__options-menu .ps-dropdown__menu,
.ps-notif__box,
.ps-posts__filter-box,
.ps-modal,
.ps-modal__wrapper,
.ps-chat__window-header-dropdown {
  box-shadow: var(--reign-more-options-box-shadow);
}

section.ps-page-unstyled {
  background: var(--reign-site-sections-bg-color);
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.ps-focus__cover-loading {
  z-index: 99;
}

.ps-text--muted {
  color: var(--reign-site-alternate-text-color) !important;
}

/*--------------------------------------------------------------
# Header Icons
--------------------------------------------------------------*/
#masthead .widget_peepsowidgetuserbar .ps-widget--userbar__notifications {
  margin-left: 0;
}
#masthead .widget_peepsowidgetuserbar .ps-widget--userbar__notifications > span:last-child {
  margin-right: 5px;
}
#masthead .widget_peepsowidgetuserbar .ps-avatar {
  width: 40px;
  max-width: 40px;
  height: 40px;
}
#masthead .widget_peepsowidgetuserbar .ps-avatar img {
  padding: 0;
  border: 0;
  box-shadow: none !important;
}
#masthead .widget_peepsowidgetuserbar .ps-widget--userbar__name {
  margin-left: 10px;
}
#masthead .widget_peepsowidgetuserbar .ps-dropdown--userbar {
  margin-left: 0;
  padding-left: 4px;
  padding-right: 6px;
  border-left: 0;
  height: 90px;
  line-height: 90px;
}
#masthead .widget_peepsowidgetuserbar .ps-dropdown__toggle.ps-js-dropdown-toggle {
  border: 0 !important;
}
#masthead .widget_peepsowidgetuserbar .ps-icon-angle-down:before {
  font-size: 16px;
  font-weight: 600;
}
#masthead .widget_peepsowidgetuserbar .ps-popover {
  top: 100% !important;
}

@media (min-width: 61.25em) {
  .widget_peepsowidgetuserbar .psw-userbar__inner .ps-dropdown__menu {
    top: 100%;
  }
}
.ps-notification {
  padding: 5px 10px;
}

/*--------------------------------------------------------------
# Activity Page
--------------------------------------------------------------*/
#peepso-wrap {
  padding: 0;
}

.ps-postbox__poll-options #ps-delete-option:hover {
  color: inherit;
}

.ps-giphy__search {
  padding: 10px;
}

.dark-mode .ps-giphy__powered,
.dark-scheme .ps-giphy__powered {
  filter: invert(1);
}

.ps-checkbox__label:before {
  border-radius: 6px;
}

.ps-checkbox__input:checked + .ps-checkbox__label:before {
  box-shadow: inset 0 0 0 2px var(--reign-colors-theme);
}

.ps-lightbox__close {
  background-color: var(--reign-site-sections-bg-color);
}

/*--------------------------------------------------------------
# Sidebar Widgets
--------------------------------------------------------------*/
.plg-peepso .widget-area .widget-area-inner {
  overflow: visible;
}

body .widget-area a.ps-notification__inside {
  display: flex;
}

.widget-area .ps-widget--profile__menu > a {
  display: block !important;
  padding-top: 5px;
  padding-bottom: 5px;
}

.widget-area .ps-widget--profile__title {
  font-size: 0.9375rem;
  margin-bottom: 15px;
}

.ps-widget--profile__cover-wrapper {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .plg-peepso aside.widget-area {
    order: 2;
  }
}
/*--------------------------------------------------------------
# Header Social Icons
--------------------------------------------------------------*/
.reign-social-icons {
  position: absolute;
  bottom: 14px;
  right: 14px;
}
@media (min-width: 61.24em) {
  .reign-social-icons {
    bottom: 55px;
    right: 20px;
  }
}
.reign-social-icons ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  .reign-social-icons ul {
    flex-direction: column;
  }
}
.reign-social-icons ul li {
  margin: 0 2px;
  padding: 2px;
  width: 26px;
  height: 26px;
  line-height: 0;
  border-radius: var(--reign-global-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5) !important;
  color: #424242 !important;
}
@media only screen and (max-width: 480px) {
  .reign-social-icons ul li {
    margin: 2px;
  }
}
.reign-social-icons ul li .fa,
.reign-social-icons ul li far {
  font-size: 16px;
}

.ps-focus__footer {
  background-color: var(--reign-site-sections-bg-color);
  box-shadow: 0 1px 1px var(--reign-site-border-color);
}

.ps-profile .ps-focus__footer {
  border-radius: 12px;
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .page-template-page-peepso-single-layout.reign-both_sidebar .reign-peepso-page .content-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.ps-btn.ps-tip.ps-tip--arrow {
  background-color: var(--reign-site-sections-bg-color) !important;
  border-radius: 4px !important;
}

/*--------------------------------------------------------------
# PeepSo Tab Style
--------------------------------------------------------------*/
.ps-focus__menu {
  --color-indicator: var(--reign-colors-theme);
}

.ps-tabs__wrapper {
  overflow: auto;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

.ps-tabs__wrapper::-webkit-scrollbar {
  display: none;
}

.ps-tabs__wrapper {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ps-focus__menu-item--active:after {
  background-color: var(--reign-colors-theme);
}

.ps-focus__menu-item--active,
.ps-tabs__item--active > a,
.ps-tabs__item--active i {
  color: var(--reign-colors-theme) !important;
}

/*--------------------------------------------------------------
# PeepSo List Dots
--------------------------------------------------------------*/
.ps-list-info-content-data {
  margin-top: 15px;
}
.ps-list-info-content-data .ps-list.ps-list--dots {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.ps-list-info-content-data .ps-list.ps-list--dots span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 8px;
}
.ps-list-info-content-data .ps-list.ps-list--dots span:before {
  content: none;
}

.ps-profile__about-field-static .ps-list.ps-list--dots span {
  display: block;
}

/*--------------------------------------------------------------
# Edit Profile
--------------------------------------------------------------*/
.ps-js-profile-item .ps-list-info-action {
  top: 10px;
}

/*--------------------------------------------------------------
# Classifieds
--------------------------------------------------------------*/
.ps-page--classifieds #component {
  position: relative;
}

.ps-widget--userbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reign_peepso_active .widget-area {
  z-index: 9;
}

.ps-toolbar {
  border-radius: var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
}

.peepso h4.widget-title {
  border-bottom: 1px solid var(--reign-site-border-color) !important;
}

/*--------------------------------------------------------------
# PeepSo Multivendor Plugin
--------------------------------------------------------------*/
.wbpm-peepo-multivendor-wrapper.dokan-dashboard .dokan-dashboard-content {
  padding: 0;
  border: 0;
}

.peepso .wbpm-peepo-multivendor-wrapper .woocommerce .products .button {
  border-radius: 30px !important;
  height: 40px !important;
  line-height: 40px !important;
  padding: 0 10px !important;
}

.select2-container.select2-container--default .select2-selection--single {
  padding: 0;
}

.product-edit-container .dokan-feat-image-upload a.dokan-feat-image-btn {
  background: #f0f0f0 !important;
}

.product-edit-container .dokan-feat-image-upload a.dokan-feat-image-btn:hover {
  background: #b4b4b4 !important;
}

.wbpm-peepo-multivendor-wrapper .woocommerce ul.products li.product .button.add_to_cart_button,
.wbpm-peepo-multivendor-wrapper .woocommerce ul.products li.product .added_to_cart,
.wbpm-peepo-multivendor-wrapper .woocommerce ul.products li.product .button.product_type_grouped,
.wbpm-peepo-multivendor-wrapper .woocommerce ul.products li.product .button.product_type_variable,
.wbpm-peepo-multivendor-wrapper .woocommerce ul.products li.product .button.product_type_external {
  width: 140px;
  margin-left: -70px;
}

/*--------------------------------------------------------------
# PeepSo bbPress Plugin
--------------------------------------------------------------*/
#bbp-user-navigation .bbp-user-edit-link {
  display: block !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.page-template-page-peepso-single-layout header.entry-header {
  display: none;
}

.reign-peepso-page #bbp-user-navigation ul {
  border: 0;
}

#bbpress-forums div.bbp-search-form input[type=submit] {
  background: transparent url(../img/svg/search.svg) no-repeat 7px !important;
}

.dark-mode #bbpress-forums div.bbp-search-form input[type=submit],
.dark-scheme #bbpress-forums div.bbp-search-form input[type=submit] {
  background: transparent url(../img/svg/search-white.svg) no-repeat 7px !important;
  background-size: 16px;
  background-color: unset !important;
}

#bbpress-forums #bbp-user-wrapper ul.bbp-replies {
  clear: both;
}

/*--------------------------------------------------------------
# PS Tabs Slider
--------------------------------------------------------------*/
#component .ps-tabs .slick-next,
#component .ps-tabs .slick-prev,
#bbp-user-navigation > ul .slick-next,
#bbp-user-navigation > ul .slick-prev,
.ps-profile__edit-tabs > .slick-next,
.ps-profile__edit-tabs > .slick-prev {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #fff !important;
  border: 0;
  font-size: 0;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  line-height: 5px;
  outline: none;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#component .ps-tabs .slick-next.slick-disabled,
#component .ps-tabs .slick-prev.slick-disabled,
#bbp-user-navigation > ul .slick-next.slick-disabled,
#bbp-user-navigation > ul .slick-prev.slick-disabled,
.ps-profile__edit-tabs > .slick-next.slick-disabled,
.ps-profile__edit-tabs > .slick-prev.slick-disabled {
  opacity: 0.3;
}

#component .ps-tabs .slick-next:before,
#component .ps-tabs .slick-prev:before,
#bbp-user-navigation > ul .slick-next:before,
#bbp-user-navigation > ul .slick-prev:before,
.ps-profile__edit-tabs > .slick-next:before,
.ps-profile__edit-tabs > .slick-prev:before {
  font-size: 18px;
  font-family: "dashicons";
  content: "\f341";
  color: #fff;
}

#component .ps-tabs .slick-next:before,
#bbp-user-navigation > ul .slick-next:before,
.ps-profile__edit-tabs > .slick-next:before {
  content: "\f345";
}

#component .ps-tabs .slick-next,
#bbp-user-navigation > ul .slick-next,
.ps-profile__edit-tabs > .slick-next {
  right: 4px;
}

#component .ps-tabs .slick-prev,
#bbp-user-navigation > ul .slick-prev,
.ps-profile__edit-tabs > .slick-prev {
  left: 4px;
}

label[for=account_first_name] {
  display: block;
  margin-bottom: 5px;
}

body #component .ps-tabs .slick-list,
body #bbp-user-navigation .slick-list,
body .ps-profile__edit-tabs .slick-list {
  border-radius: 5px;
}

/*--------------------------------------------------------------
# PeepSo 3.0
--------------------------------------------------------------*/
/* Common */
.gci,
.gcis,
.gcir {
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: normal;
}

.gcib {
  font-family: "Font Awesome 5 Brands" !important;
}

.gcis.gci-giphy {
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
}

.ps-notif__bubble {
  min-width: 13px;
  text-align: center;
}

.ps-post {
  font-size: inherit;
  border-radius: var(--reign-global-border-radius);
  --attachment-bg: var(--reign-site-sections-bg-color);
}

.ps-post,
.ps-postbox,
.ps-navbar,
.ps-posts__filters-group,
.ps-tabs.ps-members__tabs,
.ps-member,
.ps-members__header,
.ps-group,
.ps-focus,
.ps-profile__edit,
.ps-group__edit-fields,
.ps-friends__tabs-inner,
.ps-member__buttons .ps-member__action,
.ps-postbox__menu-item--type .ps-postbox__menu-item-link,
.ps-members__filters {
  box-shadow: none;
  border: 1px solid var(--reign-site-border-color);
}

#type-tab.ps-postbox__menu-item .ps-js-interaction-toggle {
  border-bottom: 1px solid var(--reign-site-border-color);
}

.ps-members__search .ps-input {
  border: 0;
}

.ps-input {
  font-size: inherit;
  color: inherit;
}

.ps-members__search .ps-input:hover,
.ps-members__search .ps-input:focus {
  border: 0;
}

/* Desktop Icons */
#masthead .widget_peepsowidgetuserbar .ps-avatar,
#masthead .psw-userbar__name,
#masthead .ps-dropdown--menu,
#masthead .psw-userbar__logout {
  order: 2;
}
#masthead .psw-notifs--userbar {
  margin-left: 0;
  margin-right: 0;
}
#masthead .ps-notif__box {
  top: 100% !important;
}
#masthead .ps-dropdown--menu {
  height: 90px;
  line-height: 90px;
}
#masthead .header-desktop.version-four .ps-dropdown--menu {
  height: 70px;
  line-height: 70px;
}
#masthead .ps-widget--userbar__notifications > span {
  margin-right: 0;
}

@media screen and (max-width: 960px) {
  .plg-peepso.header-v2 #masthead .reign-fallback-header.header-mobile .reign-navbar-user {
    margin-right: 0;
  }
}
/* PeepSo Buttons */
.ps-js-btn-edit-all i {
  margin-right: 5px;
}

/* PeepSo Activity */
.ps-reactions__likes + .ps-post__action:last-child {
  margin-left: 0;
}

.ps-tabs.ps-profile__edit-tabs {
  margin-top: 0;
}

#component .ps-tabs.ps-profile__edit-tabs {
  /*    margin: -15px;*/
  margin-bottom: 15px;
}

.ps-js-reign-socials-toggle {
  order: 1;
  font-size: 14px;
}

.ps-post,
.ps-post__action,
.ps-media__title {
  color: inherit;
}

.ps-post__action:not(.ps-reaction):last-child {
  margin-right: 0;
}

.ps-post__action:not(.ps-reaction):last-child {
  margin-right: 0;
}

.ps-comments__reply-send {
  flex: 0 0 auto;
}

.ps-comments__input-wrapper .ps-postbox__input-tag {
  line-height: 0;
}

.ps-reaction__like {
  filter: none;
}

@media (max-width: 480px) {
  .ps-comments__reply {
    flex-flow: row wrap;
  }
  .ps-comments__input-wrapper {
    width: calc(100% - 50px);
  }
}
/* PeepSo Members */
@media (max-width: 480px) {
  .ps-members {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ps-navbar {
  color: inherit;
}

.ps-notif__box {
  z-index: 99;
}

.ps-posts__filter-search {
  padding: 10px;
}

/* PeepSo Groups */
@media (max-width: 480px) {
  .ps-groups__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .ps-groups__header-inner {
    justify-content: flex-start;
    flex-flow: wrap;
  }
  .ps-groups__header .ps-groups__search {
    margin-bottom: 10px;
  }
}
.ps-modal__content .ps-members-item {
  margin-top: 15px;
}

.ps-btn__group .ps-btn--app {
  color: inherit;
}

.ps-group__edit-fields .ps-js-cancel,
.ps-group__edit-fields .ps-js-submit,
.ps-group__edit-fields .ps-js-btn-cancel,
.ps-group__edit-fields .ps-js-btn-submit {
  margin: 2px;
}

/* Create Group */
.ps-form--group .ps-form__row {
  text-align: left;
}
.ps-form--group .ps-form__label {
  width: 100px;
  text-align: left;
}
.ps-form--group .ps-btn {
  font-size: 90%;
  line-height: 1.2;
}

/* Single Member */
@media (max-width: 480px) {
  .ps-focus__cover:before,
  .ps-group__profile-focus .ps-focus__cover:before {
    padding-top: 200px;
  }
}
.ps-icon-edit.wbpwi-frontend-icon.orders {
  line-height: 0;
}

.ps-dropdown--menu .ps-dropdown__menu i.ps-icon-edit {
  display: inline-block;
}

.ps-list--share .ps-list__item {
  margin: 0 5px 10px 0;
  display: inline-block;
}

.ps-focus__cover-action .ps-dropdown__menu {
  left: auto;
  right: 0;
  padding: 10px;
}
.ps-focus__cover-action .ps-dropdown__menu > a {
  display: block;
  padding: 5px;
}

.ps-btn:disabled,
.ps-btn.ps-btn--disabled {
  cursor: not-allowed !important;
}

.ps-form.ps-form--album .ps-form__row {
  text-align: left;
}
.ps-form.ps-form--album .ps-form__row--half {
  width: 100%;
}
.ps-form.ps-form--album .ps-form__label {
  width: 150px;
  text-align: left;
}
.ps-form.ps-form--album .ps-btn {
  font-size: 90%;
  line-height: 1.2;
}

.ps-photos__upload-area.ps-js-photos-upload {
  margin-left: 150px;
}
@media (max-width: 980px) {
  .ps-photos__upload-area.ps-js-photos-upload {
    margin-left: 0px;
  }
}

.ps-icon-upload {
  cursor: pointer;
}

.ps-tabs__count,
.ps-friends__tab span.ps-tabs__count {
  min-width: 20px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
}

.ps-photos__header {
  z-index: 99;
  position: relative;
}

.ps-photos__list-item-inner img.loaded {
  height: 100%;
  object-fit: cover;
}

.ps-focus--centered .ps-badgeos__list-wrapper {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.ps-focus--centered .ps-badgeos__list-wrapper .ps-badgeos__list {
  justify-content: center;
}

.ps-filters .ps-filters__item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.ps-filters .ps-filters__item-label {
  width: 100px;
  text-align: left;
  display: inline-block;
}

/* Sidebar Widgets */
.dark-mode .peepso .ps-input:focus,
.dark-mode .plg-peepso .ps-input:focus,
.dark-mode .ps-lightbox .ps-input:focus,
.dark-mode .ps-landing .ps-input:focus,
.dark-mode .ps-chat__wrapper .ps-input:focus,
.dark-mode .ps-modal__wrapper .ps-input:focus,
.dark-mode .psw-profile .ps-input:focus,
.dark-mode .gc-widget .ps-input:focus,
.dark-mode .widget .ps-input:focus,
.dark-mode .ps-widget__wrapper--external .ps-input:focus,
.dark-scheme .peepso .ps-input:focus,
.dark-scheme .plg-peepso .ps-input:focus,
.dark-scheme .ps-lightbox .ps-input:focus,
.dark-scheme .ps-landing .ps-input:focus,
.dark-scheme .ps-chat__wrapper .ps-input:focus,
.dark-scheme .ps-modal__wrapper .ps-input:focus,
.dark-scheme .psw-profile .ps-input:focus,
.dark-scheme .gc-widget .ps-input:focus,
.dark-scheme .widget .ps-input:focus,
.dark-scheme .ps-widget__wrapper--external .ps-input:focus {
  box-shadow: none;
}

.ps-form--login .ps-input--icon {
  padding-left: 40px !important;
}

.ps-widget--external {
  font-size: inherit;
}

.ps-form--login-widget .ps-form__field {
  position: relative;
}
.ps-form--login-widget .ps-input__prepend {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.ps-form--login-widget .ps-input {
  padding-left: 40px !important;
  border: 0 !important;
}
.ps-form--login-widget button.ps-btn {
  font-size: 100%;
  line-height: 1.2;
}

.widget-area-inner .widget.widget_peepsowidgetme,
.widget-area .widget.widget_peepsowidgetme {
  padding: 20px;
  border-radius: var(--reign-global-border-radius);
}
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__avatar,
.widget-area .widget.widget_peepsowidgetme .psw-profile__avatar {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
}
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__cover,
.widget-area .widget.widget_peepsowidgetme .psw-profile__cover {
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
}
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__menu,
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__menu-title,
.widget-area .widget.widget_peepsowidgetme .psw-profile__menu,
.widget-area .widget.widget_peepsowidgetme .psw-profile__menu-title {
  margin-left: -20px;
  margin-right: -20px;
}
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__menu-item,
.widget-area .widget.widget_peepsowidgetme .psw-profile__menu-item {
  font-size: inherit;
}
.widget-area-inner .widget.widget_peepsowidgetme .psw-profile__menu-item:last-child,
.widget-area .widget.widget_peepsowidgetme .psw-profile__menu-item:last-child {
  border-bottom: 0;
}

.psw-profile__menu-item {
  color: inherit;
}

/* Messages */
.ps-chat__message-content {
  background-color: var(--reign-site-sections-bg-color);
}

.ps-postbox__menu-item--type .ps-postbox__menu-item-link > i.active {
  color: var(--reign-colors-theme);
}

@media (min-width: 61.25em) {
  .ps-messages__side,
  .ps-messages__view {
    border: 1px solid var(--reign-site-border-color);
  }
  .ps-messages__view {
    border-left: 0;
  }
}
@media (max-width: 61.24em) {
  .ps-messages__view--open,
  .ps-messages__side {
    border: 1px solid var(--reign-site-border-color);
  }
}
/* Notifications */
.ps-notifications-page__list {
  border: 1px solid var(--reign-site-border-color);
}

/*--------------------------------------------------------------
# VIP
--------------------------------------------------------------*/
.ps-vip__icon {
  max-width: 16px !important;
}

.ps-focus .ps-vip__icon {
  max-width: 20px !important;
}

/*--------------------------------------------------------------
# BadgeOS
--------------------------------------------------------------*/
.ps-badgeos__item {
  margin-right: 5px;
}

@media (max-width: 61.24em) {
  .ps-badgeos__list-wrapper {
    padding-left: 20px;
    text-align: center;
  }
  .ps-badgeos__list-wrapper .ps-badgeos__list {
    justify-content: center;
  }
}

#component .badgeos_achievement_main_container,
#component .badgeos_ranks_main_container {
  margin: 0;
  padding: 15px;
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}
#component .badgeos_achievement_main_container ul.ls_grid_container.list .ps-badgeos__item,
#component .badgeos_ranks_main_container ul.ls_grid_container.list .ps-badgeos__item {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#component .badgeos_achievement_main_container .ps-badgeos__item-desc p,
#component .badgeos_ranks_main_container .ps-badgeos__item-desc p {
  margin: 0;
}
#component .badgeos_achievement_main_container .ps-badgeos__item-image,
#component .badgeos_ranks_main_container .ps-badgeos__item-image {
  margin-right: 15px;
}
#component .badgeos_achievement_main_container a.ps-badgeos__item-title,
#component .badgeos_ranks_main_container a.ps-badgeos__item-title {
  font-size: 18px;
}
#component .badgeos_achievement_main_container #badgeos-achievements-container,
#component .badgeos_ranks_main_container #badgeos-achievements-container {
  border: 0;
}
#component .badgeos_achievement_main_container .ps-badgeos__item-desc,
#component .badgeos_ranks_main_container .ps-badgeos__item-desc {
  width: calc(100% - 65px);
}
#component .badgeos_achievement_main_container ul.ls_grid_container.grid,
#component .badgeos_ranks_main_container ul.ls_grid_container.grid {
  display: flex;
  flex-flow: row wrap;
}
#component .badgeos_achievement_main_container #badgeos-earned-achievements-container .grid > li,
#component .badgeos_achievement_main_container #badgeos-achievements-container .grid > li,
#component .badgeos_achievement_main_container #badgeos-list-ranks-container .grid > li,
#component .badgeos_achievement_main_container #badgeos-earned-ranks-container .grid > li,
#component .badgeos_ranks_main_container #badgeos-earned-achievements-container .grid > li,
#component .badgeos_ranks_main_container #badgeos-achievements-container .grid > li,
#component .badgeos_ranks_main_container #badgeos-list-ranks-container .grid > li,
#component .badgeos_ranks_main_container #badgeos-earned-ranks-container .grid > li {
  float: none;
  width: calc(50% - 20px);
  border: 1px solid var(--reign-site-border-color);
  padding: 20px;
  margin: 10px;
}
@media (max-width: 543px) {
  #component .badgeos_achievement_main_container #badgeos-earned-achievements-container .grid > li,
  #component .badgeos_achievement_main_container #badgeos-achievements-container .grid > li,
  #component .badgeos_achievement_main_container #badgeos-list-ranks-container .grid > li,
  #component .badgeos_achievement_main_container #badgeos-earned-ranks-container .grid > li,
  #component .badgeos_ranks_main_container #badgeos-earned-achievements-container .grid > li,
  #component .badgeos_ranks_main_container #badgeos-achievements-container .grid > li,
  #component .badgeos_ranks_main_container #badgeos-list-ranks-container .grid > li,
  #component .badgeos_ranks_main_container #badgeos-earned-ranks-container .grid > li {
    width: 100%;
  }
}
#component .badgeos_achievement_main_container .ps-badgeos__item,
#component .badgeos_ranks_main_container .ps-badgeos__item {
  width: 100%;
}

#badgeos-earned-achievements-container ul,
#badgeos-achievements-container ul,
#badgeos-earned-ranks-container ul,
#badgeos-list-ranks-container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#badgeos-earned-achievements-container .list > li:last-child,
#badgeos-achievements-container .list > li:last-child,
#badgeos-list-ranks-container .list > li:last-child,
#badgeos-earned-ranks-container .list > li:last-child {
  border: 0;
}

/*--------------------------------------------------------------
# myCred
--------------------------------------------------------------*/
.ps-focus__details #points-count > strong {
  margin-right: 3px;
}

/*--------------------------------------------------------------
# WooCommerce Integration
--------------------------------------------------------------*/
.ps-icon-edit.wbpwi-frontend-icon.rma-requests,
.ps-icon-edit.wbpwi-frontend-icon.rma-requests:before,
.ps-icon-edit.wbpwi-frontend-icon.following,
.ps-icon-edit.wbpwi-frontend-icon.following:before,
.ps-icon-edit.wbpwi-frontend-icon.support-tickets,
.ps-icon-edit.wbpwi-frontend-icon.support-tickets:before {
  font-family: "Font Awesome 6 Pro" !important;
  font-weight: 900;
}

.ps-icon-edit.wbpwi-frontend-icon.rma-requests:before {
  content: "\f079";
}

.ps-icon-edit.wbpwi-frontend-icon.following:before {
  content: "\f406";
}

.ps-icon-edit.wbpwi-frontend-icon.support-tickets:before {
  content: "\f3ff";
}

/*--------------------------------------------------------------
# bbPress Integration
--------------------------------------------------------------*/
.page-template-page-peepso-single-layout .bbp-header-search-wrap {
  display: none;
}

#bbp-user-navigation ul.slick-slider {
  border: 0;
}

#bbp-user-navigation > ul .slick-next,
#bbp-user-navigation > ul .slick-prev {
  top: 44%;
}

.wbpbi-bbpress-page #bbpress-forums #bbp-single-user-details #bbp-user-navigation ul li a {
  padding: 12px 18px;
  border: 1px solid var(--reign-site-border-color);
  border-bottom: 0;
}

.bbp-body #mycred-users-badges {
  margin-left: 10px;
}

/*--------------------------------------------------------------
# LearnDash Integration
--------------------------------------------------------------*/
.lm-course-item:after {
  display: table;
  content: "";
  clear: both;
}

/*--------------------------------------------------------------
# Lifterlms Integration
--------------------------------------------------------------*/
.peepso-lifterlms-wrapper .llms-progress {
  color: #fff;
}

.peepso-lifterlms-wrapper .llms-certificate {
  padding: 16px 8px;
}

/*--------------------------------------------------------------
# GamiPress
--------------------------------------------------------------*/
.ps-focus__info .gamipress-peepso-points,
.ps-focus__info .gamipress-peepso-achievements .gamipress-peepso-achievement,
.ps-focus__info .gamipress-peepso-ranks .gamipress-peepso-rank {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin: 10px 0 0;
  font-size: 14px;
}

@media (max-width: 61.24em) {
  .ps-focus__info .gamipress-peepso-points,
  .ps-focus__info .gamipress-peepso-achievements .gamipress-peepso-achievement,
  .ps-focus__info .gamipress-peepso-ranks .gamipress-peepso-rank {
    justify-content: center;
  }
}
.ps-focus__info .center-view .gamipress-peepso-points,
.ps-focus__info .center-view .gamipress-peepso-achievements .gamipress-peepso-achievement,
.ps-focus__info .center-view .gamipress-peepso-ranks .gamipress-peepso-rank {
  justify-content: center;
}

.ps-focus__info .gamipress-peepso-achievements .gamipress-peepso-achievement,
.ps-focus__info .gamipress-peepso-ranks .gamipress-peepso-rank {
  margin-top: 0;
  margin-bottom: 0;
}

.ps-focus__info .gamipress-peepso-points-type {
  margin: 0 10px 10px 0;
  display: flex;
  align-items: center;
}

.ps-focus__info .gamipress-peepso-points img.gamipress-points-thumbnail {
  border-radius: 100%;
  margin-right: 5px;
}

body #peepso #item-header-cover-image span.activity {
  font-size: 14px;
}

.ps-focus__info .gamipress-peepso-achievements .gamipress-peepso-achievement-type-label {
  margin-right: 10px;
  font-weight: 500;
}

.ps-focus__info .gamipress-peepso-achievements .gamipress-peepso-achievement-type-label {
  margin-right: 10px;
  font-weight: 500;
}

.ps-focus__info .gamipress-peepso-achievement-title {
  font-size: 14px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.ps-focus__info .gamipress-peepso-achievements img.gamipress-achievement-thumbnail {
  border-radius: 100%;
  margin-right: 5px;
}

.ps-focus__info .gamipress-peepso-ranks {
  margin-bottom: 10px;
  display: flex;
}
@media (max-width: 61.24em) {
  .ps-focus__info .gamipress-peepso-ranks {
    justify-content: center;
  }
}

.ps-focus__info .gamipress-peepso-ranks .gamipress-peepso-rank-label {
  margin-right: 10px;
  font-weight: 500;
}

.ps-focus__info .gamipress-peepso-ranks .gamipress-peepso-rank a.activity {
  font-size: 14px;
}

.ps-focus__info .gamipress-peepso-ranks img.gamipress-rank-thumbnail {
  border-radius: 100%;
  margin-right: 5px;
}

.ps-focus__info .gamipress-peepso-rank-title {
  margin-right: 10px;
}

.gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  background-color: #fff;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  padding-bottom: 20px;
  overflow: visible;
  align-items: flex-start;
}

@media (max-width: 1200px) {
  .gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 20px;
  }
}
@media (max-width: 61.24em) {
  .gamipress-user-points:not(.gamipress-layout-none) .gamipress-points {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.gamipress-user-points-image {
  margin-right: 15px;
  min-width: 50px;
}

.gamipress-user-points:not(.gamipress-layout-none) .gamipress-points .gamipress-user-points-description span {
  display: block;
  margin-top: 0;
}

.gamipress-open-close-switch {
  text-align: left;
  padding: 5px 0;
  font-size: 12px;
  text-transform: uppercase;
}

#gamipress-achievements-container[class*=gamipress-columns] > .gamipress-achievement,
.gamipress-user-points[class*=gamipress-columns] > .gamipress-points,
.gamipress-points-types[class*=gamipress-columns] > .gamipress-points-type,
.gamipress-ranks-container[class*=gamipress-columns] .gamipress-rank {
  background: #fff;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.gamipress-achievements-list .gamipress-achievements-container .gamipress-achievement-description > h4,
.gamipress-ranks-list .gamipress-ranks-container .gamipress-rank-description > h4 {
  margin-bottom: 5px;
  font-size: 14px;
}

table#gamipress-earnings-table thead,
table#gamipress-earnings-table tbody {
  background: #fff;
}

table#gamipress-earnings-table thead tr th,
table#gamipress-earnings-table tbody tr td {
  padding: 10px;
}

input#gamipress-achievements-search-input {
  height: 44px;
  vertical-align: middle;
}

.gamipress-logs-list .gamipress-log {
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid var(--reign-site-border-color);
}

.gamipress-logs-list .gamipress-log:first-child {
  border-top: 1px solid var(--reign-site-border-color);
}

#gamipress-achievements-filter select {
  margin-left: 0;
}

#gamipress-achievements-search {
  margin-right: 0;
}

.gamipress_achievements_widget #gamipress-achievements-search {
  width: 100%;
}

.gamipress_achievements_widget #gamipress-achievements-search label {
  display: block;
}

.gamipress_achievements_widget input#gamipress-achievements-search-input {
  height: 42px;
  display: block;
  float: left;
}

.activity-list .activity-item .activity-content .gamipress-rank,
.activity-list .activity-item .activity-content .gamipress-points-award,
.activity-list .activity-item .activity-content .gamipress-achievement {
  margin: 0 15px 15px;
}

/*--------------------------------------------------------------
# PeepSo Monetization: LearnDash
--------------------------------------------------------------*/
.ps-learndash .ps-learndash__course {
  margin-bottom: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.ps-learndash__course-inside {
  padding: 15px;
}

.ps-learndash .ps-learndash__course-image:not(.ps-learndash__course-image--left):not(.ps-learndash__course-image--right) {
  margin: -15px;
  margin-bottom: 15px;
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
}

.ps-learndash__course-image.ps-learndash__course-image--left,
.ps-learndash__course-image.ps-learndash__course-image--right {
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
# PeepSo Monetization: WooCommerce
--------------------------------------------------------------*/
.page-template-page-peepso-single-layout .rg-woo-breadcrumbs-wrapper {
  display: none;
}
.page-template-page-peepso-single-layout .ps-woocommerce .wbpwi-peepo-woo-wrapper .wb-grid-cell {
  flex: 0 0 100%;
  max-width: 100%;
}
.page-template-page-peepso-single-layout .rg-has-border {
  display: none;
}
.page-template-page-peepso-single-layout .woocommerce-checkout .rg-has-border {
  display: block;
}

/*--------------------------------------------------------------
# PeepSo Monetization: Paid Memberships Pro
--------------------------------------------------------------*/
.ps-page-profile #pmpro_account-membership .pmpro_actionlinks a {
  display: inline-block;
  overflow: hidden;
  padding: 5px 20px;
  border-radius: var(--reign-global-border-radius);
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--reign-color-white);
}

/*--------------------------------------------------------------
# PeepSo Profile and Group Cover
--------------------------------------------------------------*/
.site-content .reign-peepso-profile.layout-full-width,
.site-content .reign-peepso-group.layout-full-width {
  margin-top: -40px;
}

.ps-focus__avatar-change {
  color: inherit !important;
}

.ps-focus__menu .ps-focus__menu-item .ps-icon-map-marker {
  line-height: 1;
}

.reign-peepso-profile.layout-full-width .ps-focus__info,
.reign-peepso-profile.layout-full-width .ps-focus__menu-inner,
.reign-peepso-profile.layout-full-width .ps-focus__cover-inner,
.reign-peepso-group.layout-full-width .ps-focus__info,
.reign-peepso-group.layout-full-width .ps-focus__menu-inner,
.reign-peepso-group.layout-full-width .ps-focus__cover-inner {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.reign-peepso-profile.layout-full-width .ps-badgeos__list-wrapper,
.reign-peepso-group.layout-full-width .ps-badgeos__list-wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.reign-peepso-profile.layout-full-width .ps-focus__menu-inner,
.reign-peepso-profile.layout-full-width .ps-focus__cover-inner,
.reign-peepso-group.layout-full-width .ps-focus__menu-inner,
.reign-peepso-group.layout-full-width .ps-focus__cover-inner {
  padding-left: 15px;
  padding-right: 15px;
}
.reign-peepso-profile.layout-full-width .ps-navbar,
.reign-peepso-group.layout-full-width .ps-navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
}
.reign-peepso-profile.layout-full-width .ps-focus,
.reign-peepso-profile.layout-full-width .ps-focus__cover-image,
.reign-peepso-group.layout-full-width .ps-focus,
.reign-peepso-group.layout-full-width .ps-focus__cover-image {
  border: 0 !important;
  border-radius: 0 !important;
}
.reign-peepso-profile.layout-full-width .ps-focus__cover-inner,
.reign-peepso-group.layout-full-width .ps-focus__cover-inner {
  background: none;
}
.reign-peepso-profile.layout-full-width .ps-focus__cover-image:after,
.reign-peepso-group.layout-full-width .ps-focus__cover-image:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 15px;
  padding-left: 15px;
  background: #000;
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.7035014689) 0%, rgba(255, 255, 255, 0) 35%);
  background: -o-linear-gradient(270deg, rgba(0, 0, 0, 0.7035014689) 0%, rgba(255, 255, 255, 0) 35%);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7035014689) 0%, rgba(255, 255, 255, 0) 35%);
  content: " ";
}

.ps-form--report .ps-input--select {
  margin-bottom: 15px !important;
}

/*--------------------------------------------------------------
# Better Messages
--------------------------------------------------------------*/
.bp-messages-wrap img.avatar {
  border-radius: 100%;
}

/*--------------------------------------------------------------
# WP Stories
--------------------------------------------------------------*/
.wp-stories-add-modal .wp-stories-model-popup,
.wp-stories-add-modal .wb-stories--submit-form .wb-stories--submit-item,
.wp-stories-add-modal .wp-stories-user-submit-modal .wb-stories-story-media-wrapper {
  background: var(--reign-site-sections-bg-color);
}
.wp-stories-add-modal .wb-stories--submit-form .wb-stories--input,
.wp-stories-add-modal select.bp-xprofile-visibility {
  background: var(--reign-form-background-color);
  color: var(--reign-form-text-color);
  border: 1px solid var(--reign-form-border-color);
}
.wp-stories-add-modal .wb-stories--submit-form .wb-stories--input:focus,
.wp-stories-add-modal select.bp-xprofile-visibility:focus {
  background: var(--reign-form-focus-background-color);
  color: var(--reign-form-focus-text-color);
  border: 1px solid var(--reign-form-focus-border-color);
}
.wp-stories-add-modal .filepond--panel-root {
  background: var(--reign-site-secondary-bg-color);
}
.wp-stories-add-modal .filepond--drop-label {
  color: var(--reign-site-headings-color);
}

.stories.snapgram .story.seen > a {
  color: inherit;
}

.wb-story-shortcode[data-skin=snapssenger] .wb-stories-loader,
.wb-story-shortcode[data-skin=vemdezap] .wb-stories-loader {
  background-color: var(--reign-site-secondary-bg-color);
}

.wp-stories-user-stories-snapssenger .wp-stories-user-stories .wp-stories-add-stories.wp-stories-add-stories,
.stories.list .story > .item-link.item-link {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}

.dark-mode .wb-story-shortcode[data-skin=snapgram] .wb-stories-loader span,
.dark-mode .wb-story-shortcode[data-skin=snapssenger] .wb-stories-loader span,
.dark-mode .wb-story-shortcode[data-skin=vemdezap] .wb-stories-loader span,
.dark-scheme .wb-story-shortcode[data-skin=snapgram] .wb-stories-loader span,
.dark-scheme .wb-story-shortcode[data-skin=snapssenger] .wb-stories-loader span,
.dark-scheme .wb-story-shortcode[data-skin=vemdezap] .wb-stories-loader span {
  filter: invert(1);
}
.dark-mode .stories.wb-story-shortcode.snapssenger.carousel .story > .item-link > .info,
.dark-mode .stories.wb-story-shortcode.snapgram .story > .item-link,
.dark-mode .stories.wb-story-shortcode.vemdezap .story > .item-link,
.dark-scheme .stories.wb-story-shortcode.snapssenger.carousel .story > .item-link > .info,
.dark-scheme .stories.wb-story-shortcode.snapgram .story > .item-link,
.dark-scheme .stories.wb-story-shortcode.vemdezap .story > .item-link {
  color: var(--reign-site-headings-color) !important;
}

.wb-reign-theme {
  --wbs-content-background-color: var(--reign-site-sections-bg-color);
  --wbs-primary-color: var(--reign-colors-theme);
  --wbs-global-border-color: var(--reign-site-border-color);
  --wbs-global-border-radius: var(--reign-global-border-radius);
}

.reign-nav-iconic #wp-stories-personal-li > a:before {
  content: "\e237";
}