/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Model
# My Courses
# Course Archive
# My Messages
# Single Course
# Lessons Archive
# Single Lesson
# Sensei Pagination
# Course Results
# Single Quiz
# Single Question
# Learner Profile
# Sidebar Widgets
# Teachers
# Course Categories
# My Course
# WooCommerce Order Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.course .comment-content-action a.comment-reply-link {
  background: transparent !important;
  color: var(--reign-accent-color) !important;
  border: 0 !important;
}
@media (hover: hover) and (pointer: fine) {
  .course .comment-content-action a.comment-reply-link:hover {
    color: var(--reign-accent-hover-color) !important;
  }
}

/* Buttons Color */
.course #commentform #submit,
.course-container #commentform #submit,
.course-container .submit,
.course-container a.button,
.course-container a.button:visited,
.course-container a.comment-reply-link,
.course-container button.button,
.course-container input.button,
.course-container input[type=submit],
.course .submit,
.course a.button,
.course .post .entry-content a.button,
.course a.button:visited,
.course a.comment-reply-link,
.course button.button,
.course input.button,
.course input[type=submit],
.lesson #commentform #submit,
.lesson .submit,
.lesson a.button,
.lesson a.button:visited,
.lesson a.comment-reply-link,
.lesson button.button,
.lesson input.button,
.lesson input[type=submit],
.quiz #commentform #submit,
.quiz .submit,
.quiz a.button,
.quiz a.button:visited,
.quiz a.comment-reply-link,
.quiz button.button,
.quiz input.button,
.quiz input[type=submit],
.sensei-pagination .page-numbers li span.current,
#my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a,
.wp-element-button:visited,
.wp-block-button__link:visited {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border-radius: var(--reign-global-button-radius);
}

@media (hover: hover) and (pointer: fine) {
  .course #commentform #submit:hover,
  .course-container #commentform #submit:hover,
  .course-container .submit:hover,
  .course-container a.button:hover,
  .course-container a.button:visited:hover,
  .course-container a.comment-reply-link:hover,
  .course-container button.button:hover,
  .course-container input.button:hover,
  .course-container input[type=submit]:hover,
  .course .submit:hover,
  .course a.button:hover,
  .course .post .entry-content a.button:hover,
  .course a.button:visited:hover,
  .course a.comment-reply-link:hover,
  .course button.button:hover,
  .course input.button:hover,
  .course input[type=submit]:hover,
  .lesson #commentform #submit:hover,
  .lesson .submit:hover,
  .lesson a.button:hover,
  .lesson a.button:visited:hover,
  .lesson a.comment-reply-link:hover,
  .lesson button.button:hover,
  .lesson input.button:hover,
  .lesson input[type=submit]:hover,
  .quiz #commentform #submit:hover,
  .quiz .submit:hover,
  .quiz a.button:hover,
  .quiz a.button:visited:hover,
  .quiz a.comment-reply-link:hover,
  .quiz button.button:hover,
  .quiz input.button:hover,
  .quiz input[type=submit]:hover,
  .sensei-pagination .page-numbers li span.current:hover,
  #my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
    border-radius: var(--reign-global-button-radius);
  }
}
#my-courses #customer_login form {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.course .item-body .submit {
  background-color: transparent;
  color: inherit;
}

@media (hover: hover) and (pointer: fine) {
  .course .item-body .submit:hover {
    background-color: transparent;
    color: inherit;
  }
}
.wp-block-button.sensei-lms-interactive-block-question__submit-button,
.wp-block-button.sensei-lms-interactive-block-question__reset-button {
  display: inline-block;
}

.post.post .entry-content a.button {
  color: #fff;
}

.sensei form .form-row textarea {
  padding: 8px;
}

body.course {
  border-bottom: 0;
}

.sensei-breadcrumb,
.sensei .entry-content .sensei-breadcrumb {
  padding: 15px;
}

.sensei-message {
  color: var(--reign-site-body-text-color);
}

body > .sensei-message.info {
  width: 100%;
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  margin: 0;
  border-radius: 0;
  z-index: 999;
}

.sensei-message.info {
  background: var(--reign-site-secondary-bg-color);
  border: 1px solid var(--reign-site-border-color) !important;
  border-radius: var(--reign-global-border-radius);
}

.sensei-message.info a {
  color: var(--reign-site-link-color) !important;
}

@media (hover: hover) and (pointer: fine) {
  .sensei-message.info a:hover {
    color: var(--reign-site-link-hover-color) !important;
  }
}
body > .sensei-message:not(.tick) {
  display: none;
}

body > .sensei-message.tick {
  position: fixed;
  right: 0;
  z-index: 9999;
}

.sensei-course-theme__button.is-primary,
.sensei-course-theme__button.is-secondary,
.sensei-course-theme__button.wp-block-button > .wp-block-button__link,
.sensei-course-theme .wp-block-button.is-primary,
.sensei-course-theme .wp-block-button.is-secondary,
.sensei-course-theme .wp-block-button.wp-block-button > .wp-block-button__link,
.sensei-course-theme__button[type=submit].is-primary,
.sensei-course-theme__button[type=submit].is-secondary,
.sensei-course-theme__button[type=submit].wp-block-button > .wp-block-button__link,
.sensei-course-theme__button[type=button].is-primary,
.sensei-course-theme__button[type=button].is-secondary,
.sensei-course-theme__button[type=button].wp-block-button > .wp-block-button__link {
  border: solid 1px var(--sensei-primary-color) !important;
}

@media (hover: hover) and (pointer: fine) {
  .sensei-contact-teacher-form__submit:hover {
    border: solid 1px var(--sensei-primary-color) !important;
  }
}
.course:not(body) .course-author,
.course:not(body) .sensei-course-meta,
.course-container .course-author,
.course-container .sensei-course-meta,
.course-container .course .course-author,
.course-container .course .sensei-course-meta,
.course:not(body) .course-lessons .lesson p.lesson-meta .lesson-status.in-progress,
.course:not(body) .module-lessons .lesson p.lesson-meta .lesson-status.in-progress,
.course-container .course-lessons .lesson p.lesson-meta .lesson-status.in-progress,
.course-container .module-lessons .lesson p.lesson-meta .lesson-status.in-progress,
.course-container .course .course-lessons .lesson p.lesson-meta .lesson-status.in-progress,
.course-container .course .module-lessons .lesson p.lesson-meta .lesson-status.in-progress {
  color: inherit;
}

.sensei p.sensei-message.download,
.sensei p.sensei-message.tick,
.sensei div.sensei-message.download,
.sensei div.sensei-message.tick,
.course-container p.sensei-message.download,
.course-container p.sensei-message.tick,
.course-container div.sensei-message.download,
.course-container div.sensei-message.tick,
.course p.sensei-message.download,
.course p.sensei-message.tick,
.course div.sensei-message.download,
.course div.sensei-message.tick,
.lesson p.sensei-message.download,
.lesson p.sensei-message.tick,
.lesson div.sensei-message.download,
.lesson div.sensei-message.tick,
.quiz p.sensei-message.download,
.quiz p.sensei-message.tick,
.quiz div.sensei-message.download,
.quiz div.sensei-message.tick,
.learner-info p.sensei-message.download,
.learner-info p.sensei-message.tick,
.learner-info div.sensei-message.download,
.learner-info div.sensei-message.tick {
  color: #333;
}

a.button.send-message-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 400;
}

/*--------------------------------------------------------------
# Model
--------------------------------------------------------------*/
[data-sensei-modal] [data-sensei-modal-content] {
  border-radius: 15px;
}
[data-sensei-modal] [data-sensei-modal-content] .sensei-contact-teacher-close {
  top: 10px;
  right: 10px;
}
[data-sensei-modal] [data-sensei-modal-content] .sensei-contact-teacher-form label {
  margin-bottom: 15px;
}
[data-sensei-modal] [data-sensei-modal-content] .sensei-contact-teacher-form textarea {
  width: 100%;
}
[data-sensei-modal] [data-sensei-modal-content] .sensei-contact-teacher-form__actions {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# My Courses
--------------------------------------------------------------*/
.editor-styles-wrapper .wp-block-sensei-lms-learner-courses__filter__item,
.editor-styles-wrapper .wp-block-sensei-lms-learner-courses__filter a,
#user-course-status-toggle__item,
#user-course-status-toggle a {
  margin: 0 3px;
  padding: 10px 15px;
}

.wp-block-sensei-button .wp-block-button__link:focus {
  border: 1px solid var(--reign-colors-theme) !important;
}

@media (hover: hover) and (pointer: fine) {
  .wp-block-sensei-button .wp-block-button__link:hover {
    border: 1px solid var(--reign-colors-theme) !important;
  }
}
#user-course-status-toggle a {
  color: inherit;
}

.wp-block-sensei-lms-course-list .wp-block-sensei-lms-course-list-filter {
  max-width: none;
}

.wp-block-sensei-lms-learner-courses--is-list-view section#sensei-user-courses ul.course-container {
  border: none;
  display: block;
  width: 100%;
  background: transparent;
}

.wp-block-sensei-lms-learner-courses--is-list-view section#sensei-user-courses ul.course-container li.course {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

.wp-block-sensei-lms-learner-courses--is-list-view ul.course-container:not(.columns-1) .course-content .entry {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: unset;
  flex-direction: unset;
}

.wp-block-sensei-lms-learner-courses--is-list-view .course-content .course-text {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.wp-block-sensei-lms-learner-courses--is-list-view .course-content .lm-course-thumbnail {
  display: none;
}

.wp-block-sensei-lms-learner-courses--is-list-view #sensei-user-courses .course img {
  width: 100%;
  border-radius: var(--reign-global-border-radius) !important;
}

.sensei-progress-bar__bar {
  height: 8px;
}

.wp-block-sensei-lms-learner-courses--is-list-view #sensei-user-courses .sensei-progress-bar__label {
  font-size: 15px;
}

.wp-block-sensei-lms-learner-courses__courses-list__details {
  margin: 0 0;
}

.editor-styles-wrapper .wp-block-sensei-lms-learner-courses__courses-list--is-grid-view,
.wp-block-sensei-lms-learner-courses--is-grid-view #sensei-user-courses .course-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.wp-block-sensei-lms-learner-courses--is-grid-view #sensei-user-courses .course-container .course-content .course-text {
  padding: 0;
}

.wp-block-sensei-lms-learner-courses--is-grid-view #sensei-user-courses .course-container .lm-course-thumbnail {
  display: none;
}

/* Archive Course Filter */
.sensei-archive-controls ul.sensei-course-filters {
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid var(--reign-site-border-color);
  background: var(--reign-site-sections-bg-color);
}

.sensei-course-filters li a {
  font-size: 15px;
  margin: 0;
  padding: 0.9em 1.8em;
  line-height: 1;
  border: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: transparent;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.course-container {
  border: 0;
  list-style: none;
}

.course-container li.course,
ul.course-container li.bp_members.type-bp_members.course {
  width: 100%;
  margin: 0 10px 20px;
  padding: 0;
  float: left;
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius) !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  -webkit-border-radius: var(--reign-global-border-radius) !important;
  -moz-border-radius: var(--reign-global-border-radius) !important;
  -ms-border-radius: var(--reign-global-border-radius) !important;
  -o-border-radius: var(--reign-global-border-radius) !important;
}

ul.course-container.columns-1 li.course {
  margin: 0 0 1.618em !important;
}

ul.course-container li.course {
  padding: 15px !important;
}

ul.course-container:not(.columns-1) li.course .course-author {
  margin: 0 0 10px;
}

@media (hover: hover) and (pointer: fine) {
  .course-container li.course:hover {
    box-shadow: 0 20px 60px #eee;
  }
}
ul.course-container li.course .course-title {
  margin: 0 0 10px;
  line-height: 1.4;
}

ul.course-container.columns-1 .meter {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

ul.course-container.columns-1 .sensei-results-links {
  margin: 15px 15px 0 0;
  display: block;
  clear: both;
  float: left;
}

.entry-content .course-container li.course img.alignleft {
  margin: 15px 15px 0 0;
  border-radius: 8px;
}

.course-container .course-excerpt,
.course-container .course .course-excerpt,
.course .course-excerpt {
  margin: 15px 0 0;
}

/*--------------------------------------------------------------
# Course Meta
--------------------------------------------------------------*/
.sensei-course-meta {
  font-style: normal !important;
  margin-top: 5px;
}

.course-container .course-author,
.course-container .course-category,
.course-container .course .course-author,
.course-container .course .course-category,
.course .course-author,
.course .course-category {
  margin-left: 10px;
}

.sensei-course-meta span {
  position: relative;
  padding-left: 20px;
}

.sensei-course-meta span:before {
  font-family: "Font Awesome 6 Pro";
  position: absolute;
  left: 0;
}

.sensei-course-meta span.course-lesson-count:before {
  content: "\f15c";
}

.sensei-course-meta span.course-category:before {
  content: "\f02b";
}

.sensei-course-meta span.course-lesson-progress:before {
  content: "\f0ae";
}

/*--------------------------------------------------------------
# Dark
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Dark
--------------------------------------------------------------*/
@media (hover: hover) and (pointer: fine) {
  [data-bx-mode=dark] .course-container li.course:hover,
  .dark-scheme .course-container li.course:hover {
    box-shadow: none;
  }
}
/*--------------------------------------------------------------
# Course Archive
--------------------------------------------------------------*/
.course:not(body),
.course-container,
.course-container .course {
  border-bottom: 0;
}

@media (max-width: 480px) {
  .entry-content .course-container li.course img.alignleft {
    float: none;
  }
}
ul.course-container:not(.columns-1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 -10px;
}

@media (max-width: 767px) {
  ul.course-container:not(.columns-1) li.course {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }
}
@media (min-width: 768px) {
  ul.course-container:not(.columns-1).columns-2 li.course,
  ul.course-container:not(.columns-1).columns-3 li.course,
  ul.course-container:not(.columns-1).columns-4 li.course {
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
  }
  [dir=rtl] .sensei-ordering {
    text-align: right;
    float: right;
    margin: 0;
  }
}
@media (min-width: 992px) {
  ul.course-container:not(.columns-1).columns-3 li.course,
  ul.course-container:not(.columns-1).columns-4 li.course {
    width: -webkit-calc(33.333333% - 20px);
    width: calc(33.333333% - 20px);
  }
}
@media screen and (min-width: 1224px) {
  ul.course-container:not(.columns-1).columns-4 li.course {
    width: -webkit-calc(25% - 20px);
    width: calc(25% - 20px);
  }
}
ul.course-container:not(.columns-1) li.course img.alignleft {
  float: none;
}

ul.course-container:not(.columns-1) .course-content {
  height: 100%;
}

.course-content .course-media {
  width: 100%;
  position: relative;
}

ul.course-container:not(.columns-1) .course-content .entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.course-content .course-media:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: var(--reign-site-secondary-bg-color);
  background-image: url(../img/svg/graduate-cap.svg);
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center 30px;
}

[data-bx-mode=dark] .course-content .course-media:before,
.dark-scheme .course-content .course-media:before {
  background-image: url(../img/svg/graduate-cap-white.svg);
}

.course-content .course-media > a {
  position: relative;
  overflow: hidden;
  padding-top: 68.56%;
  display: block;
}

.course-content .course-media > a img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  z-index: 0;
  min-height: 100%;
  width: auto;
  min-width: 100%;
  border-radius: 0 !important;
  object-fit: cover;
}

.course-content .course-media .quick-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -ms-transform: translate(0, -30%);
  -webkit-transform: translate(0, -30%);
  transform: translate(0, -30%);
  margin: auto;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
}

@media (hover: hover) and (pointer: fine) {
  .course-container li.course:hover .course-media .quick-view {
    visibility: visible;
    opacity: 1;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}
.course-media .course-author-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
}

.course-content .course-media > a + .course-author-box {
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.course-content .course-media > a + .course-author-box a {
  color: #fff;
}

.course-media .course-author-box .course-author {
  margin: 15px;
}

.course-media .course-author-box .course-author img {
  border-radius: 50%;
}

.course-content .lm-course-thumbnail {
  flex: 0 0 auto;
}

.course-content .course-text {
  width: 100%;
  height: 100%;
  background-color: var(--reign-site-sections-bg-color);
  margin: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-top: 1px solid var(--reign-site-border-color);
}

.course-content .course-text .course-title {
  font-size: 20px;
  line-height: 1.3;
}

.course-content .course-text p.course-excerpt {
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.course-content .course-text .sensei-course-meta {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

a.my-messages-link {
  margin: 0;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color) !important;
  padding: 10px 20px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: var(--reign-global-button-radius);
  display: inline-block;
}

#sensei-user-courses {
  margin-top: 20px;
}

@media (hover: hover) and (pointer: fine) {
  #user-course-status-toggle a:hover {
    text-decoration: none;
  }
}
.sensei-progress-bar__label {
  font-size: 14px;
}

/* WP Block */
ul.wp-block-post-template {
  margin: 0;
}
ul.wp-block-post-template li {
  background: var(--reign-site-sections-bg-color);
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.wp-block-group-is-layout-flow .wp-block-columns .wp-block-query ul.wp-block-post-template li {
  background: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.wp-block-sensei-lms-course-list .wp-block-post {
  margin: 0 0 30px;
  padding: 0;
}
.wp-block-sensei-lms-course-list .wp-block-post .wp-block-group {
  border-radius: var(--reign-global-border-radius);
}

.wp-block-sensei-lms-course-list--is-grid-view.wp-block-sensei-lms-course-list .wp-block-post {
  margin: 0;
  padding: 0;
}
.wp-block-sensei-lms-course-list--is-grid-view.wp-block-sensei-lms-course-list .wp-block-post .wp-block-group {
  border-radius: var(--reign-global-border-radius);
}

ul.wp-block-post-template li .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  opacity: 1;
}

.container .wp-block-post-template .wp-block-columns.wp-block-columns-is-layout-flex {
  margin: 0;
}

/*--------------------------------------------------------------
# My Messages
--------------------------------------------------------------*/
.message-container > article {
  background-color: var(--reign-site-sections-bg-color);
  width: 100%;
  margin: 0 0 1.618em;
  padding: 15px !important;
  float: left;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.message-container .message-content h2 {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Single Course
--------------------------------------------------------------*/
.sensei-single-course-header {
  background-color: #1e1e1c;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sensei-single-course-header:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.sensei-single-course-header-inner-wrap > *:not(.info) {
  margin: 10px 0;
  color: #fff;
}

.sensei-single-course-header .container {
  width: 100%;
}

.sensei-single-course-header-inner-wrap {
  max-width: 70.99%;
  position: relative;
  z-index: 1;
}

.sensei-single-course-header-inner-wrap .sensei-message.info {
  display: none;
}

.sensei-single-course-header .lm-breadcrumbs-wrapper #breadcrumbs {
  text-align: left;
}

.sensei-single-course-header .entry-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.sensei-single-course-header .entry-title,
.sensei-single-course-header p,
.sensei-single-course-header a,
.sensei-single-course-header .teacher-name,
.sensei-single-course-header .sensei-course-info {
  color: #fff;
}

.sensei-single-course-header .course-header-short-description {
  font-size: 16px;
  margin-bottom: 8px;
  color: #fff;
}

.sensei-single-course-header .sensei-course-info {
  gap: 30px;
}

.sensei-single-course-header .sensei-course-info,
.sensei-single-course-header .sensei-rating-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13.5px;
}

.sensei-single-course-header .sensei-course-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sensei-single-course-header .sensei-course-teacher .teacher-avatar {
  margin: 0 10px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.sensei-single-course-header .sensei-course-teacher .teacher-avatar img.lm-author-avatar {
  max-width: 35px;
  border-radius: 100px;
}

.sensei-single-course-header .teacher-name a {
  text-decoration: none;
}

.meter {
  height: 12px;
  line-height: 12px;
  font-size: 11px;
}

.meter .value {
  font-weight: normal;
}

.meter.orange > span {
  background: #ffa500;
}

section.course-meta.course-enrolment input.course-start {
  border-radius: var(--reign-global-border-radius);
}

/* Single sidebar course widget */
.sensei-course-widget-wrap .lm-course-thumbnail {
  border-radius: var(--reign-global-border-radius);
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .widget-area.sensei-course-widget {
    margin-top: -260px;
  }
  .sensei-course-widget-wrap .lm-course-thumbnail {
    position: relative;
    overflow: hidden;
    padding-top: 200px;
    display: block;
    border-radius: var(--reign-global-border-radius);
  }
  .sensei-course-widget-wrap .lm-course-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
    z-index: 0;
    min-height: 100%;
    width: auto;
    min-width: 100%;
    border-radius: 0 !important;
    object-fit: cover;
  }
}
.sensei-course-widget-wrap {
  width: 100%;
  background-color: var(--reign-site-sections-bg-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 20px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 15px 15px 5px;
  position: relative;
  z-index: 2;
  border-radius: var(--reign-global-border-radius);
}

@media only screen and (max-width: 991px) {
  .single-course .content-wrapper {
    order: 2;
  }
  .widget-area.sensei-course-widget .widget-area-inner {
    margin: 0;
  }
}
.lm-course-thumbnail.lm-no-course-thumbnail {
  width: 100%;
  height: 168px;
  background: var(--reign-site-secondary-bg-color);
  content: "";
  background-image: url(../img/svg/graduate-cap.svg);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.lm-course-thumbnail img {
  width: 100%;
  height: 168px;
  object-fit: cover;
}

[data-bx-mode=dark] .lm-course-thumbnail.lm-no-course-thumbnail,
.dark-scheme .lm-course-thumbnail.lm-no-course-thumbnail {
  background-image: url(../img/svg/graduate-cap-white.svg);
}

.lm-course-students-wrap {
  padding: 15px;
}

.lm-course-students-wrap {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
  gap: 5px;
}

.lm-course-students-wrap img {
  border-radius: 100%;
}

.lm-tab-course-info {
  padding: 15px 0;
}

.lm-tab-course-info .title {
  margin: 0 0 10px;
}

.lm-tab-course-info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lm-tab-course-info ul li {
  display: flex;
  align-items: center;
}

.lm-tab-course-info ul li + li {
  margin: 10px 0;
  padding-top: 10px;
  border-top: 1px solid var(--reign-site-border-color);
}

.sensei-course-widget-wrap .lm-tab-course-info ul li .fa,
.sensei-course-widget-wrap .lm-tab-course-info ul li .fas,
.sensei-course-widget-wrap .lm-tab-course-info ul li .far,
.sensei-course-widget-wrap .lm-tab-course-info ul li .fal,
.sensei-course-widget-wrap .lm-tab-course-info ul li .fab {
  min-width: 30px;
}

.sensei-course-widget-wrap .lm-tab-course-info .lm-course-feature-value {
  font-weight: 600;
  margin-left: auto;
  margin-right: 10px;
}

.single-course .content-wrapper article.course header.entry-header,
.single-course .content-wrapper article.course.has-post-thumbnail .rg-post-thumbnail {
  display: none;
}

.single-course .entry-content article.course {
  margin: 0 0 15px;
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  background: var(--reign-site-sections-bg-color);
}

.course .module header {
  padding: 10px 20px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.course .module header h2 {
  font-size: 18px;
}

.course .module .module-lessons header h3 {
  font-size: 1.5em;
}

.course .module .module-description {
  background: none;
}

.course .module .module-description:empty {
  padding: 0 0 10px;
}

.course .module .module-lessons header {
  background: none;
  margin: 0 0 15px !important;
  padding: 0 !important;
  border: 0 !important;
}

.course .module .module-lessons ul li a {
  border: 2px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  margin-bottom: 12px;
  padding: 0.818em 0.618em 0.818em 3.618em !important;
  background: var(--reign-site-sections-bg-color);
  font-size: 16px;
}

@media (hover: hover) and (pointer: fine) {
  .course .module .module-lessons ul li a:hover {
    border: 2px solid var(--reign-site-border-color);
  }
}
.course header h2 {
  margin: 0 0 15px;
}

.course .module header h2 {
  margin: 0;
}

ul.sensei-share-your-grade.buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sensei-share-your-grade.buttons li {
  margin-right: 10px;
  line-height: normal;
}

.single-course .lesson-title p.lesson-meta {
  margin: 2px 0 10px !important;
}

.reign-sensei-reviews-title,
.single-course .comments-area {
  clear: both;
}

/*--------------------------------------------------------------
# Lessons Archive
--------------------------------------------------------------*/
section.lesson-container article.lesson {
  padding: 15px !important;
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}

.lesson .lesson-meta {
  margin: 4px 0 0.618em;
}

section.lesson-container article.lesson p.lesson-excerpt {
  margin: 0;
}

section.lesson-container article.lesson .alignleft {
  margin: 0 15px 0 0;
}

@media (max-width: 480px) {
  section.lesson-container article.lesson .alignleft {
    margin: 0 0 15px;
  }
  section.lesson-container article.lesson .alignleft {
    float: none;
  }
  .entry-content img.alignleft {
    float: none;
  }
}
.post-type-archive-lesson .wb-grid > #content {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

.post-type-archive-lesson .wb-grid > #content #main,
.post-type-archive-lesson .wb-grid > #content aside {
  flex: 1;
  min-width: 1px;
  display: inline-block;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .post-type-archive-lesson .wb-grid > #content aside {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/*--------------------------------------------------------------
# Single Lesson 
--------------------------------------------------------------*/
.sensei .entry-content section {
  clear: both;
}

.lesson header.lesson-title {
  margin: 0;
}

.single-lesson .entry-content img.alignleft {
  margin: 0 15px 15px 0;
}

.single-lesson article article.lesson {
  margin: 0 0 15px;
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.sensei .nav-next,
.sensei .nav-prev {
  margin: 15px 0;
}

.lesson .video {
  margin: 0 0 15px;
}

.is-style-outline > .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  border: 2px solid !important;
}

@media (hover: hover) and (pointer: fine) {
  a.button.send-message-button:hover {
    color: #fff !important;
  }
}
[dir=rtl] .wp-block-sensei-lms-course-outline-lesson__chevron {
  transform: rotate(180deg);
}

/*--------------------------------------------------------------
# Sensei Pagination
--------------------------------------------------------------*/
.sensei-pagination {
  text-align: center;
  border: 0;
}

.sensei-pagination ul {
  margin: 0 0 1.625rem;
  padding: 0;
  list-style: none;
}

.sensei-pagination .page-numbers li a,
.sensei-pagination .page-numbers li span {
  display: inline-block;
  font-size: 14px;
  min-width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  margin: 5px;
  border-radius: 3px;
  padding: 0 15px;
  border: 1px solid;
}

@media (hover: hover) and (pointer: fine) {
  .sensei-pagination .page-numbers li a:hover,
  .sensei-pagination .page-numbers li span:hover {
    box-shadow: 0 1.5px 15px 0 rgba(0, 0, 0, 0.17);
  }
}
.sensei-pagination .page-numbers li span.current {
  color: #fff;
  border-color: var(--reign-colors-theme);
}

.post-entries .nav-prev a:after,
.post-entries .nav-next a:after {
  content: none !important;
}

/*--------------------------------------------------------------
# Course Results
--------------------------------------------------------------*/
.course-results.blog article {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
  border-radius: 0;
  overflow: hidden;
}

.course-results article.blog article.course-results,
.course-results article article.course-results {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  overflow: hidden;
}

.course-results .entry-content img.alignleft {
  margin: 0 15px 15px 0;
}

.course-results-lessons h2,
.course-results-lessons h3,
.course-results-lessons h4 {
  margin: 15px 0;
}

.course-results-lessons h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--reign-site-border-color);
}

.course-results-lessons h4 {
  font-size: 16px;
}

.course-results-lessons a {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .course-results-lessons a:hover {
    text-decoration: underline;
  }
}
/*--------------------------------------------------------------
# Single Quiz
--------------------------------------------------------------*/
.single-quiz section.entry.quiz-questions {
  margin: 0 0 15px;
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.quiz form ol#sensei-quiz-list {
  padding-left: 20px;
}

.quiz .question-title span.grade {
  padding: 5px 10px;
  line-height: normal;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.type-quiz ol#sensei-quiz-list {
  margin-top: 20px;
}

.type-quiz ol#sensei-quiz-list span.question-title {
  display: block;
  margin: 0 0 1em;
  font-weight: bold;
}

.type-quiz ol#sensei-quiz-list ul {
  list-style: none;
}

.type-quiz ol#sensei-quiz-list ul li {
  margin: 10px 0;
}

.type-quiz ol#sensei-quiz-list > li span.grade {
  float: right;
}

/*--------------------------------------------------------------
# Single Question
--------------------------------------------------------------*/
.single-question .post-meta-info {
  display: none;
}

/*--------------------------------------------------------------
# Learner Profile
--------------------------------------------------------------*/
.blog.learner-profile .content-wrapper > .hentry {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
  border-radius: 0;
}

#learner-info form.certificates_user_meta {
  background-color: var(--reign-site-sections-bg-color);
  margin-bottom: 15px;
  padding: 10px 10px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

#learner-info form.certificates_user_meta p {
  margin-bottom: 0;
}

#learner-info input.certificates-submit {
  margin-left: 5px;
}

div#learner-info {
  background: var(--reign-site-sections-bg-color);
  margin: auto;
  margin-bottom: 25px;
  padding: 30px 0;
  width: 100%;
  text-align: center;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

#learner-info .learner-avatar {
  float: none;
  margin: auto;
  margin-bottom: 15px;
}

#learner-info .learner-avatar img {
  border: 6px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 5px 0 rgba(18, 43, 70, 0.15), 0 0 0 1px #e0e0e0;
  border-radius: 100%;
}

#learner-info .learner-content {
  float: none;
  width: 100%;
  text-align: center;
  margin: auto;
}

#learner-info .description {
  width: 90%;
  margin: auto;
}

#learner-info ul.ui-tabs-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#learner-info #my-courses.ui-tabs .ui-tabs-nav li a {
  padding: 10px 20px;
  color: inherit;
}

#learner-info #my-courses.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color: #fff;
}

#learner-info #my-courses .course {
  background-color: var(--reign-site-sections-bg-color);
  padding: 15px;
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

#learner-info #my-courses .course header {
  clear: both;
}

#learner-info #my-courses .course section .sensei-results-links a {
  display: block;
  margin: 10px 0 0;
}

.entry-content #learner-info #my-courses .course img.alignleft {
  margin: 0 15px 15px 0;
}

#learner-info #my-courses .course .meter {
  margin-bottom: 0;
}

.sensei-results-links:empty {
  display: none;
}

/*--------------------------------------------------------------
# Sidebar Widgets
--------------------------------------------------------------*/
.widget.widget_sensei_course_categories ul,
.widget.widget_sensei_course_component ul,
.widget.widget_sensei_category_courses ul,
.widget.widget_sensei_lesson_component ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget.widget_sensei_course_categories ul li,
.widget.widget_sensei_course_component ul li,
.widget.widget_sensei_category_courses ul li,
.widget.widget_sensei_lesson_component ul li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
}

.widget.widget_sensei_course_categories ul li::before,
.widget.widget_sensei_course_component ul li::before,
.widget.widget_sensei_category_courses ul li::before,
.widget.widget_sensei_lesson_component ul li::before {
  content: "\f15c";
  font-family: "Font Awesome 6 Pro";
  color: var(--reign-colors-theme);
  position: absolute;
  left: 0;
}

.widget.widget_sensei_course_categories ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.widget_sensei_course_progress header,
.widget_sensei_course_progress .course-progress-module {
  padding: 0;
}

.widget_sensei_course_progress ul.course-progress-navigation,
.widget_sensei_course_progress .course-progress-lessons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget_sensei_course_progress .course-progress-lessons {
  margin-top: 15px;
}

.widget_sensei_course_progress ul.course-progress-navigation:after {
  content: "";
  display: table;
  clear: both;
}

.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson:last-child a,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson:last-child span {
  border-bottom: 0;
}

.widget_sensei_course_progress ul.course-progress-navigation li a:after,
.widget_sensei_course_progress ul.course-progress-navigation li a:before {
  font-size: 1.2em;
  font-weight: normal;
}

.widget_sensei_course_progress ul.course-progress-navigation {
  border: 1px solid var(--reign-site-border-color);
  border-radius: 50px;
  overflow: hidden;
}

.widget_sensei_course_progress ul.course-progress-navigation li {
  border: none;
}

.widget_sensei_course_progress ul.course-progress-navigation li a {
  padding: 10px 0;
}

@media (hover: hover) and (pointer: fine) {
  details.course-progress-details .course-progress-summary:hover {
    border-radius: 100px;
  }
}
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a:before,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span:before {
  left: 0;
}

.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span {
  padding: 0.618em 1em 0.618em 2em;
}

[data-bx-mode=dark] .widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a:before,
[data-bx-mode=dark] .widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span:before {
  color: rgb(151, 147, 141);
}

/*--------------------------------------------------------------
# Teachers
--------------------------------------------------------------*/
ul.sensei-teachers {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
}

ul.sensei-teachers li {
  margin: 0 0 15px;
  width: 23.86%;
  text-align: center;
  background: var(--reign-site-sections-bg-color);
  padding: 20px;
  border-radius: var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
  overflow: hidden;
}

/* Widget */
.widget-area-inner section.widget ul.sensei-teachers {
  display: block;
}

.widget-area-inner section.widget ul.sensei-teachers li {
  padding: 0 0;
  border: none;
  width: 100%;
  display: flex;
  text-align: left;
  align-items: center;
  border-radius: 0;
}

@media only screen and (max-width: 420px) {
  ul.sensei-teachers li {
    width: 100%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 649px) {
  ul.sensei-teachers li {
    width: 48.95%;
  }
}
@media only screen and (min-width: 650px) and (max-width: 897px) {
  ul.sensei-teachers li {
    width: 32%;
  }
}
/*--------------------------------------------------------------
# Course Categories
--------------------------------------------------------------*/
ul.sensei.course-categories {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 1%;
}

ul.sensei.course-categories li {
  margin: 0 0 1%;
  line-height: 1;
  width: 19%;
  background: var(--reign-site-sections-bg-color);
  padding: 25px 15px;
  border-radius: var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
  text-align: center;
}

li.sensei.course-category:before {
  font-family: "Font Awesome 6 Pro";
  content: "\f19d";
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
}

/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/
/* Sections BG Color */
/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/
/* Sections BG Color */
.sensei-course-filters li a.active,
.sensei-breadcrumb,
.widget_sensei_course_progress ul.course-progress-navigation,
.widget_sensei_course_progress ul.course-progress-navigation li a,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson a,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson span,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson.current span {
  background: var(--reign-site-sections-bg-color);
}

@media (hover: hover) and (pointer: fine) {
  .sensei-course-filters li a:hover {
    background: var(--reign-site-sections-bg-color);
  }
}
/* Theme Color */
/* Theme Color */
#user-course-status-toggle a.active,
.sensei-course-filters li a.active,
.widget_sensei_course_progress .course-progress-lessons .course-progress-lesson.current span {
  color: var(--reign-colors-theme);
}

@media (hover: hover) and (pointer: fine) {
  .widget_sensei_course_progress ul.course-progress-navigation li a:hover {
    color: var(--reign-colors-theme);
  }
}
.sensei-course-filters li a.active {
  background-color: var(--reign-site-border-color);
  color: var(--reign-colors-theme);
}

@media (hover: hover) and (pointer: fine) {
  .sensei-course-filters li a:hover {
    background-color: var(--reign-site-border-color);
    color: var(--reign-colors-theme);
  }
}
#user-course-status-toggle a:first-child {
  margin-left: 0;
}

#user-course-status-toggle a.active {
  background: var(--reign-site-sections-bg-color);
}

/* Links Color */
.course:not(body) .course-author a,
.course:not(body) .sensei-course-meta a,
.course-container .course-author a,
.course-container .sensei-course-meta a,
.course-container .course .course-author a,
.course-container .course .sensei-course-meta a,
.course:not(body) .course-lessons .lesson p.lesson-meta a,
.course:not(body) .module-lessons .lesson p.lesson-meta a,
.course-container .course-lessons .lesson p.lesson-meta a,
.course-container .module-lessons .lesson p.lesson-meta a,
.course-container .course .course-lessons .lesson p.lesson-meta a,
.course-container .course .module-lessons .lesson p.lesson-meta a {
  color: var(--reign-site-link-color);
}

@media (hover: hover) and (pointer: fine) {
  .course:not(body) .course-author a:hover,
  .course:not(body) .sensei-course-meta a:hover,
  .course-container .course-author a:hover,
  .course-container .sensei-course-meta a:hover,
  .course-container .course .course-author a:hover,
  .course-container .course .sensei-course-meta a:hover,
  .course:not(body) .course-lessons .lesson p.lesson-meta a:hover,
  .course:not(body) .module-lessons .lesson p.lesson-meta a:hover,
  .course-container .course-lessons .lesson p.lesson-meta a:hover,
  .course-container .module-lessons .lesson p.lesson-meta a:hover,
  .course-container .course .course-lessons .lesson p.lesson-meta a:hover,
  .course-container .course .module-lessons .lesson p.lesson-meta a:hover {
    color: var(--reign-site-link-hover-color);
  }
}
/* Border Color */
#user-course-status-toggle a,
.editor-styles-wrapper .wp-block-sensei-lms-learner-courses__courses-list--is-list-view .course,
.wp-block-sensei-lms-learner-courses--is-list-view #sensei-user-courses .course,
#user-course-status-toggle {
  border-color: var(--reign-site-border-color);
}

#user-course-status-toggle a {
  border-radius: 8px 8px 0 0;
  background-color: var(--reign-site-sections-bg-color);
  padding: 10px 20px;
  line-height: 1;
  font-weight: normal;
  border: 1px solid var(--reign-site-border-color);
  border-bottom: none;
}

/*--------------------------------------------------------------
# WooCommerce Order Page
--------------------------------------------------------------*/
section.woocommerce-order-sensei-courses {
  margin-bottom: 2em;
}

.woocommerce-page.woocommerce-checkout .woocommerce-order-sensei-courses h2 {
  background: var(--reign-site-secondary-bg-color);
  padding: 1em;
  margin-bottom: 0;
  font-size: 1.3rem;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
}

.woocommerce-page.woocommerce-checkout section.woocommerce-order-sensei-courses ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background: var(--reign-site-sections-bg-color);
  border-radius: 0 0 var(--reign-global-border-radius) var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
}

.woocommerce-page.woocommerce-checkout section.woocommerce-order-sensei-courses ul li {
  padding: 15px;
}

.woocommerce-page.woocommerce-checkout section.woocommerce-order-sensei-courses ul li + li {
  border-top: 1px solid var(--reign-site-border-color);
}

.item-body-inner-wrapper #sensei-user-courses .my-messages-link-container,
.item-body-inner-wrapper #sensei-user-courses #user-course-status-toggle {
  display: none;
}

#commentform .error {
  color: red;
  font-size: 14px;
}