/**
 * Admin styles for Reign TutorLMS Addon
 */

.post-type-courses #reign_postmeta_settings {
    display: none;
}

.reign-nav-tab-wrapper a.tutorlms.nav-tab:before {
    content: "\f448"; /* Dashicons welcome-learn-more icon */
    display: block;
    font-family: 'dashicons';
    font-weight: 400;
    margin-right: 10px;
    line-height: 18px;
}

.reign-settings-warning {
    margin: 10px 0;
    padding: 16px;
    font-size: 14px;
    background: #fc9700;
    color: #fff;
    border: 1px solid #d68000;
    border-radius: 8px;
}