/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# All Listing
# Add Listing
# All Locations
# All Authors
# Author Profile
# All Categories
# Login/Registration
# Dashboard
# Single Directory
# Checkout
# Booking Confirmation
# Sidebar Widgets
# Addons Suport
    # BuddyPress/BB Platform
    # Claim Listing
    # Slider Carousel
    # FAQ's
    # Compare Listing
--------------------------------------------------------------*/
:root {
  --directorist-color-white: var(--reign-site-sections-bg-color);
  --directorist-color-light: var(--reign-site-secondary-bg-color);
  --directorist-color-dark: var(--reign-site-headings-color);
  --directorist-color-body: var(--reign-site-body-text-color);
  --directorist-color-primary: var(--reign-colors-theme);
  --directorist-color-border: var(--reign-site-border-color);
  --directorist-color-border-light: var(--reign-site-border-color);
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.directorist-container,
.directorist-container-fluid,
.directorist-container-xxl,
.directorist-container-xl,
.directorist-container-lg,
.directorist-container-md,
.directorist-container-sm {
  margin: 0;
  padding: 0;
}

/* Pagination */
.directorist-pagination .page-numbers,
.directorist-user-dashboard-tabcontent .directorist-dashboard-pagination .page-numbers {
  background: var(--reign-site-sections-bg-color);
  color: var(--reign-site-body-text-color);
  border-color: var(--reign-form-border-color);
}

.directorist-pagination .page-numbers.current,
.directorist-user-dashboard-tabcontent .directorist-dashboard-pagination .page-numbers.current {
  background: var(--reign-colors-theme) !important;
  color: var(--reign-color-white);
  border-color: var(--reign-colors-theme);
}

.directorist-btn,
#directorist .directorist-coupon-redeem .directorist-coupon-redeem__form button,
.booking-confirmation-btn,
.directorist-compare-listing-wrapper .directorist-compare-listing-all__btn {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border-color: var(--reign-site-button-bg-color);
  border-radius: var(--reign-global-button-radius);
}
.directorist-btn:focus,
#directorist .directorist-coupon-redeem .directorist-coupon-redeem__form button:focus,
.booking-confirmation-btn:focus,
.directorist-compare-listing-wrapper .directorist-compare-listing-all__btn:focus {
  background-color: var(--reign-site-button-bg-hover-color);
  color: var(--reign-site-button-text-hover-color);
  border-color: var(--reign-site-button-bg-hover-color);
}
@media (hover: hover) and (pointer: fine) {
  .directorist-btn:hover,
  #directorist .directorist-coupon-redeem .directorist-coupon-redeem__form button:hover,
  .booking-confirmation-btn:hover,
  .directorist-compare-listing-wrapper .directorist-compare-listing-all__btn:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
    border-color: var(--reign-site-button-bg-hover-color);
  }
}

.directorist-dropdown__toggle:focus {
  background-color: var(--reign-site-button-bg-hover-color) !important;
  color: var(--reign-site-button-text-hover-color) !important;
  border-color: var(--reign-site-button-bg-hover-color) !important;
}

@media (hover: hover) and (pointer: fine) {
  .directorist-dropdown__toggle:hover {
    background-color: var(--reign-site-button-bg-hover-color) !important;
    color: var(--reign-site-button-text-hover-color) !important;
    border-color: var(--reign-site-button-bg-hover-color) !important;
  }
}
.directorist-selects select {
  color: var(--reign-site-body-text-color);
  background-color: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  box-shadow: none;
  -webkit-appearance: none;
  padding-left: 40px !important;
}

@media (hover: hover) and (pointer: fine) {
  .directorist-content-active .directorist-authors__card .directorist-btn:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
  }
}
.directorist-user-dashboard-tab .directorist-user-dashboard-search input,
.directorist-review-submit__form .directorist-form-group textarea,
#directorist .directorist-coupon-redeem .directorist-coupon-redeem__form input,
.directorist-booking-refund-policy-wrapper .refund-policy textarea,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__day input,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__amount input,
.directorist-form-ticket__list textarea {
  background: var(--reign-form-background-color);
  color: var(--reign-form-text-color);
  border: 1px solid var(--reign-form-border-color);
  border-radius: var(--reign-global-form-radius);
}
.directorist-user-dashboard-tab .directorist-user-dashboard-search input:focus,
.directorist-review-submit__form .directorist-form-group textarea:focus,
#directorist .directorist-coupon-redeem .directorist-coupon-redeem__form input:focus,
.directorist-booking-refund-policy-wrapper .refund-policy textarea:focus,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__day input:focus,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__amount input:focus,
.directorist-form-ticket__list textarea:focus {
  background: var(--reign-form-focus-background-color);
  color: var(--reign-form-focus-text-color);
  border: 1px solid var(--reign-form-focus-border-color);
}

.directorist-alert a {
  color: inherit;
}

.directorist-form-group .directorist-form-element {
  border-radius: 0 !important;
}

/*--------------------------------------------------------------
# All Listing
--------------------------------------------------------------*/
.marker-cluster span {
  color: #333;
}

.directorist-form-group .directorist-form-element,
.select2.select2-container .select2-selection--single,
.directorist-select .select2-container.select2-container--default .select2-selection--single {
  border-color: var(--reign-form-border-color) !important;
}
.directorist-form-group .directorist-form-element:focus,
.select2.select2-container .select2-selection--single:focus,
.directorist-select .select2-container.select2-container--default .select2-selection--single:focus {
  border-color: var(--reign-form-focus-border-color) !important;
}

.directorist-advanced-filter {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}

.directorist-dropdown .directorist-dropdown__links {
  background: var(--reign-site-sections-bg-color);
}

.directorist-listing-single .directorist-listing-single__meta .directorist-listing-category > a .directorist-icon-mask,
.directorist-dropdown .directorist-dropdown__links a.active {
  background: var(--reign-site-secondary-bg-color);
}

@media (hover: hover) and (pointer: fine) {
  .directorist-content-active .directorist-listings-header__right .directorist-dropdown .directorist-dropdown__links--single:hover {
    background: var(--reign-site-secondary-bg-color);
  }
}
.directorist-content-active .directorist-listings-header__left .directorist-header-found-title,
.directorist-dropdown .directorist-dropdown__links a {
  color: var(--reign-site-headings-color);
}

.directorist-listing-single .directorist-listing-single__info .directorist-listing-title a {
  color: var(--reign-site-link-color);
}
@media (hover: hover) and (pointer: fine) {
  .directorist-listing-single .directorist-listing-single__info .directorist-listing-title a:hover {
    color: var(--reign-site-link-hover-color);
  }
}

.directorist-dropdown .directorist-dropdown__links a {
  margin: 0 10px;
}

.directorist-listing-single .directorist-listing-single__info .directorist-pricing-meta .directorist-listing-price {
  background: var(--reign-site-sections-bg-color);
  color: var(--reign-site-headings-color);
}

.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li a,
.directorist-listing-single .directorist-listing-single__info .directorist-listing-single__info--list ul li,
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-single__meta--left .directorist-listing-category a,
.directorist-rating-meta .directorist-rating-avg,
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-single__meta--right .directorist-view-count {
  color: var(--reign-site-body-text-color);
}

.directorist-icon-mask:after,
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-category > a .directorist-icon-mask:after,
.directorist-listing-single .directorist-listing-single__meta .directorist-listing-single__meta--right .directorist-view-count .directorist-icon-mask:after,
.directorist-pagination .page-numbers .directorist-icon-mask:after {
  background-color: var(--reign-site-body-text-color);
}

.directorist-listing-single .directorist-listing-single__meta,
.directorist-advanced-filter__basic,
.directorist-price-ranges__item.directorist-price-ranges__price-frequency,
.directorist-price-ranges__item.directorist-price-ranges__price-frequency .directorist-price-ranges__price-frequency--btn:not(:last-child),
.directorist-advanced-filter__advanced--element,
#map {
  border-color: var(--reign-site-border-color);
}

/* Border radius */
.directorist-listing-single {
  border-radius: var(--reign-global-border-radius) !important;
}

.directorist-listing-single.directorist-listing-card .directorist-listing-single__thumb .directorist-thumnail-card .directorist-thumnail-card-front-img {
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
}

.directorist-listing-single.directorist-listing-list .directorist-listing-single__thumb .directorist-thumnail-card .directorist-thumnail-card-front-img {
  border-radius: 0 var(--reign-global-border-radius) var(--reign-global-border-radius) 0;
}

/*--------------------------------------------------------------
# Add Listing
--------------------------------------------------------------*/
.directorist-add-listing-wrapper {
  max-width: 100% !important;
}

.directorist-add-listing-form .directorist-content-module,
#directiost-listing-fields_wrapper .directorist-content-module,
.atbd_content_module {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius) !important;
}

.directorist-checkbox input[type=checkbox] + .directorist-checkbox__label,
.directorist-checkbox input[type=checkbox] + .directorist-radio__label,
.directorist-checkbox input[type=radio] + .directorist-checkbox__label,
.directorist-checkbox input[type=radio] + .directorist-radio__label,
.directorist-radio input[type=checkbox] + .directorist-checkbox__label,
.directorist-radio input[type=checkbox] + .directorist-radio__label,
.directorist-radio input[type=radio] + .directorist-checkbox__label,
.directorist-radio input[type=radio] + .directorist-radio__label,
.ezmu__info-list-item,
.directorist-booking-wrap .directorist-form-group .directorist-booking-input-more span {
  color: var(--reign-site-body-text-color);
}

.directorist-form-label,
.directorist-bh-wrap .directorist-bh-extras .directorist-checkbox .directorist-checkbox__label,
.directorist-bh-wrap .directorist-bh-extras .directorist-radio .directorist-radio__label,
.directorist-switch .directorist-switch-label,
.directorist-radio.directorist-radio-theme-admin input[type=radio]:checked + .directorist-radio__label,
.directorist-booking-wrap .directorist-checkbox input[type=checkbox] + .directorist-checkbox__label,
.directorist-switch .directorist-switch-input:checked + .directorist-switch-label,
.directorist-booking-wrap .directorist-booking-label {
  color: var(--reign-site-headings-color);
}

.directorist-bh-dayzone .directorist-bh-dayzone__single.directorist-enable-hour-time-selection .directorist-bh-dayzone__single--swtich .directorist-switch label,
.directorist-bh-dayzone .directorist-bh-dayzone__single .directorist-bh-dayzone__single--swtich .directorist-switch label {
  color: var(--reign-site-headings-color) !important;
}

.directorist-content-module__title,
.directorist-booking-wrap .directorist-form-group .directorist-booking-input-more span,
.directorist-booking-options,
.directorist-bh-selection {
  border-color: var(--reign-site-border-color);
}

.ez-media-uploader {
  background: rgba(0, 0, 0, 0.05);
  border: 1px dashed rgba(0, 0, 0, 0.2);
}

.directorist-form-map-field__maps,
.directorist-details-info-wrap {
  z-index: 99;
  position: relative;
}

.directorist-form-group .directorist-form-element {
  height: 42px;
}

textarea.directorist-form-element {
  resize: auto;
}

.directorist-switch.directorist-switch-primary .directorist-switch-input:checked + .directorist-switch-label:before,
.directorist-switch .directorist-switch-input:checked + .directorist-switch-label:before {
  background-color: var(--reign-colors-theme);
}

.directorist-radio.directorist-radio-theme-admin input[type=radio]:checked + .directorist-radio__label:after {
  background-color: var(--reign-colors-theme) !important;
  border-color: var(--reign-colors-theme) !important;
}

.directorist-booking-refund-policy-wrapper .refund-policy textarea,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__day input,
.directorist-booking-refund-policy-wrapper .booking-refund-rules .booking-refund-rules-wrapper .booking-refund-rules-single__amount input {
  box-shadow: none;
}

.directorist-booking-time-duplicate-dropdown__content {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}

.directorist-booking-time-duplicate-dropdown__content__inner .directorist-checkbox--select-all,
.directorist-booking-time-duplicate-dropdown__content__footer {
  background: var(--reign-site-secondary-bg-color);
}

.directorist-booking-extras .directorist-booking-weekdays-tab-nav .directorist-booking-weekdays-tab-nav__item {
  border: 1px solid var(--reign-site-border-color) !important;
}

.directorist-content-active .select2.select2-container.select2-container--default .select2-selection {
  border-color: var(--reign-site-border-color);
}

.directorist-form-image-upload-field .ez-media-uploader {
  background-color: var(--reign-site-secondary-bg-color) !important;
  border: 2px dashed var(--reign-site-border-color) !important;
}

/*--------------------------------------------------------------
# All Locations
--------------------------------------------------------------*/
#directorist.atbd_wrapper .atbd_location_grid_wrap .atbd_location_grid {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

#directorist.atbd_wrapper .atbd_location_grid_wrap .atbd_location_grid.atbd_location_grid-default figure figcaption {
  background: var(--reign-site-sections-bg-color);
}

#directorist.atbd_wrapper .atbd_location_grid_wrap .atbd_location_grid.atbd_location_grid-default figure figcaption h3,
#directorist.atbd_wrapper .atbd_location_grid_wrap .atbd_location_grid.atbd_location_grid-default figure figcaption p {
  color: var(--reign-site-headings-color);
}

/*--------------------------------------------------------------
# All Authors
--------------------------------------------------------------*/
.directorist-content-active .directorist-authors__nav ul li.active a {
  border-bottom-color: var(--reign-colors-theme);
}

.directorist-content-active .directorist-authors__card {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.directorist-content-active .directorist-authors__card__details__top {
  border-color: var(--reign-site-border-color);
}

.directorist-content-active .directorist-authors__card__info-list li a {
  color: var(--reign-site-body-text-color);
}

/*--------------------------------------------------------------
# Author Profile
--------------------------------------------------------------*/
.directorist-card {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.directorist-author-profile-wrap.directorist-card,
.directorist-card .directorist-card__header {
  border-color: var(--reign-site-border-color);
}

.directorist-card .directorist-card__header .directorist-card__header--title,
.directorist-author-profile-wrap .directorist-author-avatar .directorist-author-avatar__info .directorist-author-name {
  color: var(--reign-site-headings-color);
}

.directorist-author-profile-wrap .directorist-author-meta-list .directorist-author-meta-list__item .directorist-review-count span,
.directorist-author-profile-wrap .directorist-author-meta-list .directorist-author-meta-list__item .directorist-listing-count span,
.directorist-author-info-widget .directorist-author-info-list__item,
.directorist-author-info-widget .directorist-author-info-list__item .directorist-info a,
.directorist-author-profile-wrap .directorist-author-meta-list .directorist-author-meta-list__item .directorist-review-count,
.directorist-author-profile-wrap .directorist-author-meta-list .directorist-author-meta-list__item .directorist-listing-count,
.directorist-author-profile-wrap .directorist-author-avatar .directorist-author-avatar__info p {
  color: var(--reign-site-body-text-color);
}

.directorist-author-profile-wrap .directorist-author-meta-list .directorist-info-meta + .directorist-info-meta:before {
  background-color: var(--reign-site-border-color);
}

.directorist-author-info-widget .directorist-author-social-item a,
.directorist-single-author-info .directorist-author-social-item a,
.directorist-authors-section .directorist-author-social-item a {
  background-color: var(--reign-site-secondary-bg-color);
}

.directorist-content-active .directorist-author-profile__meta-list__item {
  background-color: var(--reign-site-secondary-bg-color);
}

/*--------------------------------------------------------------
# All Categories
--------------------------------------------------------------*/
#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image figcaption {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image figure {
  margin: 0;
}

#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image .cat-name {
  color: var(--reign-site-headings-color);
}

#directorist.atbd_wrapper .atbd_all_categories .atbd_category_single.atbd_category_no_image .cat-count {
  color: var(--reign-site-body-text-color);
}

/*--------------------------------------------------------------
# Login/Registration
--------------------------------------------------------------*/
button.directorist-authentication__btn {
  border: none;
  color: var(--reign-site-link-color);
  background: transparent;
}

@media (hover: hover) and (pointer: fine) {
  button.directorist-authentication__btn:hover {
    color: var(--reign-site-link-hover-color);
  }
}
/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
.directorist-user-dashboard__toggle__link,
.directorist-wallet-table table th {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}

.directorist-user-dashboard__nav,
.directorist-user-dashboard-tab .directorist-user-dashboard-tab__nav,
.directorist-user-dashboard-tabcontent,
.directorist-favourite-items-wrap .directorist-favourirte-items,
.directorist-announcement-wrapper,
.booking-requests .directorist-booking-single,
.directorist-wallet-table {
  background: var(--reign-site-sections-bg-color);
  border-radius: var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
}

.directorist-user-dashboard__nav .directorist-tab__nav__link.directorist-tab__nav__active,
.directorist-user-dashboard__nav .directorist-tab__nav__link:focus {
  background-color: var(--reign-site-secondary-bg-color) !important;
  color: var(--reign-site-headings-color);
}

.directorist-inner .directorist-inner__h3title > a,
.directorist-inner__booking-wrapper .directorist-inner__h5title,
.directorist-wallet-title {
  color: var(--reign-site-headings-color) !important;
}

@media (hover: hover) and (pointer: fine) {
  .directorist-favourite-items-wrap .directorist-dashboard-items-list__single:hover {
    background-color: var(--reign-site-secondary-bg-color);
    border-radius: var(--reign-global-border-radius);
  }
}
.directorist-user-dashboard__nav .directorist-tab__nav__link,
.directorist-user-dashboard-tabcontent .directorist-listing-table tr td,
.directorist-user-dashboard-tabcontent .directorist-listing-table tr th,
.directorist-favourite-items-wrap .directorist-dashboard-items-list__single .directorist-listing-content .directorist-listing-category,
.directorist-booking-list > li a,
.directorist-booking-list > li,
.directorist-inner__msg p {
  color: var(--reign-site-body-text-color);
}

.directorist-user-dashboard-tabcontent .directorist-listing-table .directorist-actions .directorist-btn-more {
  background-color: var(--reign-site-sections-bg-color);
}

.directorist-user-dashboard-tab ul li a,
.directorist-user-dashboard-tabcontent .directorist-listing-table .directorist-listing-table-listing-info__content .directorist-title a,
.directorist-user-dashboard-tabcontent .directorist-listing-table .directorist-actions .directorist-btn-more,
.directorist-favourite-items-wrap .directorist-dashboard-items-list__single .directorist-listing-content .directorist-listing-title a,
.directorist-announcement-wrapper .directorist-announcement__content .directorist-announcement__title,
.directorist-booking-calender__main-title {
  color: var(--reign-site-headings-color);
}

.directorist-user-dashboard-tab ul li a:after {
  background-color: var(--reign-colors-theme);
}

.directorist-user-dashboard-tabcontent .directorist-listing-table tr {
  background: var(--reign-site-sections-bg-color);
}

.directorist-user-dashboard-tabcontent .directorist-listing-table tr th,
.directorist-user-dashboard-tabcontent .directorist-dashboard-pagination,
.directorist-user-socials .directorist-user-social-label,
.directorist-booking-calender__search {
  border-color: var(--reign-site-border-color);
}

.directorist-user-dashboard-tabcontent .directorist-listing-table {
  border-radius: var(--reign-global-border-radius);
}

.directorist-image-profile-wrap .ezmu__upload-button-wrap .ezmu__btn {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border-radius: var(--reign-global-button-radius);
}
.directorist-image-profile-wrap .ezmu__upload-button-wrap .ezmu__btn:focus {
  background-color: var(--reign-site-button-bg-hover-color);
  color: var(--reign-site-button-text-hover-color);
}
@media (hover: hover) and (pointer: fine) {
  .directorist-image-profile-wrap .ezmu__upload-button-wrap .ezmu__btn:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
  }
}

.directorist-image-profile-wrap {
  padding: 10px;
  background-color: var(--reign-site-sections-bg-color);
  border-radius: var(--reign-global-border-radius);
  border-color: var(--reign-site-border-color);
}
.directorist-image-profile-wrap .ez-media-uploader {
  margin: 0;
  border-radius: var(--reign-global-border-radius);
}

.directorist-user-socials label .directorist-social-icon .directorist-icon-mask:after {
  background-color: var(--reign-site-body-text-color);
}

.directorist-booking-calender__search input[type=text]:focus {
  background-color: transparent;
  color: var(--reign-form-focus-text-color);
  border: 0;
}

@media (hover: hover) and (pointer: fine) {
  .directorist-user-dashboard-tabcontent .directorist-listing-table .directorist-dropdown-menu__list .directorist-dropdown-item:hover {
    background-color: var(--reign-site-secondary-bg-color);
  }
}
.directorist-user-dashboard-tabcontent .directorist-listing-table .directorist-dropdown-menu {
  border-color: var(--reign-site-border-color);
}

/*--------------------------------------------------------------
# Single Directory
--------------------------------------------------------------*/
.directorist-single .directorist-single-listing-top .directorist-btn.directorist-btn-light,
.directorist-single .directorist-single-listing-top button:not(:hover):not(:active):not(.has-background).directorist-btn.directorist-btn-light {
  background-color: var(--reign-site-secondary-bg-color);
  border-color: var(--reign-site-secondary-bg-color);
  color: var(--reign-site-body-text-color);
}
.directorist-single .directorist-single-listing-top .directorist-single-listing-top__btn-continue.directorist-btn {
  color: var(--directorist-color-white);
}

.directorist-review-submit,
.directorist-review-content .directorist-review-content__header,
.directorist-single-listing-action .directorist-social-share .directorist-social-share-links,
.directorist-review-content .directorist-review-content__reviews .directorist-review-single {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

.directorist-review-content .directorist-review-content__header--noreviews > div,
.directorist-review-submit__header {
  border-color: var(--reign-site-border-color);
}

.directorist-single-listing-action .directorist-single-listing-action,
.directorist-single-tag-list a .directorist-icon-mask {
  background: var(--reign-site-secondary-bg-color);
}

@media (hover: hover) and (pointer: fine) {
  .directorist-single-listing-action .directorist-social-share .directorist-social-share-links .directorist-social-links__item a:hover {
    background: var(--reign-site-secondary-bg-color);
    color: var(--reign-site-body-text-color);
  }
}
.directorist-single-author-avatar .directorist-single-author-name h1,
.directorist-single-author-avatar .directorist-single-author-name h2,
.directorist-single-author-avatar .directorist-single-author-name h3,
.directorist-single-author-avatar .directorist-single-author-name h4,
.directorist-single-author-avatar .directorist-single-author-name h5,
.directorist-single-author-avatar .directorist-single-author-name h6,
.directorist-review-submit__header h3,
.directorist-review-content .directorist-review-content__header h3,
.directorist-report-abuse-modal .directorist-modal__header .directorist-modal-title,
.directorist-review-content .directorist-review-content__overview__rating .directorist-rating-point {
  color: var(--reign-site-headings-color);
}

.directorist-single-tag-list a,
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__value a {
  color: var(--reign-site-link-color);
}
@media (hover: hover) and (pointer: fine) {
  .directorist-single-tag-list a:hover,
  .directorist-details-info-wrap .directorist-single-info .directorist-single-info__value a:hover {
    color: var(--reign-site-link-hover-color);
  }
}

.directorist-listing-details .directorist-listing-details-tagline,
.directorist-listing-details .directorist-listing-details__text p,
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__label,
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__value,
.directorist-single-author-avatar .directorist-single-author-name .directorist-single-author-membership,
.directorist-single-author-contact-info ul li .directorist-single-author-contact-info-text,
.directorist-review-submit__form .directorist-review-criteria__single__label,
.directorist-review-submit__form .directorist-form-group label,
.directorist-review-content .directorist-review-content__header h3 span {
  color: var(--reign-site-body-text-color);
}

.directorist-review-submit__form .directorist-review-criteria__single .br-widget a,
.directorist-details-info-wrap .directorist-single-info .directorist-single-info__label .directorist-single-info__label-icon,
.directorist-related-carousel .directorist-slc__nav {
  background: var(--reign-site-secondary-bg-color);
}

.directorist-review-content .directorist-review-content__reviews .directorist-review-single {
  border-radius: 0;
}
.directorist-review-content .directorist-review-content__reviews .directorist-review-single:last-child {
  border-radius: 0 0 var(--reign-global-border-radius) var(--reign-global-border-radius);
}
.directorist-review-content .directorist-review-content__reviews .directorist-review-single .comment-body {
  margin-top: 0;
  box-shadow: none;
  border: 0;
  min-height: auto;
}
.directorist-review-content .directorist-review-content__reviews .directorist-review-single .directorist-review-single__contents-wrap .directorist-review-single__header .directorist-review-single__author__img img {
  height: auto;
}
.directorist-review-content .directorist-review-content__reviews .directorist-review-single .directorist-review-single__author__img {
  margin: 0;
  padding: 0;
  float: none;
  width: auto;
  text-align: inherit;
}
.directorist-review-content .directorist-review-content__reviews .directorist-review-single .directorist-review-single__author__img img {
  width: 50px;
  height: 50px;
  margin: 0;
  border: 0;
}

.directorist-review-content .directorist-review-content__header {
  border-radius: var(--reign-global-border-radius) var(--reign-global-border-radius) 0 0;
}

.directorist-review-content .directorist-review-content__overview {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: 0 0 var(--reign-global-border-radius) var(--reign-global-border-radius);
}

.directorist-single-contents-area .directorist-sidebar .directorist-card .directorist-card__header + ul {
  padding: 30px;
}
.directorist-single-contents-area .directorist-sidebar .directorist-card .directorist-card__header + ul li {
  margin-bottom: 10px;
}

@media screen and (max-width: 575px) {
  .directorist-single-contents-area .directorist-sidebar .directorist-card .directorist-card__header + ul {
    padding: 20px 15px;
  }
}
/*--------------------------------------------------------------
# Checkout
--------------------------------------------------------------*/
table#directorist-checkout-table {
  box-shadow: 0 0 1px 1px var(--reign-site-border-color);
  overflow: hidden;
}
table#directorist-checkout-table th {
  border: 0;
  color: var(--reign-site-headings-color);
}
table#directorist-checkout-table td,
table#directorist-checkout-table th {
  padding: 15px !important;
}

.directorist-checkout-form .directorist-col-md-8 {
  width: 100%;
  margin-right: 0;
}

.directorist-coupon-redeem {
  max-width: 100%;
}

.directorist-coupon-redeem,
.directorist-payment-gateways,
.directorist-content-module,
table#directorist-checkout-table {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
}

/*--------------------------------------------------------------
# Booking Confirmation
--------------------------------------------------------------*/
.directorist-confirm-ticket {
  background: var(--reign-site-sections-bg-color);
  border: 1px solid var(--reign-site-border-color);
  border-radius: var(--reign-global-border-radius);
  margin: 0;
  padding: 15px;
}

.directorist-confirm-ticket__contents {
  width: 100%;
}

.directorist-form-ticket__list .input-with-icon i {
  top: 0;
}

/*--------------------------------------------------------------
# Sidebar Widgets
--------------------------------------------------------------*/
.widget.atbd_widget[id^=bd] .atbd_widget_title h4,
.widget.atbd_widget[id^=dcl] .atbd_widget_title h4,
.widget.atbd_widget .atbd_widget_title h4 {
  font-weight: 500;
}

.widget.atbd_widget[id^=bd] .atbd_widget_title,
.widget.atbd_widget[id^=dcl] .atbd_widget_title,
.widget.atbd_widget .atbd_widget_title,
.widget.atbd_widget[id^=bd] .atbdp,
.widget.atbd_widget[id^=bd] .directorist,
.widget.atbd_widget[id^=dcl] .atbdp,
.widget.atbd_widget[id^=dcl] .directorist,
.widget.atbd_widget .atbdp,
.widget.atbd_widget .directorist,
.directorist-claim-listing-widget .directorist-claim-listing,
.widget.atbd_widget .directorist-open-hours {
  padding: 15px;
}

.widget.atbd_widget[id^=bd] .atbd_categorized_listings,
.widget.atbd_widget[id^=dcl] .atbd_categorized_listings,
.widget.atbd_widget .atbd_categorized_listings {
  padding: 0 15px;
}

.widget.atbd_widget[id^=bd],
.widget.atbd_widget[id^=dcl],
.widget.atbd_widget {
  background: var(--reign-site-sections-bg-color);
  border-radius: var(--reign-global-border-radius);
  border: 1px solid var(--reign-site-border-color);
}

.widget.atbd_widget[id^=bd] .atbd_widget_title,
.widget.atbd_widget[id^=dcl] .atbd_widget_title,
.widget.atbd_widget .atbd_widget_title,
.widget.atbd_widget[id^=bd] .atbd_categorized_listings .listings > li + li,
.widget.atbd_widget[id^=dcl] .atbd_categorized_listings .listings > li + li,
.widget.atbd_widget .atbd_categorized_listings .listings > li + li,
.directorist-faq-accordion__single:not(:last-child),
.directorist-booking-dropdown-wrap .directorist-booking-panel-dropdown .directorist-booking-ts-dropdown-toggle,
.directorist-booking-estimated-cost {
  border-color: var(--reign-site-border-color);
}

.directorist-open-hours li:not(:last-child) {
  border-bottom-color: var(--reign-site-border-color) !important;
}

.widget.atbd_widget[id^=bd] .atbd_author_info_widget .atbd_widget_contact_info ul li a,
.widget.atbd_widget[id^=dcl] .atbd_author_info_widget .atbd_widget_contact_info ul li a,
.widget.atbd_widget .atbd_author_info_widget .atbd_widget_contact_info ul li a,
.widget.atbd_widget[id^=bd] a,
.widget.atbd_widget[id^=dcl] a,
.widget.atbd_widget a,
.widget.atbd_widget[id^=bd] .atbdp.atbdp-widget-tags ul li a,
.widget.atbd_widget[id^=bd] .directorist.atbdp-widget-tags ul li a,
.widget.atbd_widget[id^=dcl] .atbdp.atbdp-widget-tags ul li a,
.widget.atbd_widget[id^=dcl] .directorist.atbdp-widget-tags ul li a,
.widget.atbd_widget .atbdp.atbdp-widget-tags ul li a,
.widget.atbd_widget .directorist.atbdp-widget-tags ul li a {
  color: var(--reign-site-link-color);
  border-color: var(--reign-site-border-color);
}
@media (hover: hover) and (pointer: fine) {
  .widget.atbd_widget[id^=bd] .atbd_author_info_widget .atbd_widget_contact_info ul li a:hover,
  .widget.atbd_widget[id^=dcl] .atbd_author_info_widget .atbd_widget_contact_info ul li a:hover,
  .widget.atbd_widget .atbd_author_info_widget .atbd_widget_contact_info ul li a:hover,
  .widget.atbd_widget[id^=bd] a:hover,
  .widget.atbd_widget[id^=dcl] a:hover,
  .widget.atbd_widget a:hover,
  .widget.atbd_widget[id^=bd] .atbdp.atbdp-widget-tags ul li a:hover,
  .widget.atbd_widget[id^=bd] .directorist.atbdp-widget-tags ul li a:hover,
  .widget.atbd_widget[id^=dcl] .atbdp.atbdp-widget-tags ul li a:hover,
  .widget.atbd_widget[id^=dcl] .directorist.atbdp-widget-tags ul li a:hover,
  .widget.atbd_widget .atbdp.atbdp-widget-tags ul li a:hover,
  .widget.atbd_widget .directorist.atbdp-widget-tags ul li a:hover {
    color: var(--reign-site-link-hover-color);
  }
}

.widget.atbd_widget[id^=bd] .atbd_categorized_listings .listings > li .atbd_right_content .directorist-listing-category a .directorist-icon-mask:after,
.widget.atbd_widget[id^=dcl] .atbd_categorized_listings .listings > li .atbd_right_content .directorist-listing-category a .directorist-icon-mask:after,
.widget.atbd_widget .atbd_categorized_listings .listings > li .atbd_right_content .directorist-listing-category a .directorist-icon-mask:after {
  background-color: var(--reign-site-body-text-color);
}

@media (hover: hover) and (pointer: fine) {
  .widget.atbd_widget .atbdp.atbdp-widget-tags ul li a:hover {
    background-color: var(--reign-site-secondary-bg-color);
  }
}
.widget.atbd_widget[id^=bd] .atbd_author_info_widget .btn,
.widget.atbd_widget[id^=dcl] .atbd_author_info_widget .btn,
.widget.atbd_widget .atbd_author_info_widget .btn {
  border: 1px solid transparent !important;
}

.widget.atbd_widget[id^=bd] .atbd_author_info_widget .atbd_avatar_wrapper .atbd_name_time,
.widget.atbd_widget[id^=dcl] .atbd_author_info_widget .atbd_avatar_wrapper .atbd_name_time,
.widget.atbd_widget .atbd_author_info_widget .atbd_avatar_wrapper .atbd_name_time {
  width: calc(100% - 62px);
}

.widget.atbd_widget[id^=bd] .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask,
.widget.atbd_widget[id^=dcl] .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask,
.widget.atbd_widget .atbd_author_info_widget .atbd_widget_contact_info ul li .directorist-icon-mask {
  top: 2px;
}

.directorist-open-hours li .directorist-business-day,
.directorist-open-hours li .directorist-business-day {
  color: var(--reign-site-body-text-color);
}

.directorist-claim-listing__description {
  color: var(--reign-site-body-text-color) !important;
}

.directorist-faq-accordion__single .directorist-faq-accordion__title a:before {
  content: "\f107";
  font-family: "Font Awesome 6 Pro";
  top: 0;
  font-weight: 400;
}

.directorist-faq-accordion__single .directorist-faq-accordion__title a.directorist-active:before {
  content: "\f106";
}

.leaflet-touch .leaflet-bar a {
  color: #202428;
}

.directorist-single-map {
  z-index: 9;
}

/*--------------------------------------------------------------
## BuddyPress/BB Platform
--------------------------------------------------------------*/
.item-body .directorist-container,
.item-body .directorist-container-fluid,
.item-body .directorist-container-lg,
.item-body .directorist-container-md,
.item-body .directorist-container-sm,
.item-body .directorist-container-xl,
.item-body .directorist-container-xxl {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

#group-settings-form fieldset {
  padding: 20px;
  border: 1px solid var(--reign-site-border-color);
  outline: 0;
  border-radius: var(--reign-global-border-radius);
}
#group-settings-form fieldset .bp-group-option-enable label {
  display: inline-block;
}
#group-settings-form fieldset .directorist-listings-dropdown + .select2-container .select2-search--inline {
  float: right;
  width: 100%;
}

#buddypress label[for=dbp_create_enable_group_listings] {
  display: inline;
}

/*--------------------------------------------------------------
## Claim Listing
--------------------------------------------------------------*/
.directorist-modal__content {
  background: var(--reign-site-sections-bg-color);
}

.directorist-modal__content .directorist-modal__header,
.directorist-modal__content .directorist-modal__footer {
  border-color: var(--reign-site-border-color);
}

.directorist-claimer__form label {
  color: var(--reign-site-headings-color) !important;
}

.directorist-claim-listing-modal .directorist-modal__header .directorist-modal-close span {
  margin-top: -3px;
}

/*--------------------------------------------------------------
## FAQ's
--------------------------------------------------------------*/
.directorist-btn.directorist-btn-add-faq {
  background-color: var(--reign-site-button-bg-color) !important;
  color: var(--reign-site-button-text-color) !important;
  border-radius: var(--reign-global-button-radius) !important;
}
.directorist-btn.directorist-btn-add-faq:focus {
  background-color: var(--reign-site-button-bg-hover-color) !important;
  color: var(--reign-site-button-text-hover-color) !important;
}
@media (hover: hover) and (pointer: fine) {
  .directorist-btn.directorist-btn-add-faq:hover {
    background-color: var(--reign-site-button-bg-hover-color) !important;
    color: var(--reign-site-button-text-hover-color) !important;
  }
}

.directorist-form-group .directorist-form-element {
  border-color: var(--reign-site-border-color);
}

/*--------------------------------------------------------------
## Compare Listing
--------------------------------------------------------------*/
.atdlc_limit-aleart-message,
.directorist-compare-listing-table,
.directorist-compare-listing-table-wrapper {
  background: var(--reign-site-sections-bg-color);
  border-radius: var(--reign-global-border-radius);
}

.directorist-compare-listing-wrapper .directorist-compare-listing-collapse {
  top: 30%;
}

body.admin-bar .directorist-compare-listing-wrapper {
  top: 32px;
}

.directorist-compare-listing-wrapper .directorist-compare-listing-items {
  background-color: var(--reign-site-sections-bg-color);
}

.directorist-compare-listing-wrapper .directorist-compare-listing-items__title {
  color: var(--reign-site-headings-color);
}

.directorist-compare-listing-wrapper .directorist-compare-listing-items__title {
  border-color: var(--reign-site-border-color);
}

.directorist-compare-listing-table-wrapper tbody tr:nth-child(odd) {
  background-color: var(--reign-site-secondary-bg-color);
}

@media (hover: hover) and (pointer: fine) {
  .directorist-compare-listing-single__action__btn:hover {
    background-color: var(--reign-site-secondary-bg-color);
  }
}
.directorist-compare-listing-table-wrapper {
  max-width: initial !important;
}

.directorist-compare-listing-table-wrapper-title h5 a {
  color: var(--reign-site-link-color);
}
@media (hover: hover) and (pointer: fine) {
  .directorist-compare-listing-table-wrapper-title h5 a:hover {
    color: var(--reign-site-link-hover-color);
  }
}

.directorist-compare-listing-table-headings {
  color: var(--reign-site-body-text-color);
}

.directorist-content-active .directorist-type-nav__link {
  color: var(--reign-site-headings-color);
}