/**
 * Micro clearfix, as per: http://cssmojo.com/latest_new_clearfix_so_far/
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Activity Blog Post
# Youzify Members
# Youzify Single Members
# Youzify Sidebar
# Widgets
# Color Scheme
# Shortcodes
# Login Pop
# Addons
    # Advaced Polls
    # Who Viewed My Profile
    # BuddyPress profile completeness
    # Two-factor Authentication
    # BuddyPress Advanced Albums
    # Frontend Post Submission
    # Members Search
    # Block Members
    # BuddyPress Moderation
    # BuddyPress Activity Reactions
    # BuddyPress Schedule Activity
    # BuddyPress WooCommerce Integration
--------------------------------------------------------------*/
body.youzify-color-mode-active {
  --yzfy-body-color: var(--reign-site-body-bg-color);
  --yzfy-primary-color: var(--reign-site-headings-color);
  --yzfy-secondary-color: var(--reign-site-body-text-color);
  --yzfy-menu-link-color: var(--reign-site-link-color);
  --yzfy-menu-icons-color: var(--reign-site-headings-color);
  --yzfy-submenu-link-color: var(--reign-site-headings-color);
  --yzfy-text-color: var(--reign-site-body-text-color);
  --yzfy-subtext-color: var(--reign-site-alternate-text-color);
  --yzfy-card-bg-color: var(--reign-site-sections-bg-color);
  --yzfy-card-secondary-bg-color: var(--reign-site-border-color);
  --yzfy-heading-color: var(--reign-site-headings-color);
  --yzfy-icon-color: var(--reign-site-body-text-color);
  --yzfy-icon-bg-color: var(--reign-site-secondary-bg-color);
  --yzfy-button-bg-color: var(--reign-site-secondary-bg-color);
  --yzfy-button-text-color: var(--reign-site-headings-color);
  --yzfy-tab-text-color: var(--reign-site-headings-color);
  --yzfy-tab-bg-color: var(--reign-site-secondary-bg-color);
  --yzfy-primary-border-color: var(--reign-site-border-color);
  --yzfy-option-label-color: var(--reign-site-headings-color);
  --yzfy-option-input-color: var(--reign-site-body-text-color);
  --yzfy-option-input-bg-color: var(--reign-site-sections-bg-color);
  --yzfy-option-description-color: var(--reign-site-body-text-color);
  --yzfy-notice-primary-bg-color: var(--reign-site-secondary-bg-color);
  --yzfy-notice-primary-text-color: var(--reign-site-headings-color);
  --yzfy-shadow-color: var(--reign-more-options-box-shadow);
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.uk-option-button,
.youzify-panel-subtabs .youzify-panel-subtab-label,
.youzify-vertical-tab .youzify-vtab-title,
.ukai-panel .uk-option-item .option-title,
#youzify_networks .youzify-network-item .youzify-network-name,
.ukai-panel .uk-box-title h2,
.uk-panel-message .uk-msg-text,
.uk-option-item .option-desc,
.youzify-hidden-wg h3:after,
.youzify-md-actions button,
.youzify-cs-buttons button,
.option-content label,
.ukai-panel-title h2,
.uk-responsive-menu,
.ukai-copyright a,
.ukai-copyright p,
p.youzify-no-content,
.youzify-md-content,
.youzify-cs-title,
.youzify-ad-title,
.youzify-md-title,
.uk-popup,
.uk-msg-head h3,
.youzify-save-options,
.youzify_msg span,
.youzify-reset-options,
.uk-panel-msg .uk-msg-content p,
.uk-upload-photo .uk-upload-button,
.youzify .uk-upload-photo .uk-upload-button,
.youzify-main-content .wp-picker-container .wp-picker-clear,
.youzify-main-content .wp-picker-container .wp-color-picker,
.youzify .wp-picker-container input[type=text].wp-color-picker,
.wp-picker-container input[type=text].wp-color-picker,
#youzify .youzify-directory-filter .item-list-tabs li select,
#youzify-directory-search-box form input[type=submit],
#youzify-directory-search-box form input[type=text],
#youzify-groups-list .action a,
#youzify-groups-list .item .item-meta span,
#youzify-groups-list .item .item-title a,
#youzify-members-list .youzify-fullname,
#youzify-members-list .youzify-name,
#youzify-members-list .youzify-user-actions a {
  font-family: inherit;
}

#youzify .option-content input:not([type=radio]):not(.uk-upload-button):not(.wp-color-picker):not(.wp-picker-clear),
#youzify .editfield input:not([type=radio]):not([type=checkbox]),
.settings-inner-content .options-section-title h2,
.youzify .option-content input:not([type=radio]),
.youzify-settings-sidebar .youzify-account-menus ul li a,
.youzify-cphoto-options .youzify-upload-photo,
.youzify-settings-sidebar .youzify-account-menus h2,
.youzify .option-content textarea,
.youzify .option-content select,
.uk-option-item .option-desc,
.youzify-uploader-change-item h2,
.youzify-account-header ul li a,
.youzify .action-button,
.youzify-account-head span,
.uk-option-item label,
.youzify-account-head h2,
.youzify-account-item-button,
.youzify-no-content,
#group-settings-form textarea,
#send-invite-form .submit input,
#group-settings-form input[type=submit],
.group-members #search-members-form label input,
.group-members #search-members-form #members_search_submit,
#group-settings-form .youzify-group-field-item input[type=text],
.youzify-group-manage-members-search #search-members-form #members_search,
.youzify-group-manage-members-search #members_search_submit,
.youzify-head-content .youzify-head-meta,
.youzify-user-statistics li h3,
.youzify-head-content h2,
.youzify-usermeta li span,
.youzify-head-content h3,
.youzify-account-menu a,
.youzify-author-infos p,
.youzify-name h2,
.youzify-membership,
.youzify-membership-form .youzify-membership-form-cover .form-cover-title,
.youzify-membership-form-item .youzify-membership-item-content label,
.youzify-membership-form-item .youzify-membership-item-content input,
.youzify-membership-social-buttons .youzify-membership-social-title,
.youzify-membership-form .youzify-membership-form-message p,
.youzify-membership-social-buttons li a,
.youzify-membership-form-actions button,
.youzify-membership-form .youzify-membership-form-desc,
.youzify-membership-form .form-title h2,
.youzify-membership-forgot-password,
.youzify-membership-link-button,
.youzify-membership-form-note,
#youzify_membership_signup_form .current-visibility-level,
#youzify_membership_signup_form fieldset legend,
.youzify-user-balance-box .youzify-user-points-slash,
.youzify-tab-title-box .youzify-tab-title-content h2,
.youzify-recent-posts .youzify-post-head .youzify-post-title a,
.youzify-wg-networks.youzify-icons-full-width li a,
.youzify-tab-comment .youzify-comment-excerpt p,
.youzify-profile-navmenu .youzify-navbar-item a,
.youzify-project-content .youzify-project-title,
.youzify-tab-comment .youzify-comment-fullname,
.youzify-post-plus4imgs .youzify-post-imgs-nbr,
.youzify-recent-posts .youzify-post-meta ul li,
.youzify-post-content .youzify-post-title a,
.youzify-tab-comment .youzify-comment-title,
.youzify-tab-post .youzify-post-meta ul li,
.youzify-form .youzify-form-message p,
.youzify-infos-content ul li strong,
.youzify-video-head .youzify-video-title,
.youzify-video-head .youzify-video-desc,
.youzify-tab-post .youzify-post-title a,
.youzify-quote-content blockquote,
.youzify-tab-post .youzify-post-text p,
.youzify-widget .youzify-widget-title,
.youzify-box-head .youzify-box-title,
.youzify .youzify-link-content p,
.pagination .page-numbers,
.youzify-infos-content ul li p,
.youzify-aboutme-description,
.youzify-info-msg p strong,
.lb-data .lb-caption,
.lb-data .lb-number,
.youzify-profile-login,
.youzify_msg span,
.youzify-aboutme-name,
.youzify-project-type,
.youzify-quote-owner,
.youzify-box-404 h2,
.youzify-info-msg p,
.youzify-post-type,
.youzify-skillbar-title,
.youzify-skill-bar-percent,
.youzify-box-404 p,
.youzify-item-title,
#youzify-not-friend-message p,
#message-recipients .highlight h2,
.youzify-msg-form-item textarea,
#send-reply #send_reply_button,
#sitewide-notice #message button,
.youzify-msg-form-item input[type=text]:not(.search),
.youzify-msg-form-item .emojionearea .emojionearea-editor,
.item-list-tabs #search-message-form #messages_search,
.item-list-tabs #search-message-form #messages_search_submit,
.youzify-wall-actions .youzify-update-post,
#youzify-wall-form .youzify-wall-cf-item .youzify-cf-option-title,
#youzify-wall-modal,
.atwho-container .atwho-view ul li span.username,
.atwho-container .atwho-view small,
.dropdown-menu[data-strategy=youzify_mentions] li span.username,
.dropdown-menu[data-strategy=youzify_mentions] small,
#youzify div.item-list-tabs .youzify-activity-search input,
#youzify .youzify .youzify-wc-main-content form .form-row input.input-text,
#youzify .youzify .youzify-wc-main-content form .form-row textarea,
body .youzify,
body .youzify h3,
body #youzify input:not(.button),
body .youzify input:not(.button),
body .youzify button,
.youzify a,
.youzify p,
.youzify input,
.youzify-wp-widget,
.youzify select,
.youzify-dialog,
.youzify textarea,
#youzify div textarea,
.youzify a.button,
#sitewide-notice,
.youzify-tooltip:after,
.widget.buddypress,
.youzify-dialog-desc,
.youzify-items-list-widget,
.youzify-modal-actions a,
.youzify-modal-actions button,
.youzify-my-account-widget,
[data-youzify-tooltip]:after,
.youzify-tool-btn .youzify-tool-name,
.widget_bp_groups_widget .item-options a,
.widget_bp_core_members_widget .item-options a,
.widget_bp_core_sitewide_messages .bp-site-wide-message button,
#message p code,
#youzify-modal,
#youzify-modal .youzify-modal,
#youzify-live-notifications .youzify-notif-item .youzify-notif-desc,
#youzify-live-notifications .youzify-notif-item .youzify-notif-time,
#youzify .youzify-directory-filter .item-list-tabs li select,
#youzify-directory-search-box form input[type=submit],
#youzify-directory-search-box form input[type=text],
#youzify-groups-list .action a,
#youzify-groups-list .item .item-meta span,
#youzify-groups-list .item .item-title a,
#youzify-members-list .youzify-fullname,
#youzify-members-list .youzify-meta-item,
#youzify-members-list .youzify-user-actions a {
  font-family: inherit;
}

.youzify .uk-option-item input::-webkit-input-placeholder,
.youzify .uk-option-item input::-moz-placeholder,
.youzify .uk-option-item input:-moz-placeholder,
.youzify .option-option input::-ms-input-placeholder,
.youzify .uk-option-item textarea::-webkit-input-placeholder,
.youzify .uk-option-item textarea:-moz-placeholder,
.youzify .uk-option-item textarea::-moz-placeholder,
.youzify .option-option textarea::-ms-input-placeholder,
.group-members #search-members-form label input::-webkit-input-placeholder,
.group-members #search-members-form label input:-moz-placeholder,
.group-members #search-members-form label input::-moz-placeholder,
.group-members #search-members-form label input:-ms-input-placeholder,
.group-members #search-members-form label input::-ms-input-placeholder,
.youzify-group-manage-members-search #search-members-form #members_search::-webkit-input-placeholder,
.youzify-group-manage-members-search #search-members-form #members_search:-moz-placeholder,
.youzify-group-manage-members-search #search-members-form #members_search::-moz-placeholder,
.youzify-group-manage-members-search #search-members-form #members_search:-ms-input-placeholder,
.youzify-group-manage-members-search #search-members-form #members_search::-ms-input-placeholder,
.youzify-membership-form-item .youzify-membership-item-content input::-webkit-input-placeholder,
.youzify-membership-form-item .youzify-membership-item-content input::-moz-placeholder,
.youzify-membership-form-item .youzify-membership-item-content input::-ms-input-placeholder,
.item-list-tabs #search-message-form #messages_search::-webkit-input-placeholder,
.item-list-tabs #search-message-form #messages_search:-moz-placeholder,
.item-list-tabs #search-message-form #messages_search::-moz-placeholder,
.item-list-tabs #search-message-form #messages_search:-ms-input-placeholder,
.item-list-tabs #search-message-form #messages_search::-ms-input-placeholder,
.youzify textarea::-webkit-input-placeholder,
.youzify ::-webkit-input-placeholder,
.youzify ::-moz-placeholder,
.youzify :-ms-input-placeholder,
.youzify :-moz-placeholder {
  font-family: inherit;
}

#youzify .youzify-page {
  width: 100vw;
  margin-right: -50vw;
  right: 50%;
}

#youzify .youzify-membership {
  width: 100%;
  margin-right: auto;
  right: auto;
}

.site .site-content #youzify:not(.bp-shortcode-activity) {
  margin-top: -40px;
}

.wbtm_fav_avatar_listing,
.wbtm-bp-grp-type-public,
.wbtm-bp-grp-type-private,
.wbtm-bp-grp-type-hidden {
  display: none;
}

.youzify-global-wall .youzify-page-main-content,
.youzify-content main.youzify-page-main-content,
.youzify-profile-header .youzify-inner-content,
#youzify-profile-navmenu .youzify-inner-content {
  padding-right: 15px;
  padding-left: 15px;
}

#youzify-modal .youzify-modal-title > i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.youzify i {
  font-size: initial;
}

.youzify-main-column .bp-widget.group-separator-block.social {
  padding: 0 40px;
}

/*--------------------------------------------------------------
# Activity Blog Post
--------------------------------------------------------------*/
.youzify div.item-list-tabs li .youzify-dropdown-area:after {
  display: none;
}

#youzify .activity-meta a {
  transition: all 0.3s;
}

.activity-list li.blogs .activity-content {
  border: 0;
  max-width: 100%;
}

.activity-list li.blogs .activity-content .reign-post-img-link img {
  width: 100%;
  max-width: 100%;
  margin: 0 0 15px;
  padding: 0 25px;
}

.activity-list li.blogs .activity-content .reign-post-img-link img {
  border-radius: 4px;
}

.activity-list li.blogs .activity-content .reign-content-wrp {
  display: block;
  padding: 0 25px;
}

.activity-list li.blogs .activity-content .reign-content-wrp p {
  padding: 0;
}

.activity-list li.blogs .activity-content .reign-post-title {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.youzify .activity-list li.blogs .activity-content .activity-inner,
.youzify .activity-list div.blogs .activity-content .activity-inner {
  padding: 0 25px;
}
@media screen and (max-width: 475px) {
  .youzify .activity-list li.blogs .activity-content .activity-inner,
  .youzify .activity-list div.blogs .activity-content .activity-inner {
    padding: 0 15px;
  }
}

/*--------------------------------------------------------------
# Youzify Members
--------------------------------------------------------------*/
.youzify-color-mode-active #youzify-blogs-list li .youzify-blog-data,
.youzify-color-mode-active #youzify-groups-list li .youzify-group-data,
.youzify-color-mode-active #youzify-members-list > li .youzify-user-data {
  box-shadow: 0 0 1px 1px var(--reign-site-border-color);
}

.youzify-search-input-with-dropdown .youzify-search-icon {
  z-index: 1;
}

.youzify-tooltip:after,
[data-youzify-tooltip]:after {
  color: #fff;
}

.youzify-search-landing-image-text,
.youzify-search-landing-image-text .youzify-search-landing-heading-text {
  color: #fff;
}

/*--------------------------------------------------------------
# Youzify Single Member/Group
--------------------------------------------------------------*/
i.youzify-big-verified-icon {
  font-size: 15px !important;
}

i.youzify-medium-verified-icon {
  font-size: 11px !important;
}

i.youzify-small-verified-icon {
  font-size: 10px !important;
}

.youzify-color-mode-active .youzify.youzify-account-page .nice-select {
  border: 1px solid var(--reign-site-border-color);
}

.youzify-tool-btn .youzify-tool-name,
.youzify-usermeta li,
.youzify-usermeta li a,
.youzify-usermeta li span,
.youzify-profile-login,
.youzify-membership-form .form-cover-title {
  color: #fff !important;
}

@media (hover: hover) and (pointer: fine) {
  .youzify-usermeta li a:hover {
    color: #fff !important;
  }
}
/*--------------------------------------------------------------
# Youzify Sidebar
--------------------------------------------------------------*/
.youzify-wp-widget-box a {
  color: #fff;
}

.youzify-sidebar .wb-bp-profile-completion-wrap {
  padding: 25px;
}

.youzify-sidebar #members-carousel-list,
.youzify-sidebar #members-carousel-list-widget,
.youzify-sidebar #groups-carousel-list,
.youzify-sidebar #groups-carousel-list-widget {
  padding: 0 25px 25px;
}

.youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap {
  padding: 25px;
}

.youzify-sidebar .widget_bp_reign_activity_widget .site-activity-view-all-button {
  margin: 0;
  padding: 0 25px 25px;
}

.youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap ul.site-wide-stream.reign-activity-list.reign-clearfix > li {
  margin: 40px 0;
}

.youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap .youzify_effect {
  visibility: visible;
}

.youzify .youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap .activity-inner,
.youzify .youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap .youzify-activity-embed {
  padding: 0;
}

.youzify .youzify-sidebar .widget_bp_reign_activity_widget .reign-wrap .reign-activity-avatar + .reign-activity-content.reign-clearfix {
  margin-top: -35px;
}

.youzify-sidebar .widget_bp_core_login_widget .bp-login-widget-user-links {
  margin-right: 0;
}

.youzify-sidebar .widget_bp_core_login_widget .bp-login-widget-user-avatar {
  float: none;
}

.youzify-sidebar .widget_recent_entries li a {
  margin-bottom: 0;
  color: #8a8a8a;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 25px;
  display: block;
}

.youzify-sidebar .widget_recent_entries li:last-child {
  padding-bottom: 20px;
}

.youzify-sidebar .widget_calendar .calendar_wrap {
  padding: 25px;
}

.youzify-sidebar .widget_calendar .calendar_wrap caption {
  margin: 0 0 10px;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
body #youzify .widget_bp_core_login_widget .bp-login-widget-user-links,
.youzify-sidebar .widget_bp_core_login_widget .bp-login-widget-user-links {
  margin-right: 0;
}

body #youzify .widget_bp_core_login_widget .bp-login-widget-user-avatar,
.youzify-sidebar .widget_bp_core_login_widget .bp-login-widget-user-avatar {
  float: none;
}

body #youzify .widget_recent_entries li a {
  margin-bottom: 0;
  color: #8a8a8a;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 25px;
  display: block;
}

body #youzify .widget-content.widget_recent_entries li:first-child {
  padding-top: 20px;
}

body #youzify .widget_calendar .calendar_wrap {
  padding: 25px;
}

body #youzify .widget_calendar .pad {
  background-color: #fff;
}

body .youzify-reset-options,
body .youzify-save-options {
  line-height: 45px;
}

body #youzify .youzify-sidebar .woocommerce ul.cart_list,
body #youzify .youzify-sidebar .woocommerce ul.product_list_widget,
body #youzify .youzify-sidebar .widget_shopping_cart_content,
body #youzify .youzify-sidebar .tagcloud,
body #youzify .youzify-sidebar ul.product-categories,
body #youzify .youzify-sidebar form.woocommerce-product-search {
  padding: 15px 25px;
}

body #youzify .youzify-sidebar .woocommerce bdi {
  font-size: 13px;
  margin-top: 5px;
  display: inline-block;
}

body #youzify .youzify-sidebar ul.product-categories > li + li {
  margin-top: 10px;
}

body #youzify .youzify-sidebar ul.product-categories > li ul {
  margin-right: 18px;
}

body #youzify .youzify-sidebar ul.product-categories > li ul li {
  margin-top: 10px;
}

.youzify-sidebar .widget-content .widget-title {
  border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.youzify-wp-widget-box a {
  color: #fff;
}

body .buddypress.widget .item-options {
  flex-flow: row wrap;
  gap: 8px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

body .sticky-sidebar .buddypress.widget .item-options {
  padding: 0 !important;
}

body .sticky-sidebar .buddypress.widget .item-list {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

body .buddypress div.item-options a,
body .widget.buddypress.widget_bp_core_members_widget div.item-options a,
body .widget.buddypress.widget_bp_groups_widget div.item-options a {
  color: #fff !important;
  font-size: 10px !important;
  box-shadow: none;
  font-weight: 600;
  margin-left: 0;
  padding: 6px 12px;
  text-shadow: none;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.05em;
  border: none !important;
  text-transform: uppercase;
}

body .buddypress div.item-options {
  flex-flow: row wrap;
}

body .footer-wrap .buddypress.widget .item-options {
  flex-flow: row wrap;
}

body .footer-wrap .buddypress.widget .item-list,
body .footer-wrap .buddypress.widget .item-options,
body .footer-wrap .buddypress.widget_block .item-list,
body .footer-widget-area .buddypress.widget .item-list,
body .footer-widget-area .buddypress.widget .item-options {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

body .footer-wrap .footer-widget-area .buddypress.widget .item-options,
body .footer-widget-area .buddypress.widget .item-options {
  padding: 0 !important;
}

body .footer-wrap .footer-widget-area .buddypress.widget .item-list,
body .footer-widget-area .buddypress.widget .item-list {
  margin: 0 -12px;
}

body .widget_archive li,
body .widget_categories li,
body .widget_meta li,
body .widget_nav_menu li a,
body .widget_pages li a {
  margin-bottom: 0;
  color: #8a8a8a;
  font-size: 13px;
  line-height: 24px;
  padding: 15px 25px;
}

.widget_bp_core_recently_active_widget .item-avatar,
.widget_bp_core_whos_online_widget .item-avatar,
.widget_bp_follow_following_widget .item-avatar {
  line-height: 1;
}

.widget_bp_core_recently_active_widget .item-avatar img,
.widget_bp_core_whos_online_widget .item-avatar img,
.widget_bp_follow_following_widget .item-avatar img {
  margin: 0 !important;
}

.youzify-sidebar .widget_bp_core_recently_active_widget .avatar-block,
.youzify-sidebar .widget_bp_core_whos_online_widget .avatar-block,
.youzify-sidebar .widget_bp_follow_following_widget .avatar-block {
  padding: 17px;
}

.footer-widget-area .widget_bp_core_recently_active_widget .avatar-block,
.footer-widget-area .widget_bp_core_whos_online_widget .avatar-block,
.footer-widget .widget_bp_follow_following_widget .avatar-block {
  margin: 0 -8px;
}

.youzify-sidebar .widget_block .wp-block-search__label,
.youzify-sidebar .widget_block .wp-block-heading {
  display: block;
  margin: 0;
  border: none;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0;
  padding: 20px 25px;
  border-bottom: 1px solid var(--reign-site-border-color);
}

.youzify-sidebar .widget_block .wp-block-latest-posts,
.youzify-sidebar .widget_block .widget_recent_comments,
.youzify-sidebar .widget_block ul.wp-block-page-list,
.youzify-sidebar .widget_block .wp-block-search__inside-wrapper,
.youzify-sidebar .widget_block .wp-block-latest-comments {
  padding: 20px 25px;
}

.widget-area .widget.buddypress #members-list li {
  display: flex;
}

body #reign-sidebar-left .buddypress.widget .item-list,
body #reign-sidebar-left .buddypress.widget .item-options,
body #reign-sidebar-left .buddypress.widget_block .item-list,
body #reign-sidebar-right .buddypress.widget .item-list,
body #reign-sidebar-right .buddypress.widget .item-options,
body #reign-sidebar-right .buddypress.widget_block .item-list {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Tooltip */
body .youzify-tooltip:after,
body .youzify-tooltip:before,
body [data-youzify-tooltip]:after,
body [data-youzify-tooltip]:before {
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  z-index: 1000000;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  bottom: 100%;
}

body .youzify-tooltip:after,
body [data-youzify-tooltip]:after {
  color: #fff;
  font-weight: 600;
  line-height: 12px;
  padding: 10px 15px;
  background: #333740;
  white-space: nowrap;
  content: attr(data-youzify-tooltip);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  transform: translateX(50%);
  left: auto;
  top: auto;
  border: 0;
  font-family: inherit;
  border-radius: 3px;
  box-shadow: none;
}

.widget_bp_core_members_widget .item-list .vcard,
.widget_bp_groups_widget .item-list li {
  overflow: visible;
}

/*--------------------------------------------------------------
# Color Scheme
--------------------------------------------------------------*/
body.youzify-color-mode-active .youzify #activity-stream .ac-form,
body.youzify-color-mode-active .youzify .activity-comments {
  background-color: var(--reign-site-secondary-bg-color);
}
body.youzify-color-mode-active #youzify-blogs-list .item .item-title a,
body.youzify-color-mode-active #youzify-groups-list .item .item-title a,
body.youzify-color-mode-active .youzify .activity-comments .acomment-meta > a,
body.youzify-color-mode-active #youzify .activity-meta a,
body.youzify-color-mode-active #youzify .activity-meta a:before,
body.youzify-color-mode-active #youzify .activity-meta i,
body.youzify-color-mode-active #youzify .youzify-activity-statistics .youzify-post-comments-count i,
body.youzify-color-mode-active #youzify .youzify-activity-statistics .youzify-post-shares-count i,
body.youzify-color-mode-active .youzify-profile-list-widget .youzify-more-items a,
body.youzify-color-mode-active .youzify-quick-buttons .youzify-button-item i,
body.youzify-color-mode-active .youzify-quick-buttons .youzify-button-item span,
body.youzify-color-mode-active .youzify-uploader-change-item h2 {
  color: var(--reign-site-headings-color);
}
@media (hover: hover) and (pointer: fine) {
  body.youzify-color-mode-active #youzify .activity-meta a.acomment-reply:hover:before,
  body.youzify-color-mode-active #youzify .activity-meta a.delete-activity:hover:before,
  body.youzify-color-mode-active #youzify .activity-meta a:not(.loading).acomment-delete:hover:before,
  body.youzify-color-mode-active #youzify .activity-meta a:not(.loading).youzify-edit-activity:hover:before,
  body.youzify-color-mode-active #youzify .activity-meta a:not(.loading):hover:before,
  body.youzify-color-mode-active .youzify .acomment-options a:not(.loading).delete-activity-single:hover:before,
  body.youzify-color-mode-active .youzify .acomment-options a:not(.loading).delete-activity:hover:before,
  body.youzify-color-mode-active .youzify .acomment-options a:not(.loading).youzify-edit-activity:hover:before,
  body.youzify-color-mode-active #youzify-profile-navmenu .youzify-settings-menu a:hover i {
    color: var(--reign-site-headings-color);
  }
}
body.youzify-color-mode-active #youzify-blogs-list .item .item-meta,
body.youzify-color-mode-active #youzify-groups-list .item .item-meta .group-status,
body.youzify-color-mode-active .youzify-wall-new-post .youzify-post-meta .youzify-meta-item,
body.youzify-color-mode-active #youzify .editfield label .bp-required-field-label,
body.youzify-color-mode-active #youzify .editfield legend .bp-required-field-label {
  color: var(--reign-site-alternate-text-color);
}
body.youzify-color-mode-active #youzify .youzify-directory-filter .item-list-tabs li label,
body.youzify-color-mode-active #youzify .youzify-directory-filter .item-list-tabs li#members-order-select label,
body.youzify-color-mode-active #youzify .youzify-directory #pag-bottom .pag-count,
body.youzify-color-mode-active #youzify #youzify-members-list .youzify-meta-item,
body.youzify-color-mode-active #youzify-wall-form .youzify-wall-options .youzify-wall-opts-item label span,
body.youzify-color-mode-active #youzify-wall-form #whats-new-post-in-box label,
body.youzify-color-mode-active #youzify-wall-form .youzify-wall-textarea,
body.youzify-color-mode-active .youzify .activity-comments .acomment-meta .youzify-report-comment .youzify-report-comment-title,
body.youzify-color-mode-active .youzify .activity-comments .acomment-meta a .time-since,
body.youzify-color-mode-active .youzify-shared-wrapper .time-since,
body.youzify-color-mode-active .youzify .acomment-content .rtmedia-activity-text,
body.youzify-color-mode-active .youzify .acomment-content p,
body.youzify-color-mode-active .youzify .youzify-activity-statistics .youzify-post-comments-count,
body.youzify-color-mode-active .youzify .youzify-activity-statistics .youzify-post-shares-count,
body.youzify-color-mode-active .youzify-wall-new-post .youzify-post-title a,
body.youzify-color-mode-active .youzify-item-tool .youzify-tool-name,
body.youzify-color-mode-active .youzify-activity-statistics .youzify-post-liked-by .youzify-liked-this,
body.youzify-color-mode-active .youzify div.item-list-tabs li#activity-filter-select i,
body.youzify-color-mode-active .youzify-nav-settings .youzify-settings-icon,
body.youzify-color-mode-active .youzify-media-filter .youzify-filter-item .youzify-filter-content,
body.youzify-color-mode-active .youzify-account-head span,
body.youzify-color-mode-active .youzify-account-settings-menu .youzify-menu-head .youzify-menu-description,
body.youzify-color-mode-active .youzify .editfield .field-visibility-settings-notoggle,
body.youzify-color-mode-active .youzify .editfield .field-visibility-settings-toggle,
body.youzify-color-mode-active .youzify-tab-post .youzify-post-meta ul li a,
body.youzify-color-mode-active .youzify-uploader-change-item p,
body.youzify-color-mode-active .youzify .avatar-nav-items li a,
body.youzify-color-mode-active #youzify .item-list-tabs li label,
body.youzify-color-mode-active #youzify .youzify-msg-form-item label,
body.youzify-color-mode-active .youzify-msg-form-item input[type=text]:active,
body.youzify-color-mode-active .youzify-msg-form-item input[type=text]:focus,
body.youzify-color-mode-active .youzify-msg-form-item textarea:active,
body.youzify-color-mode-active .youzify-msg-form-item textarea:focus,
body.youzify-color-mode-active .youzify .editfield .input-options label {
  color: var(--reign-site-body-text-color);
}
body.youzify-color-mode-active .youzify-wall-new-post,
body.youzify-color-mode-active .youzify-msg-form-item input[type=text]:active,
body.youzify-color-mode-active .youzify-msg-form-item input[type=text]:focus,
body.youzify-color-mode-active .youzify-msg-form-item textarea:active,
body.youzify-color-mode-active .youzify-msg-form-item textarea:focus {
  border-color: var(--reign-site-border-color);
}
body.youzify-color-mode-active #buddypress.youzify div.generic-button a,
body.youzify-color-mode-active .buddypress .youzify div.generic-button a,
body.youzify-color-mode-active .youzify-user-actions a {
  color: var(--yzfy-button-text-color);
  background-color: var(--yzfy-button-bg-color);
}
@media (hover: hover) and (pointer: fine) {
  body.youzify-color-mode-active .youzify-directory .pagination .page-numbers:not(.current):hover {
    color: var(--reign-site-body-text-color);
    background-color: var(--reign-site-secondary-bg-color);
  }
}
body.youzify-color-mode-active #youzify .activity-meta a.unfav:before {
  color: #fb6358;
}
body.youzify-color-mode-active .youzify-search-input-with-dropdown .youzify-search-input {
  color: var(--reign-form-text-color);
}
body.youzify-color-mode-active .youzify .bp-avatar .warning,
body.youzify-color-mode-active .youzify .bp-cover-image .warning {
  color: var(--reign-site-body-text-color);
  background-color: var(--reign-site-secondary-bg-color);
}
body.youzify-color-mode-active .youzify table {
  background: var(--reign-site-sections-bg-color);
}
body.youzify-color-mode-active .youzify table tbody tr {
  border-color: var(--reign-site-border-color);
}
body.youzify-color-mode-active .youzify-section-content tr {
  border-color: var(--reign-site-border-color);
}
body.youzify-color-mode-active .youzify table tbody td,
body.youzify-color-mode-active .youzify table tbody td a {
  color: var(--reign-site-body-text-color);
}

[data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker,
[data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-filters .youzify-emojionearea-filter.active,
.dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker,
.dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-filters .youzify-emojionearea-filter.active {
  background: var(--reign-site-sections-bg-color);
}
[data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-filters,
.dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-filters {
  background: var(--reign-site-secondary-bg-color);
}
@media (hover: hover) and (pointer: fine) {
  [data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-scroll-area .emojibtn:hover,
  .dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-scroll-area .emojibtn:hover {
    background: var(--reign-site-secondary-bg-color);
  }
}
[data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-scroll-area .youzify-emojionearea-category-title,
.dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-scroll-area .youzify-emojionearea-category-title {
  background: var(--reign-site-sections-bg-color);
  color: var(--reign-site-body-text-color);
}
[data-bx-mode=dark] body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-search > input,
.dark-scheme body.youzify-color-mode-active .youzify-emojionearea .youzify-emojionearea-picker .youzify-emojionearea-search > input {
  color: var(--reign-site-body-text-color);
  border-color: var(--reign-site-border-color);
}

.youzify #activity-stream .ac-form.ac-form textarea,
#youzify-wall-form .youzify-wall-custom-form .youzify-wall-cf-item textarea,
#youzify .editfield textarea,
#group-settings-form input,
#group-settings-form textarea,
.youzify-group-settings-tab textarea {
  border-radius: 6px;
}

#youzify-not-friend-message,
.quote-with-img .youzify-quote-main-content,
.youzify .activity-list > li,
.youzify .item-list-tabs,
.youzify .item-list-tabs ul li select,
.youzify-box-button,
.youzify-box-head .youzify-box-icon i,
.youzify-loading .youzify_msg,
.youzify-page-btns-border-radius .youzify-account-menu a,
.youzify-page-btns-border-radius .youzify-social-buttons a,
.youzify-skillbar,
.youzify-skillbar-bar,
.youzify-tab .youzify-tab-head,
.youzify-utag-item .youzify-utags-border-radius .youzify-utag-value-item,
.youzify-video-head .youzify-video-title i,
.youzify-wg-border-radius .youzify-boxed-navbar,
.youzify-wg-border-radius.youzify-vertical-layout #youzify-profile-navmenu,
#bp-login-widget-form #bp-login-widget-submit,
#bp-login-widget-form .bp-login-widget-register-link a,
#message,
#youzify-wall-nav,
.widget_bp_core_login_widget .bp-login-widget-user-logout a,
.widget_bp_core_members_widget .item-options a,
.widget_bp_core_sitewide_messages .bp-site-wide-message button,
.widget_bp_groups_widget .item-options a,
.youzify div.item-list-tabs .nice-select,
.youzify div.item-list-tabs .youzify-bar-select,
.youzify-actions-btn-border-radius a,
.youzify-card-avatar-border-radius .item-avatar,
.youzify-card-avatar-border-radius .youzify-blog-avatar,
.youzify-card-avatar-border-radius .youzify-blog-avatar img,
.youzify-card-avatar-border-radius .youzify-group-avatar,
.youzify-card-avatar-border-radius .youzify-group-avatar img,
.youzify-card-avatar-border-radius .youzify-item-avatar,
.youzify-card-avatar-border-radius .youzify-item-avatar img,
.youzify-dialog-container,
.youzify-item-tool .youzify-tool-icon,
.youzify-item-tool .youzify-tool-icon i,
.youzify-items-list-widget .youzify-list-item .youzify-item-action .youzify-icon-button i,
.youzify-list-avatar-radius .youzify-item-avatar img,
.youzify-my-account-widget .youzify-menu-icon-radius .youzify-link-item i,
.youzify-my-account-widget .youzify-menu-links .youzify-link-item .youzify-link-title .youzify-link-count,
.youzify-my-account-widget .youzify-widget-header .youzify-avatar-border-radius img,
.youzify-notif-icons-radius .youzify-notif-item .youzify-notif-icon i,
.youzify-profile-avatars-widget.youzify-list-avatar-radius .youzify-more-items a,
.youzify-rating-show-more,
.youzify-tab-title-box,
.youzify-tooltip:after,
.youzify-wp-widget-box a,
[data-youzify-tooltip]:after,
#youzify-wall-form,
.youzify .activity-list li.load-more,
.youzify-wall-custom-form .youzify-wall-cf-item input,
.youzify-wall-modal,
.youzify-wall-modal-overlay .youzify-modal-loader,
.youzify-wall-new-post,
.youzify-wall-new-post .youzify-wall-nothumb .youzify-thumbnail-icon,
#youzify-directory-search-box form input[type=submit],
#youzify-directory-search-box form input[type=text],
.youzify-directory .pagination .page-numbers,
.youzify-directory-filter,
.youzify-directory-filter .item-list-tabs li a span,
.youzify-group-user-statistics .youzify-data-item span,
.youzify-page-btns-border-radius .action a,
.youzify-page-btns-border-radius .youzify-user-actions a,
.youzify-user-statistics .youzify-data-item span,
.youzify-wg-border-radius .youzify-infobox-content,
.youzify-wg-border-radius .youzify-link-content,
.youzify-wg-border-radius .youzify-slideshow-img,
.youzify-wg-border-radius .youzify-tab-comment,
.youzify-wg-border-radius .youzify-tab-post,
.youzify-wg-border-radius .youzify-widget,
.youzify-wg-border-radius .youzify-widget .youzify-widget-main-content,
.youzify-wg-border-radius .youzify-widget.without-title .youzify-quote-content:before,
.youzify-wg-border-radius .youzify-widget.without-title .youzify-quote-cover,
.youzify-wg-border-radius .youzify-widget.without-title img,
#message-recipients,
#message-recipients .highlight-icon i,
#message-thread .message-box,
#send-reply,
#send-reply #send_reply_button,
#send_message_form,
#send_message_form .submit #send,
#sitewide-notice #message button,
#sitewide-notice p,
.follows .youzify #youzify-members-list li .youzify-user-data,
.follows .youzify-page-btns-border-radius #youzify-members-list .youzify-user-actions a,
.invitations .invitation-actions a span,
.item-list-tabs #search-message-form #messages_search,
.item-list-tabs #search-message-form #messages_search_submit,
.messages-notices .thread-options a span,
.messages-options-nav #messages-bulk-manage,
.messages-options-nav select,
.my-friends .youzify #friend-list li,
.my-friends .youzify #youzify-members-list li .youzify-user-data,
.my-friends .youzify-page-btns-border-radius #friend-list .action a,
.my-friends .youzify-page-btns-border-radius #youzify-members-list .youzify-user-actions a,
.my-groups .youzify #youzify-groups-list li .youzify-group-data,
.my-groups .youzify-page-btns-border-radius #youzify-groups-list .action a,
.notifications .notification-actions a span,
.notifications-options-nav #notification-bulk-manage,
.notifications-options-nav select,
.youzify .pagination .page-numbers,
.youzify-msg-form-item input[type=text],
#group-create-tabs li,
#group-settings-form .youzify-group-field-item input[type=text],
#group-settings-form .youzify-group-submit-form input,
#send-invite-form .submit input,
.group-members #search-members-form #members_search_submit,
.group-members #search-members-form label input,
.group-members-list .section-header i,
.youzify #youzify-members-list li .youzify-user-data,
.youzify .group-members-list li,
.youzify .group-request-list .request-comment .request-title,
.youzify .youzify-boxed-navbar,
.youzify .youzify-delete-group-tab #delete-group-button,
.youzify-group-manage-members-search,
.youzify-group-manage-members-search #members_search_submit,
.youzify-group-manage-members-search #search-members-form #members_search,
.youzify-group-navmenu #membership-requests-groups-li a span,
.youzify-group-navmenu a#members span,
.youzify-group-settings-tab .youzify-group-submit-form input,
.youzify-page-btns-border-radius #youzify-group-buttons .group-button a,
.youzify-page-btns-border-radius #youzify-members-list .youzify-user-actions a,
.youzify-page-btns-border-radius .group-request-list .action a,
.youzify-my-account-widget,
.youzify-sidebar .widget-content,
.youzify-author-box-widget,
.youzify-post-author-box-widget,
.youzify-smart-author-box-widget,
.youzify-wp-author-widget .youzify-author,
.youzify-boxed-navbar,
.youzify-icons-full-width.youzify-icons-radius li a,
.youzify-info-msg,
.youzify-link-icon i,
.youzify-navbar-item a span.count,
.youzify-no-thumbnail .thumbnail-icon i,
.youzify-pagination .page-numbers,
.youzify-pagination .youzify-pagination-pages,
.youzify-portfolio-content figcaption a i,
.youzify-post .youzify-read-more,
.youzify-post-content .youzify-post-tags li,
.youzify-post-content .youzify-post-type,
.youzify-profile-login,
.youzify-profile-navmenu .youzify-navbar-item a span,
.youzify-profile-navmenu .youzify-navbar-item a span.count,
.youzify-project-content .youzify-project-tags li,
.youzify-project-content .youzify-project-type,
.youzify-quote .youzify-quote-owner,
.youzify-quote-icon,
.youzify-rp-img-radius .youzify-no-thumbnail,
.youzify-rp-img-radius .youzify-post-thumbnail,
.youzify-tab-post .youzify-read-more,
.youzify-membership-form {
  border-radius: var(--reign-global-border-radius);
}

#youzify-groups-list li .youzify-group-data,
#youzify-members-list > li .youzify-user-data,
.youzify-cover,
.youzify-cover .youzify-cover-pattern {
  border-top-left-radius: var(--reign-global-border-radius);
  border-top-right-radius: var(--reign-global-border-radius);
}

#youzify-members-list > li.youzify-show-cover .youzify-user-data,
#youzify-groups-list li.youzify-show-cover .youzify-group-data {
  border-bottom-left-radius: var(--reign-global-border-radius);
  border-bottom-right-radius: var(--reign-global-border-radius);
}

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
.youzify-activity-shortcode #youzify .youzify-page,
.youzify-directory-shortcode #youzify .youzify-page {
  width: 100%;
  margin-right: 0;
  right: auto;
  padding: 0;
}

.site .site-content .youzify-activity-shortcode #youzify,
.site .site-content .youzify-directory-shortcode #youzify {
  margin-top: 0;
}

.youzify-widget .youzify-widget-content p {
  margin-top: 0;
}

.youzify-directory-shortcode .youzify div.item-list-tabs {
  margin: 0;
  padding: 0;
}

.youzify-directory-shortcode .item-list-tabs #members-order-select {
  margin-right: 10px;
}

.youzify-directory-shortcode .youzify-cover img {
  height: 150px;
}

/*--------------------------------------------------------------
# Login Pop
--------------------------------------------------------------*/
.registration-login-form-popup .youzify-membership-page-box {
  padding: 0;
}

.registration-login-form-popup .youzify-membership-form {
  width: 100%;
  border-radius: 0 !important;
  box-shadow: none;
}

.registration-login-form-popup .youzify-error {
  width: calc(100% - 60px);
  margin: 30px;
  font-weight: 500;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: var(--reign-site-secondary-bg-color);
  border-right: 6px solid var(--reign-color-error);
}

/*--------------------------------------------------------------
## Advaced Polls
--------------------------------------------------------------*/
.youzify-color-mode-active .youzify-classic-poll-options .yzap-classic-option-item,
.youzify-color-mode-active .youzify-versus-poll-options .yzap-option-item {
  background-color: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active .yzap-classic-option-label,
.youzify-color-mode-active .yzap-versus-option-label {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active .yzap-poll-item-title {
  color: var(--reign-site-headings-color);
}

/*--------------------------------------------------------------
## Who Viewed My Profile
--------------------------------------------------------------*/
.youzify-color-mode-active .yzbpv-visitors-box.yzbpv-visitors-box {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active .yzbpv-vb-title.yzbpv-vb-title {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active .yzbpv-vb-desc.yzbpv-vb-desc {
  color: var(--reign-site-alternate-text-color);
}
.youzify-color-mode-active #youzify-members-list .item .item-meta span.yzbpv-visited-tab.yzbpv-visited-tab,
.youzify-color-mode-active .youzify-reviews .youzify-widget-content {
  background: var(--reign-site-secondary-bg-color);
}

/*--------------------------------------------------------------
## BuddyPress profile completeness
--------------------------------------------------------------*/
.youzify-color-mode-active div.yzpc-widget,
.youzify-color-mode-active div.yzpc-widget .yzpc-fields .yzpc-field-item {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.yzpc-widget .yzpc-widget-title,
.youzify-color-mode-active div.yzpc-widget .yzpc-head-circle .yzpc-circle-percent,
.youzify-color-mode-active div.yzpc-widget .yzpc-item-content .yzpc-item-title {
  color: var(--reign-site-headings-color);
}
@media (hover: hover) and (pointer: fine) {
  .youzify-color-mode-active div.yzpc-widget .yzpc-task .yzpc-task-head:hover .yzpc-item-title {
    color: var(--reign-site-headings-color);
  }
}
.youzify-color-mode-active div.yzpc-widget .yzpc-widget-description,
.youzify-color-mode-active div.yzpc-widget .yzpc-item-content .yzpc-item-description,
.youzify-color-mode-active div.yzpc-widget .yzpc-fields .yzpc-field-item {
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active div.yzpc-widget .yzpc-fields {
  background-color: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active div.yzpc-widget .yzpc-tasks,
.youzify-color-mode-active div.yzpc-widget .yzpc-fields,
.youzify-color-mode-active div.yzpc-widget .yzpc-fields .yzpc-field-item,
.youzify-color-mode-active div.yzpc-widget .yzpc-fields .yzpc-fields-parent-item {
  border-color: var(--reign-site-border-color);
}

/*--------------------------------------------------------------
## Two-factor Authentication
--------------------------------------------------------------*/
.youzify-color-mode-active #youzify-export-data .youzify-section-content,
.youzify-color-mode-active div.youzify-section-content > .uk-option-item,
.youzify-color-mode-active div.yz2fa-enable-tfa-container {
  background: var(--reign-site-sections-bg-color);
  border-color: var(--reign-site-border-color);
}
.youzify-color-mode-active .youzify-account-page #message {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.yz2fa-enable-tfa,
.youzify-color-mode-active .settings-inner-content .options-section-title h2 i {
  background: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active div.yz2fa-box-title.yz2fa-box-title-disabled,
.youzify-color-mode-active .yz2fa-field-input.yz2fa-field-input input,
.youzify-color-mode-active #youzify .option-content input:not([type=radio]):not(.uk-upload-button):not(.wp-color-picker):not(.wp-picker-clear):not(.ed_button) {
  border-color: var(--reign-site-border-color);
}
.youzify-color-mode-active div.yz2fa-box-title {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active div.yz2fa-box-desc {
  color: var(--reign-site-body-text-color);
}

/*--------------------------------------------------------------
## BuddyPress Advanced Albums
--------------------------------------------------------------*/
.youzify-color-mode-active div.youzify-albums-fields,
.youzify-color-mode-active div.youzify-albums-media-items .youzify-albums-attachment-item-group,
.youzify-color-mode-active div.youzify-media-items .youzify-album-item.youzify-media-item,
.youzify-color-mode-active div.youzify-media-item .youzify-item-data {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.youzify-albums-fields label {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active div.youzify-albums-fields input,
.youzify-color-mode-active div.youzify-albums-fields textarea,
.youzify-color-mode-active .youzify-albums-fields .nice-select {
  background: var(--reign-site-secondary-bg-color);
  border-color: var(--reign-site-border-color);
}
.youzify-color-mode-active div.youzify-albums-upload-btn {
  background: var(--reign-site-secondary-bg-color);
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active .youzify-wall-post-box,
.youzify-color-mode-active .youzify-media-group-files .youzify-media-item .youzify-media-download {
  background: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active body .youzify-albums-attachment-item-group .youzify-albums-attachment-description.youzify-albums-attachment-description {
  border-color: var(--reign-site-border-color);
}
.youzify-color-mode-active div.youzify-media-item .youzify-item-data .youzify-item-title {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active div.youzify-media-item .youzify-item-data .youzify-item-meta {
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active .youzify-media-4columns .youzify-media-item {
  border-color: var(--reign-site-sections-bg-color);
}

div.youzify-albums-submit {
  height: auto;
}

/*--------------------------------------------------------------
## Frontend Post Submission
--------------------------------------------------------------*/
.youzify-color-mode-active div#subnav.item-list-tabs,
.youzify-color-mode-active div.yzfes-tab-post,
.youzify-color-mode-active div.yzfes-info-msg.yzfes-failure-msg,
.youzify-color-mode-active div#yzfes #yzfes-export-data .yzfes-section-content,
.youzify-color-mode-active div#yzfes .yzfes-section-content > .yzfes-option-item {
  background-color: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.yzfes-tab-post .yzfes-post-title a {
  color: var(--reign-site-link-color);
}
@media (hover: hover) and (pointer: fine) {
  .youzify-color-mode-active div.yzfes-tab-post .yzfes-post-title a:hover {
    color: var(--reign-site-link-hover-color);
  }
}
.youzify-color-mode-active div.yzfes-tab-post .yzfes-post-meta ul li {
  color: var(--reign-site-alternate-text-color);
}
.youzify-color-mode-active div.yzfes-tab-post .yzfes-post-text p {
  color: var(--reign-site-body-text-color);
}

/*--------------------------------------------------------------
## Members Search
--------------------------------------------------------------*/
.youzify-color-mode-active .youzify-search-input-with-dropdown,
.youzify-color-mode-active div.yzms-form-content {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active .youzify-search-input-with-dropdown .youzify-btn-dropdown,
.youzify-color-mode-active div.yzms-form-desc {
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active div.youzify-vertical-divider {
  background: var(--reign-site-border-color);
}
.youzify-color-mode-active div.yzms-form-title,
.youzify-color-mode-active legend.yzms-field-title {
  color: var(--reign-site-headings-color);
}

.yzms-filter-fields input {
  width: 100%;
}

.yzms-filter-fields .yzms-options-placeholder {
  width: 100% !important;
}

/*--------------------------------------------------------------
## Block Members
--------------------------------------------------------------*/
.youzify-color-mode-active div.youzify-blocked-member-item {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.youzify-blocked-members-list {
  background-color: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active div.youzify-blocked-member-item .youzify-item .youzify-name {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active div.youzify-blocked-member-item .youzify-item .youzify-meta {
  color: var(--reign-site-body-text-color);
}

/*--------------------------------------------------------------
## BuddyPress Moderation
--------------------------------------------------------------*/
.youzify-color-mode-active #youzify-modal .youzify-modal.youzify-modal,
.youzify-color-mode-active #youzify-modal .youzify-modal-actions.youzify-modal-actions {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active #youzify-modal .youzify-modal.youzify-modal,
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item .option-desc.option-desc {
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item .option-title.option-title {
  color: var(--reign-site-headings-color);
}
.youzify-color-mode-active #youzify-modal .youzify-modal .nice-select,
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item.uk-option-item select,
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item.uk-option-item input[type=email],
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item.uk-option-item input[type=text],
.youzify-color-mode-active #youzify-modal .youzify-modal .uk-option-item.uk-option-item textarea {
  background-color: var(--reign-site-secondary-bg-color);
  color: var(--reign-site-body-text-color);
}
.youzify-color-mode-active .youzify-dialog-container .yz-dialog-buttons a.yzbm-close-dialog.yzbm-close-dialog,
.youzify-color-mode-active .youzify-dialog-container .youzify-dialog-buttons a.youzify-close-dialog.youzify-close-dialog {
  border-color: var(--reign-site-border-color);
  color: var(--reign-site-headings-color);
}

/*--------------------------------------------------------------
## BuddyPress Activity Reactions
--------------------------------------------------------------*/
.youzify-color-mode-active div.yzpr-wall-modal,
.youzify-color-mode-active div.yzpr-wall-modal-actions {
  background: var(--reign-site-sections-bg-color);
}
.youzify-color-mode-active div.yzpr-wall-modal-actions,
.youzify-color-mode-active div.yzpr-modal-reactors-head {
  border-color: var(--reign-site-border-color);
}
.youzify-color-mode-active div.yzpr-modal-reactors-head .yzpr-modal-head-emoji.yzpr-modal-active-tab {
  background: var(--reign-site-secondary-bg-color);
}
.youzify-color-mode-active div.yzpr-users-who-list .yzpr-list-item .yzpr-item-name a {
  color: var(--reign-site-link-color);
}
@media (hover: hover) and (pointer: fine) {
  .youzify-color-mode-active div.yzpr-users-who-list .yzpr-list-item .yzpr-item-name a:hover {
    color: var(--reign-site-link-hover-color);
  }
}
.youzify-color-mode-active div.yzpr-users-who-list .yzpr-list-item .yzpr-item-meta {
  color: var(--reign-site-alternate-text-color);
}

/*--------------------------------------------------------------
## BuddyPress Schedule Activity
--------------------------------------------------------------*/
body .youzify button.bp-schedule-activity {
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  border: 1px solid var(--reign-site-button-bg-color);
  border-radius: var(--reign-global-button-radius);
}
@media (hover: hover) and (pointer: fine) {
  body .youzify button.bp-schedule-activity:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
    border: 1px solid var(--reign-site-button-bg-hover-color);
  }
}

body .youzify .bp-activity-schedule-model-wrap .modal-container .bp-model-footer button.button-outline {
  background: transparent;
  border: 1px solid var(--reign-site-border-color);
}
@media (hover: hover) and (pointer: fine) {
  body .youzify .bp-activity-schedule-model-wrap .modal-container .bp-model-footer button.button-outline:hover {
    background-color: var(--reign-site-button-bg-color);
    color: var(--reign-site-button-text-color);
    border: 1px solid var(--reign-site-button-bg-color);
  }
}

/*--------------------------------------------------------------
## BuddyPress WooCommerce Integration
--------------------------------------------------------------*/
body #youzify .youzify .woocommerce {
  padding: 35px 40px;
  background-color: var(--reign-site-sections-bg-color);
  margin-top: 20px;
  line-height: 1.5;
}
body #youzify .youzify .woocommerce-info,
body #youzify .youzify .woocommerce .col2-set,
body #youzify .youzify .woocommerce-page .col2-set {
  margin-top: 20px;
}
body #youzify .youzify .woocommerce-Address-title h2 {
  margin-bottom: 20px;
}
body #youzify .youzify .youzify-main-column > h2,
body #youzify .youzify .youzify-main-column .cart_totals h2 {
  line-height: 1.5;
}
body #youzify .youzify .youzify-main-column .wb-grid-cell {
  max-width: 100%;
  flex: 0 0 100%;
}

.youzify div.item-list-tabs #shop-order-personal-li > a i:before {
  content: "\f218";
}

.youzify div.item-list-tabs #shop-order-tracking-personal-li > a i:before {
  content: "\f48b";
}

.youzify div.item-list-tabs #shop-addresses-personal-li > a i:before {
  content: "\f2b9";
}

.youzify div.item-list-tabs #shop-download-personal-li > a i:before {
  content: "\f019";
}

.youzify div.item-list-tabs #shop-my-reviews-personal-li > a i:before {
  content: "\f005";
}

.youzify div.item-list-tabs li > a#bpwoo-subnav-item-icon i:before {
  content: "\f07a";
}

.youzify div.item-list-tabs li > a#bpwoo-subnav-checkout-item-icon i:before {
  content: "\f09d";
}

.youzify .woocommerce-pagination .button {
  display: inline-block;
  background-color: var(--reign-site-button-bg-color);
  color: var(--reign-site-button-text-color);
  padding: 10px 20px;
  border: 1px solid var(--reign-site-button-bg-color);
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  border-radius: var(--reign-global-button-radius);
  text-transform: none;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 400;
  text-shadow: none;
  font-family: inherit;
}
.youzify .woocommerce-pagination .button:focus {
  background-color: var(--reign-site-button-bg-hover-color);
  color: var(--reign-site-button-text-hover-color);
  border: 1px solid var(--reign-site-button-bg-hover-color);
}
@media (hover: hover) and (pointer: fine) {
  .youzify .woocommerce-pagination .button:hover {
    background-color: var(--reign-site-button-bg-hover-color);
    color: var(--reign-site-button-text-hover-color);
    border: 1px solid var(--reign-site-button-bg-hover-color);
  }
}