/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Themes Specific
    # Buddyx
    # BuddyBoss
    # Boss
    # Aardvark
    # Kleo
    # Gwangi
    # OneCommunity
# Youzify
# BB Platform
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
.bp-nouveau #whats-new-options {
    opacity: 1;
    display: block;
}

#whats-new-options .post-elements-buttons-item {
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

#whats-new-submit {
    clear: both;
}

@media screen and (min-width: 46.8em) {
    #whats-new-options .post-elements-buttons-item:first-child {
        margin-left: 65px;
    }
}

.bp-nouveau .bpquotes-bg-selection-div {
    margin: 0 5px;
}

.bpquotes-bg-selection-div {
    max-width: 100%;
    clear: both;
}

.quote-btn {
    margin: 0;
    display: inline-block;
    font-size: 14px;
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (min-width: 46.8em) {
    .bp-nouveau .bpquotes-bg-selection-div {
        margin-left: 65px;
        margin-right: 5px;
    }
}

.bpquotes-color div,
.remove-bpquotes-selection div {
    width: 100%;
    height: 100%;
    border-radius: 8px !important;
}

.bpquotes-color,
.remove-bpquotes-selection {
    min-width: 50px;
    width: 50px;
    height: 50px;
}

.bpquotes-img,
.bpquotes-color,
.remove-bpquotes-selection {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 100vh !important;
    border-radius: 8px !important;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.bpquotes-bg-selection-div .slick-slide {
    max-height: 50px;
    height: 100vh !important;
}

.bpquotes-bg-selection-div .slick-slide {
    margin: 0 5px;
}

body .bpquotes-bg-selection-div .slick-list {
    padding: 10px 0;
}

.bpquotes-bg-selection-div .slick-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px !important;
}

.bpquotes-bg-selection-div .slick-arrow {
    width: 25px !important;
    margin: 0;
    padding: 0 !important;
    height: 25px;
    top: 50%;
    background: #555 !important;
    color: #fff !important;
    z-index: 1;
    border-radius: 3px !important
}

.bpquotes-bg-selection-div .slick-prev {
    left: 0;
}

.bpquotes-bg-selection-div .slick-next {
    right: 0;
    left: auto;
}

.bpquotes-bg-selection-div .slick-arrow:before {
    color: #fff !important;
}

.bpquotes-selection, .remove-bpquotes-selection {
    cursor: pointer;
}

.bpquotes-selection.current,
.remove-bpquotes-selection.current {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.bpquotes-content-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.bpquotes-content-wrapper .quotescolor {
    position: relative;
    overflow: hidden;
    padding: 25px;
}

.bpquotes-content-wrapper .quotesimg {
    padding: 25px;
    background-size: cover;
    vertical-align: middle;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.bpquotes-content-wrapper .quotesimg:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.3);
    top: 0;
    left: 0;
    z-index: 0;
}

.bpquotes-content-wrapper .bpquotes-content,
.activity-list .activity-item .activity-content .bpquotes-content-wrapper .bpquotes-content,
.bp-nouveau .activity-list .activity-item .activity-content .activity-inner .bpquotes-content-wrapper .bpquotes-content {
    padding: 70px 0 70px;
    border: none;
    text-align: left;
    font-style: inherit;
    width: 75%;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: inherit;
    margin: 0 auto !important;
    z-index: 1;
}

.bpquotes-content-wrapper .bpquotes-content p,
.activity-list .activity-item .activity-content .bpquotes-content-wrapper .bpquotes-content p,
.bp-nouveau .activity-list .activity-item .activity-content .activity-inner .bpquotes-content-wrapper .bpquotes-content p {
    border: none;
    text-align: left;
    font-style: inherit;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    color: inherit;
    margin: 0 auto !important;
    z-index: 1;
}

.bpquotes-content .activity-read-more a {
    background: transparent !important;
    color: inherit !important;
}

.bpquotes-content-wrapper .bpquotes-content {
    position: relative;
}

.bpquotes-content-wrapper::before {
    content: '';
    background: url(../images/quote.svg);
    position: absolute;
    left: 25px;
    top: 25px;
    font-size: 24px;
    height: 40px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
    z-index: 9;
}

.widget .bpquotes-content-wrapper .bpquotes-content {
    font-size: inherit;
}

/*textarea.quotescolors-bg-selected,
textarea.quotesimg-bg-selected {
    text-align: center !important;
    color: #fff !important;
}*/

body div#whats-new p {
    color: inherit;
}

.wb-quote.reign-polls.bp-nouveau .bpolls-html-container {
    margin-left: 0;
}

/*--------------------------------------------------------------
## Buddyx
--------------------------------------------------------------*/
.bp-nouveau .site-wrapper .bpquotes-bg-selection-div {
    margin-left: 0;
}

/*--------------------------------------------------------------
## BuddyBoss
--------------------------------------------------------------*/
body.buddyboss-theme .bpquotes-bg-selection-div .slick-next {
    right: 0;
    left: auto;
}

/*--------------------------------------------------------------
## Boss
--------------------------------------------------------------*/
#right-panel-inner #buddypress form#whats-new-form #whats-new-additional {
    display: block;
}

#right-panel-inner .bpquotes-bg-selection-div .slick-arrow {
    padding-left: 8px !important;
}

/*--------------------------------------------------------------
## Aardvark
--------------------------------------------------------------*/
.gp-theme .quote-btn {
    margin-left: 0;
    margin-top: 10px;
}

.gp-theme.buddypress-giphy-active .quote-btn {
    margin-left: 10px;
}

/*--------------------------------------------------------------
## Kleo
--------------------------------------------------------------*/
.kleo-page .bpquotes-bg-selection-div {
    display: none;
}

.kleo-page .bpquotes-bg-selection-div .slick-prev:before,
.kleo-page .bpquotes-bg-selection-div .slick-next:before {
    line-height: inherit;
}

.kleo-page #buddypress #whats-new-content.active #whats-new-options {
    overflow: visible;
}

/*--------------------------------------------------------------
## Gwangi
--------------------------------------------------------------*/
.grimlock .quote-btn,
.grimlock .bpquotes-bg-selection-div {
    order: 1;
}

.grimlock .quote-btn {
    margin-left: 15px;
}

.grimlock .bpquotes-bg-selection-div {
    max-width: 160px;
}

.grimlock #buddypress #item-body form#whats-new-form #whats-new-options #whats-new-submit,
.grimlock #buddypress form#whats-new-form #whats-new-options #whats-new-submit {
    order: 5;
}


/*--------------------------------------------------------------
## OneCommnity
--------------------------------------------------------------*/
.onecommunity #whats-new-form {
    display: block;
}

.onecommunity .quote-btn {
    margin-left: 0;
}

@media screen and (min-width: 46.8em) {
    .bp-nouveau .onecommunity .bpquotes-bg-selection-div {
        margin: 0;
    }
}

.onecommunity #whats-new-options:after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------------------------------------------------
# Youzify
--------------------------------------------------------------*/
.youzify .quote-btn {
    margin-left: 0;
}

/*--------------------------------------------------------------
# BB Platform
--------------------------------------------------------------*/
#whats-new-toolbar .post-elements-buttons-item {
    min-width: 24px;
}

#whats-new-toolbar .post-elements-buttons-item .quote-btn {
    padding: 0;
    border: 0;
    text-align: left;
}

#whats-new-toolbar .post-elements-buttons-item .quote-btn .dashicons {
    width: 24px;
    height: 24px;
    font-size: 22px;
    vertical-align: middle;
}

.bp-nouveau .activity-update-form #whats-new-attachments .bpquotes-bg-selection-div {
    width: calc(100% - 30px);
    margin: 15px;
}