/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .nav-tab-wrapper ul li.General a.nav-tab:before {
    content: "\f111";
}

.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible {
    display: none !important;
}

.wbcom-welcome-head h2.wbcom-welcome-title {
    padding: 18px 25px;
    font-size: 15px;
    background: #2094F3;
    color: #fff;
    margin: 0 -15px 20px;
}

.wbcom-welcome-main-wrapper {
    position: relative;
    font-size: 15px;
    background: #ffffff;
    padding: 0 15px 15px;
    margin: 25px 0;
}

.wbcom-video-link-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 10px;
}

.wbcom-video-link-wrapper iframe,
.wbcom-video-link-wrapper .col-right {
    width: 48%;
    padding: 1%;
}

.wbcom-welcome-support-info {
    border: 1px solid #ddd;
    box-shadow: none;
    margin-bottom: 0;
}

.wbcom-welcome-support-info .three-col p {
    min-height: 70px;
}

.wbcom-welcome-support-info .button-primary {
    padding: 3px 20px;
    border-radius: 5px;
}

form.bnews-gen-form {
    background: #fff;
}

form.bnews-gen-form .form-table th {
    padding: 20px;
}

form.bnews-gen-form p.submit {
    overflow: hidden;
    padding-left: 20px;
}

.form-table td fieldset label.blpro-label-padding {
    display: block;
}

.blpro_excluding_member {
    width: 70%;
}

.bnews-checkbox-label {
    margin: 0 10px;
}

.wbcom-settings-section-options.bnews-general-settings-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    gap: 15px;
}

@media screen and (max-width: 782px) {
    .wb-plugins_page_buddypress_newsfeed .form-table th {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .wbcom-video-link-wrapper iframe,
    .wbcom-video-link-wrapper .col-right {
        width: 100%;
        padding: 0%;
    }
}

.wbcom-wrap .notice.notice-error.is-dismissible.learndash-license-is-dismissible,
#wpwrap .notice.notice-error {
    display: none !important;
}